{{define "agenda"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData (printf "Decred Agenda - %s" .Ai.ID)}}
{{template "navbar" .}}
{{with .Ai}}
<div class="container mt-2" data-controller="agenda" data-agenda-id="{{.ID}}" data-agenda-name="{{.Description}}"
    data-agenda-description="{{.DescriptionDetail}}">
    <nav class="breadcrumbs">
        <a href="/" class="breadcrumbs__item no-underline ps-2">
            <span class="homeicon-tags me-1"></span>
            <span class="link-underline">Homepage</span>
        </a>
        <a href="/agendas" class="breadcrumbs__item item-link">Upgrade Agendas</a>
        <span class="breadcrumbs__item is-active">{{.Title}}</span>
    </nav>
    <div class="common-card mt-3">
        <div class="row justify-content-between p-3">
            <div class="col-24">
                <h4 class="d-inline-block d-md-flex ai-center">{{.Title}}<span
                        class="ms-3 break-word common-label fs15 {{toDashWords .Status.String}}-label">{{toTitleCase
                        .Status.String}}</span></h4>
            </div>
            <div class="col-24 col-md-12">
                <p><span class="fs14">Agenda ID: </span><span class="fs14 common-label tag-label">#{{.ID}}</span>
                    <span class="fs14 ms-3">Voting Interval: </span><span>
                        <span>{{if eq $.VotingStarted 0}}N/A{{else}}<a class="fs14 link-underline"
                                href="/block/{{$.VotingStarted}}">{{intComma $.VotingStarted}}</a>{{end}}</span> -
                        <span>{{if eq $.LockedIn 0}}N/A{{else}}<a class="fs14 link-underline"
                                href="/block/{{$.LockedIn}}">{{intComma $.LockedIn}}</a>{{end}}</span>
                    </span>
                </p>
                <p class="mt-3"><span data-agenda-target="agendaName" class="fw-600 fs16"></span></p>
                <p class="mt-2"><span data-agenda-target="extendDescription" class="fs16"></span></p>
            </div>
            <div class="col-24 col-md-12">
                <div>
                    <div class="fw-bold d-flex ai-center"><p class="mv-120px">Active Time:</p> <span class="fw-400">{{dateWithSlash .StartTime}} -
                            {{dateWithSlash
                            .ExpireTime}}</span></div>
                    <div class="fw-bold d-flex ai-center"><p class="mv-120px mt-0">Vote Version:</p> <span class="fw-400 mb-1">v{{.VoteVersion}}</span></div>
                    {{if gt $.BlocksLeft 0}}<div class="fw-bold d-flex ai-center"><p class="mv-120px">Blocks Left:</p> <span class="fw-400">{{intComma
                            $.BlocksLeft}}</span></div>{{end}}
                    {{if ne $.TimeRemaining ""}}<div class="fw-bold d-flex ai-center"><p class="mv-120px">Remaining:</p> <span
                            class="fw-400">{{$.TimeRemaining}}</span>
                    </div>{{end}}
                    <div class="row ai-center">
                        <div class="col-12">
                            <p class="fw-bold my-0">Voting Result:</p>
                        </div>
                        <div class="col-12">
                            <span class="fw-bold">Quorum:</span> <span
                                class="position-relative {{if $.QuorumYes}}finished{{else}}failed{{end}}-label common-label"
                                data-tooltip="{{int64Comma (int64
                        $.TotalRealVote)}} votes of {{int64Comma (int64 $.RuleChangeQ)}} required">
                                {{if $.QuorumYes}}Yes{{else}}No{{end}}</span>
                        </div>
                    </div>

                    <div class="row ai-center">
                        <div class="col-24 col-md-12">
                            {{if .Choices}}
                            {{$isProgress := (ne (index .Choices 0).Progress 0.0)}}
                            {{$isNotDone := (or (eq .Status.String "started") (eq .Status.String "defined"))}}
                            {{$showProgress := or $isProgress $isNotDone}}
                            <div>
                                {{range $i, $v := .Choices}}
                                {{with $v}}
                                <div class="d-flex ai-center mt-2 ms-3"><span
                                        class="dot-label {{.ID}}-color medium-dot me-2"></span><span
                                        class="fw-600 me-2 position-relative"
                                        data-tooltip="{{.Description}}">{{toTitleCase
                                        .ID}}:</span>{{intComma .Count}} votes
                                    {{if $showProgress}} ({{printf "%.2f" (x100 .Progress)}}%) {{end}}
                                </div>
                                {{end}}
                                {{end}}
                            </div>
                            {{end}}
                        </div>
                        <div class="col-24 col-md-12">
                            <p class="mt-2"><span class="fw-bold">Approval Rating:</span> <span>{{printf "%.1f" (x100
                                    $.ApprovalRate)}}%</span></p>
                            <p class="mt-2"><span class="fw-bold">Locked In:</span> <span>{{intComma (add $.LockedIn (int64
                                    1))}}</span>
                            </p>
                            <p class="mt-2"><span class="fw-bold">Activated:</span> <span>{{intComma (add $.LockedIn (add
                                    ($.RCIBlocks) 1))}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative mt-3">
        <div class="modal position-absolute"></div>
        <div class="common-card p-2">
            <div data-agenda-target="cumulativeVoteChoices" style="width:100%; height:300px; margin:0 auto;"></div>
        </div>
        <div class="common-card p-2 mt-3">
            <div data-agenda-target="voteChoicesByBlock" style="width:100%; height:250px; margin:0 auto;"></div>
        </div>
    </div>
</div>
{{end}}
{{template "footer" . }}
</body>

</html>
{{end}}