{{define "agenda"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData (printf "Decred Agenda - %s" .Ai.ID)}}
{{template "navbar" .}}
{{with .Ai}}
<div class="container mt-2" data-controller="agenda" data-agenda-id="{{.ID}}" data-agenda-name="{{.Description}}"
    data-agenda-description="{{.DescriptionDetail}}">
    <nav class="breadcrumbs">
        <a href="/" class="breadcrumbs__item no-underline ps-2">
            <span class="homeicon-tags me-1"></span>
            <span class="link-underline">Homepage</span>
        </a>
        <a href="/agendas" class="breadcrumbs__item item-link">Upgrade Agendas</a>
        <span class="breadcrumbs__item is-active">Agenda</span>
    </nav>
    <div class="row justify-content-between common-card p-3 mt-2">
        <div class="col-lg-24">
            <h4>{{.Title}}</h4>
        </div>
        <div class="col-lg-12 col-sm-12 d-flex">
            <table>
                <tr>
                    <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Agenda ID</td>
                    <td class="pt-2">
                        <span class="lh1rem common-label tag-label">#{{.ID}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Description</td>
                    <td class="pt-2">
                        <p class="mt-0"><span data-agenda-target="agendaName" class="fw-600"></span></p>
                        <p class="mt-2"><span data-agenda-target="extendDescription" class="lh1_2rem"></span></p>
                    </td>
                </tr>
                <tr>
                    <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Vote Interval</td>
                    <td class="lh1rem pt-2">
                        <span class="break-word">{{if eq $.VotingStarted 0}}N/A{{else}}<a
                                href="/block/{{$.VotingStarted}}">{{$.VotingStarted}}</a>{{end}}</span> -
                        <span class="break-word">{{if eq $.LockedIn 0}}N/A{{else}}<a
                                href="/block/{{$.LockedIn}}">{{$.LockedIn}}</a>{{end}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-7 col-sm-12 d-flex">
            <div>
                <table>
                    <tr>
                        {{if gt $.BlocksLeft 0}}
                        <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Blocks Left</td>
                        <td class="lh1rem pt-2 vat">
                            <span class="break-word">{{intComma $.BlocksLeft}}</span>
                        </td>
                        {{end}}
                    </tr>
                    <tr>
                        {{if ne $.TimeRemaining ""}}
                        <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Remaining</td>
                        <td class="lh1rem pt-2 vat">
                            <span class="break-word">{{$.TimeRemaining}}</span>
                        </td>
                        {{end}}
                    </tr>
                    <tr>
                        <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Vote Version</td>
                        <td class="lh1rem pt-2 vat">
                            <span class="break-word">v{{.VoteVersion}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Agenda Valid</td>
                        <td class="pt-2 vat">
                            <span class="break-word">{{TimeConversion .StartTime}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Agenda Expire</td>
                        <td class="pt-2 vat">
                            <span class="break-word">{{TimeConversion .ExpireTime}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 d-flex">
            <div>
                <table>
                    <tr>
                        <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Status</td>
                        <td class="lh1rem pt-2 vat">
                            <span class="break-word common-label {{toDashWords .Status.String}}-label">{{toTitleCase
                                .Status.String}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start pt-2 pe-2 lh1rem vat nowrap xs-w117 fw-600">Total Votes</td>
                        <td class="pt-2 vat">
                            <span class="break-word">{{$.TotalVotes}}</span>
                        </td>
                    </tr>
                    <tr>
                        {{if gt .QuorumProgress 0.0}}
                        <td class="text-start pt-2 pe-2 fw-600 lh1rem vat nowrap xs-w117">Quorum</td>
                        <td class="lh1rem pt-2 vat">
                            <span class="break-word">{{$.QuorumVotes}}/{{$.RuleChangeQ}} ({{printf "%.2f" (x100
                                .QuorumProgress)}}%)</span>
                        </td>
                        {{end}}
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {{if .Choices}}
    {{$isProgress := (ne (index .Choices 0).Progress 0.0)}}
    {{$isNotDone := (or (eq .Status.String "started") (eq .Status.String "defined"))}}
    {{$showProgress := or $isProgress $isNotDone}}
    <div class="br-8 b--def bgc-plain-bright pb-10 my-3">
        <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
                <thead>
                    <tr class="bg-none">
                        <th>ID</th>
                        <th>Description</th>
                        <th class="text-end">Bits</th>
                        <th class="text-end">Count</th>
                        {{if $showProgress}}
                        <th class="text-end">Rate</th>
                        {{end}}
                    </tr>
                </thead>
                <tbody class="bgc-white">
                    {{range $i, $v := .Choices}}
                    {{with $v}}
                    <tr>
                        <td class="text-start d-flex"><span class="dot-label {{.ID}}-color me-2"></span>{{toTitleCase
                            .ID}}</td>
                        <td class="text-start">{{.Description}}</td>
                        <td class="text-end">{{.Bits}}</td>
                        <td class="text-end">{{.Count}}</td>
                        {{if $showProgress}}
                        <td class="text-end">{{printf "%.2f" (x100 .Progress)}}%</td>
                        {{end}}
                    </tr>
                    {{end}}
                    {{end}}
                    <tr>
                        <td class="text-start py-3" colspan="{{if $showProgress}}5{{else}}4{{end}}">
                            <div class="d-flex justify-content-center">
                                <div class="text-center">
                                    <div class="meter text-center js-only lilbig arch" data-agenda-target="approvalMeter"
                                        data-value="{{$.ApprovalRate}}"
                                        data-threshold="{{$.PassRate}}">
                                        {{printf "%.1f" (x100 $.ApprovalRate)}}%
                                    </div>
                                    <div class="mt-2">
                                        Approval Rating: <span class="fw-600">{{printf "%.2f" (x100
                                            $.ApprovalRate)}}%</span>
                                    </div>
                                    <div class="mt-3">
                                        Quorum: <span
                                            class="{{if $.QuorumYes}}finished{{else}}failed{{end}}-label common-label fw-600">
                                            {{if $.QuorumYes}}Yes{{else}}No{{end}}</span> ({{int64Comma (int64
                                        $.TotalRealVote)}} votes of {{int64Comma (int64 $.RuleChangeQ)}} required)
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{end}}
    <div class="position-relative">
        <div class="modal position-absolute"></div>
        <div class="common-card p-2">
            <div data-agenda-target="cumulativeVoteChoices" style="width:100%; height:300px; margin:0 auto;"></div>
        </div>
        <br>
        <div class="common-card p-2">
            <div data-agenda-target="voteChoicesByBlock" style="width:100%; height:250px; margin:0 auto;"></div>
        </div>
    </div>
</div>
{{end}}
{{template "footer" . }}
</body>

</html>
{{end}}