{{define "voteTable"}}
<div class="row">
  <div class="col-24 col-md-12">
    <div class="d-flex ai-center mt-2 ms-3"><span class="dot-label yes-color medium-dot me-2"></span><span
        class="fw-600 me-2">Ayes:</span>{{.Aye}} votes ({{printf "%.2f" (x100 (rateCalculate .Aye .Nay .Abstain))}}%)</div>
    <div class="d-flex ai-center mt-2 ms-3"><span class="dot-label no-color medium-dot me-2"></span><span
        class="fw-600 me-2">Nays:</span>{{.Nay}} votes ({{printf "%.2f" (x100 (rateCalculate .Nay .Aye .Abstain))}}%)</div>
    <div class="d-flex ai-center mt-2 ms-3"><span class="dot-label abstain-color medium-dot me-2"></span><span
        class="fw-600 me-2">Abstain:</span>{{.Abstain}} votes ({{printf "%.2f" (x100 (rateCalculate .Abstain .Nay .Aye))}}%)</div>
  </div>
  <div class="col-24 col-md-12 text-center">
    {{if .IsVoting}}
    <span>Approval Rating: <span class="fw-600">{{printf "%.1f" (f32x100 .Approval)}}%</span></span>
    {{else if or .IsFailed .IsLocked .IsActive}}
    <div class="approval meter text-center js-only large-gap" data-agendas-target="approvalMeter"
      data-approval="{{.Approval}}" data-threshold="{{.PassThreshold}}">
      {{printf "%.1f" (f32x100 .Approval)}}%
    </div><br>
    <span>Approval Rating
      {{if or .IsLocked .IsActive}}
      <span class="common-label finished-label ms-1 fs13">passed</span>
      {{else}}
      <span class="common-label failed-label ms-1 fs13">rejected</span>
      {{end}}
    </span>
    {{end}}
  </div>
</div>
{{end}}{{/* END VOTE TABLE DEFINITION */}}
{{define "agendas"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData "Consensus Deployment Agendas"}}
{{template "navbar" .}}
<div class="container mt-2 pb-5" data-controller="agendas">
  <nav class="breadcrumbs">
    <a href="/" class="breadcrumbs__item no-underline ps-2">
      <span class="homeicon-tags me-1"></span>
      <span class="link-underline">Homepage</span>
    </a>
    <span class="breadcrumbs__item is-active">Upgrade Agendas</span>
  </nav>
  {{- /* PRIMARY INFO CARD. LISTS AGENDAS AND SHOWS RCI/SVI PROGRESS BARS */}}
  {{with .VotingSummary}}
  <div class="row mt-2 ai-center">
    <div class="px-1 text-start col-24 col-lg-12 my-2">
      <h4 class="mb-2">Active Agendas</h4>
      {{range .Agendas}}
      <div class="fs16 w-100 text-start bg-white mb-3 p-3 pt-0 px-0 pt-2 common-card">
        {{if .IsDefined}}
        {{if .VotingTriggered}}
        <span class="fs18 fw-bold lh1rem">{{.ID}} vote scheduled</span><br />
        <span class="fs14 d-inline-block lh1rem mb-2">voting begins at block {{$.VotingSummary.NextRCIHeight}} (about
          <span class="fw-bold">{{secondsToShortDurationString $.VotingSummary.TilNextRCI}}</span>)</span><br />
        <p class="ms-3">{{.Description}}</p>
        {{else}}
        <span class="fs18 fw-bold me-2">{{.ID}}</span><br>
        <p class="ms-3">{{.Description}}</p>
        {{end}}
        {{else if .IsVoting}}
        <span class="fs18 fw-bold lh1rem">Now voting on {{.ID}}</span><br>
        <span class="fs14 d-inline-block lh1rem mb-2">voting ends at block {{$.VotingSummary.NextRCIHeight}} (about
          <span class="fw-bold">{{secondsToShortDurationString $.VotingSummary.TilNextRCI}}</span>)</span><br>
        <p class="ms-3">{{.Description}}</p>
        {{template "voteTable" .}}
        {{else if .IsLocked}}
        <div
          class="d-flex justify-content-start align-items-center mb-2 pb-2 pt-2 common-card-header border-bottom-grey">
          <span class="fs22 text-green dcricon-affirm me-2"></span>
          <div class="d-inline-block">
            <span class="fs18 fw-bold me-2">{{.ID}} approved</span>
            <span class="fs14">active at block {{$.VotingSummary.NextRCIHeight}} (about {{secondsToShortDurationString
              $.VotingSummary.TilNextRCI}})</span>
          </div>
        </div>
        <p class="ms-3">{{.Description}}</p>
        {{template "voteTable" .}}
        {{else if .IsFailed}}
        <div
          class="d-flex justify-content-start align-items-center mb-2 pb-2 pt-2 common-card-header border-bottom-grey">
          <span class="fs22 text-danger dcricon-reject me-2 pt-1"></span> <span class="fs18 fw-bold">{{.ID}}
            rejected</span>
        </div>
        <p class="ms-3">{{.Description}}</p>
        {{template "voteTable" .}}
        {{else if .IsActive}}
        <div
          class="d-flex justify-content-start align-items-center mb-2 pb-2 pt-2 common-card-header border-bottom-grey">
          <span class="fs22 text-green dcricon-affirm me-2"></span> <span class="fs18 fw-bold">{{.ID}} passed
            (active)</span>
        </div>
        <p class="ms-3">{{.Description}}</p>
        {{template "voteTable" .}}
        {{end}}
        {{if .IsVoting}}
        {{/* FOR CURRENT OR COMPLETED VOTES, SHOW THE TALLIES */}}
        <div class="row mt-2">
          <div>
            {{if not .QuorumAchieved}}
            <div class="bg-white d-inline-block p-2 fs16 text-center mx-2 border"><span class="fw-bold">{{.ID}}</span>
              has
              not achieved quorum yet</div>
            {{else if .IsLocked}}
            <div class="bg-white d-inline-block p-2 fs16 text-center mx-2 border"><span class="fw-bold">{{.ID}}</span>
              has
              passed</div>
            {{else if .IsWinning}}
            <div class="bg-white d-inline-block p-2 fs16 text-center mx-2 border"><span class="fw-bold">{{.ID}}</span>
              is
              winning, but not a lock yet</div>
            {{else if .IsLosing}}
            <div class="bg-white d-inline-block p-2 fs16 text-center mx-2 border"><span class="fw-bold">{{.ID}}</span>
              is
              losing, but hasn't been rejected yet</div>
            {{else}}
            <div class="bg-white d-inline-block p-2 fs16 text-center mx-2 border">Voting on <span
                class="fw-bold">{{.ID}}</span></div>
            {{end}}
          </div>
          <div class="d-flex justify-content-around align-items-start flex-wrap mt-2 common-card">
            <div class="d-inline-block text-center p-2">
              <span class="fs16 fw-bold">Quorum</span><br>
              <div class="quorum meter text-center js-only large-gap" data-agendas-target="quorumMeter"
                data-progress="{{.QuorumProgress}}" data-threshold="1.0">
                {{printf "%.1f" (f32x100 .QuorumProgress)}}%
              </div><br>
              {{if .QuorumAchieved}}
              <span class="text-secondary fs14">quorum achieved</span>
              {{else}}
              <span class="text-secondary fs14"><span class="fw-bold">{{.VoteCount}} of {{.Quorum}}</span> votes
                cast</span>
              {{end}}
            </div>
            <div class="d-inline-block text-center p-2">
              <span class="fs16 fw-bold">Approval</span><br>
              <div class="approval meter text-center js-only large-gap" data-agendas-target="approvalMeter"
                data-approval="{{.Approval}}" data-threshold="{{.PassThreshold}}">
                {{printf "%.1f" (f32x100 .Approval)}}%
              </div><br>
              <span class="text-secondary fs14">{{printf "%.0f" (f32x100 .PassThreshold)}}% passes,
                &lt; {{printf "%.0f" (f32x100 .FailThreshold)}}% rejects, <br>
                otherwise vote again
              </span>
            </div>
          </div>
          <span></span>{{/* FLEX SPACER */}}
        </div>
        {{end}}
      </div>
      {{end}}{{/* END AGENDA ITERATION, START RCI/SVI PROGRESS BARS */}}
    </div>{{/* END OF PRIMARY INFO CARD */ -}}
    <div class="col-24 col-lg-12 pt-2 px-2">
      <div class="mx-0 common-card">
        <div class="row py-2 px-4 ai-center">
          <div class="col-24 col-md-10">
            <div class="d-flex ai-center">
              <span class="dcricon-pickaxe explore-card__header__logo me-2"></span>
              <div>
                <p class="fs18 fw-bold mb-0">Miner Upgrade</p>
                <p class="fs13 mt-0">Proof-of-Work</p>
              </div>
            </div>
            <p class="mt-3 d-flex justify-content-between ai-center">
              <span>Current Version: </span>
              <span class="fw-bold common-label tag-label">v{{.Version}}</span>
            </p>
            <p class="d-flex justify-content-between">
              <span>Rolling Window: </span>
              <span class="fw-bold">{{.NewMiners}} Blocks</span>
            </p>
          </div>
          <div class="col-24 col-md-14 text-center">
            <div class="meter text-center js-only large-gap" data-agendas-target="minerMeter"
              data-progress="{{.MinerProgress}}" data-threshold="{{.MinerThreshold}}">
              {{printf "%.1f" (f32x100 .MinerProgress)}}%
            </div>
            <p class="text-secondary fs14 lh1rem">Upgrade Threshold: <span class="fw-bold">{{printf "%.0f" (f32x100
                .MinerThreshold)}} %</span></p>
          </div>
        </div>
        <div class="px-4">
          <div class="border-2-bottom-grey"></div>
        </div>
        <div class="row py-2 px-4 ai-center">
          <div class="col-24 col-md-10">
            <div class="d-flex ai-center">
              <span class="dcricon-ticket explore-card__header__logo me-2"></span>
              <div>
                <p class="fs18 fw-bold mb-0">Voter Upgrade</p>
                <p class="fs13 mt-0">Proof-of-Stake</p>
              </div>
            </div>
            <p class="mt-3 d-flex justify-content-between ai-center">
              <span>Current Version:&nbsp;</span>
              <span class="fw-bold common-label tag-label">v{{.Version}}</span>
            </p>
            <p class="d-flex justify-content-between">
              <span>Upgrade Interval: </span>
              <span class="fw-bold"><a href="/decred/block/{{$.VoterUpgradeIntervalStart}}">{{intComma
                  $.VoterUpgradeIntervalStart}}</a>&nbsp;-
                &nbsp;{{intComma
                  $.VoterUpgradeIntervalEnd}}</span>
            </p>
          </div>
          <div class="col-24 col-md-14 text-center">
            <div class="meter text-center js-only large-gap" data-agendas-target="voterMeter"
              data-progress="{{.VoterProgress}}" data-threshold="{{.VoterThreshold}}">
              {{printf "%.1f" (f32x100 .VoterProgress)}}%
            </div>
            <p class="text-secondary fs14">Upgrade Threshold: <span class="fw-bold">{{printf "%.0f" (f32x100
                .VoterThreshold)}}
                %</span></p>
          </div>
        </div>
        <div class="px-4">
          <div class="border-2-bottom-grey"></div>
        </div>
        <div class="row">
          <div class="col-24 col-sm-12 p-3 ps-3 ps-sm-5 text-start">
            <span class="text-secondary fs14">Rule Change Interval</span>
            <div class="progress v2-progress col-24 col-sm-18 px-0">
              <div class="progress-bar rounded text-start" role="progressbar" style="width: {{f32x100 .RCIProgress}}%;"
                aria-valuenow="{{.RCIMined}}" aria-valuemin="0" aria-valuemax="{{.RCIBlocks}}"><span
                  class="fw-bold ms-2">{{printf "%.0f" (f32x100 .RCIProgress)}} %</span>
              </div>
            </div>
            <span class="fs14">{{.RCIMined}} of {{.RCIBlocks}} blocks</span>
          </div>
          <div class="col-24 col-sm-12 text-start ps-3 ps-sm-5 p-3">
            <span class="text-secondary fs14">Stake Version Interval</span>
            <div class="progress v2-progress col-24 col-sm-18 px-0">
              <div class="progress-bar rounded text-start" role="progressbar" style="width: {{f32x100 .SVIProgress}}%;"
                aria-valuenow="{{.SVIMined}}" aria-valuemin="0" aria-valuemax="{{.SVIBlocks}}"><span
                  class="fw-bold ms-2">{{printf "%.0f" (f32x100 .SVIProgress)}} %</span>
              </div>
            </div>
            <span class="fs14">{{.SVIMined}} of {{.SVIBlocks}} blocks</span>
          </div>
        </div>
      </div>{{/* END OF SVI/RCI INTERVAL PROGRESS BARS */}}
    </div>
  </div>
  {{- end}}{{/* with .VotingSummary */}}
  {{- /* AGENDA TABLE */ -}}
  <div class="row justify-content-between mt-2">
    <div class="col-lg-14 col-sm-12 d-flex">
      <h4 class="mb-2">Agendas</h4>
    </div>
  </div>
  {{ if not .Agendas }}
  <table class="table">
    <tr>
      <td>No agendas found for {{ .NetName }}</td>
    </tr>
  </table>
  {{ else }}
  <div class="br-8 b--def bgc-plain-bright pb-10">
    <div class="btable-table-wrap maxh-none">
      <table class="btable-table w-100">
        <thead>
          <tr class="bg-none">
            <th class="text-start d-none d-sm-table-cell">Start Time</th>
            <th class="d-none d-md-table-cell">Description</th>
            <th class="text-start">Status</th>
            <th>Agenda ID</th>
            <th class="text-center">Vote Version</th>
            <th class="text-end">Yes</th>
            <th class="text-end">No</th>
            <th class="text-end">Abstain</th>
            <th class="text-end">Approval Rate</th>
            <th class="text-end d-none d-sm-table-cell">Expire Time</th>
          </tr>
        </thead>
        <tbody class="bgc-white">
          {{- range $i, $v := .Agendas}}
          {{- with $v}}
          <tr>
            <td class="text-start d-none d-sm-table-cell">{{dateFromInt .StartTime}}</td>
            <td class="d-none d-md-table-cell truncate">{{.Description}}</td>
            <td class="text-start"><span class="common-label {{toDashWords .Status.String}}-label">{{toTitleCase
                .Status.String}}</span></td>
            <td><a href="/agenda/{{.ID}}" data-turbolinks="false">{{.ID}}</a></td>
            <td class="text-center">{{.VoteVersion}}</td>
            <td class="text-end">
              {{range $choice := .Choices}}
              {{if eq $choice.ID "yes"}}
              {{$choice.Count}}
              {{end}}
              {{end}}</td>
            <td class="text-end">
              {{range $choice := .Choices}}
              {{if eq $choice.ID "no"}}
              {{$choice.Count}}
              {{end}}
              {{end}}
            </td>
            <td class="text-end">
              {{range $choice := .Choices}}
              {{if eq $choice.ID "abstain"}}
              {{$choice.Count}}
              {{end}}
              {{end}}
            </td>
            <td class="text-end">{{printf "%.2f" (x100 .ApprovalRate)}}%</td>
            <td class="text-end d-none d-sm-table-cell">{{dateFromInt .ExpireTime}}</td>
          </tr>
          {{- end -}}
          {{- end}}
        </tbody>
      </table>
    </div>
  </div>
  {{end}}{{/* END TOP CURRENT VOTE SUMMARY SECTION */}}
</div>
{{template "footer" . }}
</body>

</html>
{{end}}{{/* END AGENDAS DEFINITION */}}