{{define "block" -}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData (printf "Decred Block %d" .Data.Height)}}
{{ template "navbar" . }}
<div class="container main" data-controller="time">
<p class="fs-18 nav-bar-area"><a class="fs-18" href="/">Homepage</a>&nbsp;> <a class="fs-18" href="/decred">Decred</a>&nbsp;> Block</p>
{{- with .Data -}}
{{$Invalidated := and (gt .Confirmations 1) (not .Valid) }}
	<div class="row mx-2 my-2">
		<div class="col-24 col-xl-12 bg-green-3 p-3 position-relative common-card">
			<div class="card-pointer pointer-right d-none d-xl-block"></div>
			<div class="card-pointer pointer-bottom d-xl-none"></div>
			<div class="pb-1 ps-1 position-relative">
				<div class="d-flex justify-content-between flex-wrap">
					<div class="d-inline-block text-nowrap">
						<span class="dcricon-block h5"></span>
						<span class="h5 d-inline-block ps-2">Block #{{.Height}}</span>
						{{- if gt .Confirmations 0}}
						<div class="d-inline-block confirmations-box confirmed mx-2 fs14"
							data-controller="newblock"
							data-newblock-target="confirmations"
							data-confirmations="{{.Confirmations}}"
							data-yes="# confirmation@"
							data-no="best block"
							data-confirmation-block-height="{{.Height}}"
							>{{.Confirmations}} confirmations
						</div>
						{{- else if .MainChain}}
						<div class="d-inline-block confirmations-box mx-2 fs14"
							data-controller="newblock"
							data-newblock-target="confirmations"
							data-confirmations="{{.Confirmations}}"
							data-yes="# confirmation@"
							data-no="best block"
							data-confirmation-block-height="{{.Height}}"
							>best block
						</div>
						{{- else}}
						<div class="d-inline-block confirmations-box mx-2 fs14"><a href="/side" class="attention">side chain</a></div>
						{{- end}}
					</div>
					<div class="d-inline-block text-nowrap">
						<a class="fs13" href="/block/{{.PreviousHash}}">previous </a>|
						{{if ne .NextHash "" -}}
						<a class="fs13" href="/block/{{.NextHash}}">next </a>|
						{{- else }}
						<a class="fs13" href="/mempool">mempool </a>|
						{{- end}}
						{{if .MainChain}}
						<a class="fs13" href="/api/block/{{.Height}}/verbose?indent=true" data-turbolinks="false">api</a>
						{{- else}}
						<a class="fs13" href="/api/block/hash/{{.Hash}}/verbose?indent=true" data-turbolinks="false">api</a>
						{{- end}}
					</div>
				</div>
			</div>
			<div class="text-start lh1rem py-1">
				<div class="fs13 text-secondary pb-1">Block Hash</div>
				<div class="d-inline-block fs14 break-word rounded fw-bold">{{.Hash}}</div>
			</div>
			{{if gt (len $.AltBlocks) 0}}
			<div class="text-start lh1rem py-1">
				<div class="fs13 text-secondary pb-1">
					Alternative Block{{if gt (len $.AltBlocks) 1}}s{{end}}
				</div>
				{{range $.AltBlocks}}
				<div class="d-inline-block fs14 break-word rounded fw-bold">
					<a href="/block/{{.Hash}}" title="Valid: {{.IsValid}}">{{.Hash}}</a>
					<span> ({{if .IsMainchain}}main{{else}}side{{end}})</span>
				</div>
				{{end}}
			</div>
			{{end}}
			<div class="row py-2">
				<div class="col-10 col-sm-8 text-start">
					<span class="text-secondary fs13">Total Sent</span>
					<br>
					<span class="lh1rem d-inline-block pt-1"
						><span class="fs18 fs14-decimal fw-bold">{{template "decimalParts" (float64AsDecimalParts .TotalSent 8 true 2)}}</span><span class="text-secondary fs14"> DCR</span>
					</span>
					{{if $.FiatConversion}}
					<br>
					<span class="text-secondary fs16"
						>{{threeSigFigs $.FiatConversion.Value}}
						<span class="fs14">{{$.FiatConversion.Index}}</span>
					</span>
					{{end}}
					<br>
					<span class="lh1rem d-inline-block pt-1"
						><span class="fs14 fs14-decimal">Mixed: {{template "decimalParts" (amountAsDecimalParts .TotalMixed true)}}</span><span class="text-secondary fs14"> DCR</span>
					</span>
				</div>
				<div class="col-7 col-sm-8 text-start">
					<span class="text-secondary fs13">Size</span>
					<br>
					<span class="fs18 fw-bold lh1rem d-inline-block pt-1">{{.FormattedBytes}}</span>
					<br>
					<span class="fs14 text-secondary">{{.TxCount}} <span class="d-sm-none">txs</span><span class="d-none d-sm-inline">transactions</span></span>
				</div>
				<div class="col-7 col-sm-8 text-start">
					<span class="text-secondary fs13">Block Time</span>
					<br>
					<span class="fs18 fw-bold lh1rem d-inline-block pt-1">{{.BlockTime.PrettyMDY}}</span>
					<br>
					<span class="fs14 text-secondary">{{.BlockTime.HMSTZ}} <span class="jsonly">(<span data-time-target="age" data-age="{{.BlockTime.UNIX}}"></span> ago)</span></span>
				</div>
			</div>
			<div class="d-flex justify-content-around fs15 text-center text-secondary my-2">
				<div class="d-inline-block">Regular: {{.Transactions}}</div>
				<div class="d-inline-block">Votes: {{.Voters}}</div>
				<div class="d-inline-block">Tickets: {{.FreshStake}}</div>
				<div class="d-inline-block"><span class="d-sm-none d-inline-block position-relative" data-tooltip="Revocations">Revs</span><span class="d-none d-sm-inline">Revocations</span>: {{.Revocations}}</div>
			</div>
		</div>
		<div class="col-24 col-xl-12 py-3 px-3 px-xl-4 blue-card">
			<div class="h6 d-inline-block my-2 ps-3">Block Details</div>
			<table class="w-100 fs14 mt-2 details">
				<tbody>
					<tr>
						<td class="text-end fw-bold text-nowrap pe-2"
							><span class="d-none d-sm-inline">Ticket Price</span
							><span class="d-sm-none">Tkt Price</span>: </td>
						<td class="text-start">{{template "decimalParts" (float64AsDecimalParts .SBits 8 false)}}</td>
						<td class="text-end fw-bold text-nowrap pe-2">Fees: </td>
						<td class="text-start">{{printf "%.8f" .MiningFee}}</td>
						<td class="d-none d-sm-table-cell text-end fw-bold text-nowrap pe-2">Pool Size: </td>
						<td class="d-none d-sm-table-cell text-start">{{.PoolSize}}</td>
					</tr>
					<tr>
						<td class="text-end fw-bold text-nowrap pe-2"
							><span class="d-none d-sm-inline">PoW Difficulty</span
							><span class="d-sm-none">PoW Diff</span>: </td>
						<td class="text-start">{{template "decimalParts" (float64AsDecimalParts .Difficulty 0 true)}}</td>
						<td class="text-end fw-bold text-nowrap pe-2"
							><span class="d-none d-sm-inline">Block Version</span
							><span class="d-sm-none">Blk Ver</span>: </td>
						<td class="text-start">{{.Version}}</td>
						<td class="d-none d-sm-table-cell text-end fw-bold text-nowrap pe-2">Nonce: </td>
						<td class="d-none d-sm-table-cell text-start">{{.Nonce}}</td>
					</tr>
					<tr>
						<td class="text-end fw-bold text-nowrap pe-2">Final State: </td>
						<td class="text-start">{{.FinalState}}</td>
						<td class="text-end fw-bold text-nowrap pe-2"
							><span class="d-none d-sm-inline">Stake Version</span
							><span class="d-sm-none">Stk Ver</span>: </td>
						<td class="text-start">{{.StakeVersion}}</td>
						<td class="d-none d-sm-table-cell text-end fw-bold text-nowrap pe-2">Vote Bits: </td>
						<td class="d-none d-sm-table-cell text-start">{{.VoteBits}} ({{blockVoteBitsStr .VoteBits}})</td>
					</tr>
					<tr class="d-sm-none">
						<td class="text-end fw-bold text-nowrap pe-2">Pool Size: </td>
						<td class="text-start">{{.PoolSize}}</td>
						<td class="text-end fw-bold text-nowrap pe-2">Vote Bits: </td>
						<td class="text-start">{{.VoteBits}} ({{blockVoteBitsStr .VoteBits}})</td>
					</tr>
					<tr class="d-sm-none">
						<td class="text-end fw-bold text-nowrap pe-2">Nonce: </td>
						<td class="text-start">{{.Nonce}}</td>
					</tr>
					{{if and (ne .PoWHash .Hash) (ne .PoWHash "")}} 
					<tr>
						<td class="text-end fw-bold text-nowrap pe-2">PoW Hash: </td>
						<td colspan="5" class="text-start break-word lh1rem"> {{.PoWHash}}</td>
					</tr>
					{{end}}
					<tr>
						<td class="text-end fw-bold text-nowrap pe-2">Merkle Root: </td>
						<td colspan="5" class="text-start break-word lh1rem"> {{.MerkleRoot}}</td>
					</tr>
					<tr>
						<td class="text-end fw-bold text-nowrap pe-2">Stake Root: </td>
						<td colspan="5" class="text-start break-word lh1rem"> {{.StakeRoot}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div>
		<span class="d-inline-block pt-4 pb-1 h4">Block Reward</span>
		{{range .Tx -}}
		{{if eq .Coinbase true -}}
		<div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<thead>
				<tr class="bg-none">
					<th>Transaction ID</th>
					<th class="text-end">Total DCR</th>
					<th class="text-end">Size</th>
				</tr>
			</thead>
			<tbody {{if $Invalidated}}class="invalidated-tx bgc-white" title="Regular transactions invalidated."{{else}}class="bgc-white"{{end}}>
				<tr>
					<td class="break-word">
					{{- if $.Data.Nonce}}
						<span><a class="hash" href="/tx/{{.TxID}}">{{.TxID}}</a></span>
					{{- else}}
						<span title="The Genesis block coinbase transaction is invalid on mainnet.">
							<span class="attention">&#9888;</span> <a class="hash" href="{{$.Links.CoinbaseComment}}">{{.TxID}}</a>
						</span>
					{{end -}}
					</td>
					<td class="mono fs15 text-end">
						{{- template "decimalParts" (float64AsDecimalParts .Total 8 false) -}}
					</td>
					<td class="mono fs15 text-end">{{.FormattedSize}}</td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
		{{- end -}}
		{{- end}}

		{{if .Treasury -}}
		<span class="d-inline-block pt-4 pb-1 h4">Treasury</span>
		<div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<thead>
				<tr class="bg-none">
					<th>Transaction ID</th>
					<th class="text-end">Type</th>
					<th class="text-end">Total DCR</th>
					<th class="text-end">Fee</th>
					<th class="text-end">Size</th>
				</tr>
			</thead>
			<tbody class="bgc-white">
			{{range .Treasury -}}
				<tr>
					<td class="break-word">
						<span><a class="hash" href="/tx/{{.TxID}}">{{.TxID}}</a></span>
					</td>
					<td class="text-end">{{.Type}}</td>
					<td class="mono fs15 text-end">
						{{template "decimalParts" (float64AsDecimalParts .Total 8 false)}}
					</td>
					<td class="mono fs15 text-end">{{.Fee}}</td>
					<td class="mono fs15 text-end">{{.FormattedSize}}</td>
				</tr>
			{{- end}}
			</tbody>
		</table>
		</div>
		</div>
		{{- end -}}

		<span class="d-inline-block pt-4 pb-1 h4">Votes</span>
		{{if not .Votes -}}
		 <div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<tr class="bg-none">
				<td>No votes in this block.
				{{if lt .Height .StakeValidationHeight}}
						(Voting starts at block {{.StakeValidationHeight}}.)
				{{end}}
				</td>
			</tr>
		</table>
		</div>
		</div>
		{{- else}}
		<div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<thead>
				<tr class="bg-none">
					<th>Transaction ID</th>
					<th class="text-end">Vote Version</th>
					<th class="text-end">Last Block</th>
					<th class="text-end">Total DCR</th>
					<th class="text-end">Size</th>
				</tr>
			</thead>
			<tbody class="bgc-white">
			{{range .Votes -}}
				<tr>
					<td class="break-word">
						<span><a class="hash lh1rem" href="/tx/{{.TxID}}">{{.TxID}}</a></span>
					</td>
					<td class="mono fs15 text-end">{{.VoteInfo.Version}}</td>
					<td class="text-end">{{if .VoteInfo.Validation.Validity}}Approve{{else}}Disapprove{{end}}</td>
					<td class="mono fs15 text-end">
						{{template "decimalParts" (float64AsDecimalParts .Total 8 false)}}
					</td>
					<td class="mono fs15 text-end">{{.FormattedSize}}</td>
				</tr>
			{{- end}}
			</tbody>
		</table>
		</div></div>
		{{- end}}

		{{- if ge .Height .StakeValidationHeight -}}
		{{if .Misses -}}
		<span class="d-inline-block pt-4 pb-1 h4">Missed Votes</span>
		<div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<thead>
				<tr class="bg-none">
					<th>Ticket ID</th>
				</tr>
			</thead>
			<tbody class="bgc-white">
			{{range .Misses -}}
				<tr>
					<td class="break-word">
						<span><a class="hash lh1rem" href="/tx/{{.}}">{{.}}</a></span>
					</td>
				</tr>
			{{- end}}
			</tbody>
		</table>
		</div>
		</div>
		{{- end}}
		{{- end}}

		<span class="d-inline-block pt-4 pb-1 h4">Tickets</span>
		{{- if not .Tickets}}
		 <div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<tr class="bg-none">
				<td>No tickets mined this block.</td>
			</tr>
		</table>
		</div></div>
		{{- else}}
		<div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<thead>
				<tr class="bg-none">
					<th>Transaction ID</th>
					<th class="text-end">Total DCR</th>
					<th class="text-end">Fee</th>
					<th class="text-end">Size</th>
				</tr>
			</thead>
			<tbody class="bgc-white">
			{{ range .Tickets -}}
				<tr>
					<td class="break-word">
						<span><a class="hash" href="/tx/{{.TxID}}">{{.TxID}}</a></span>
					</td>
					<td class="text-end dcr mono fs15">
						{{template "decimalParts" (float64AsDecimalParts .Total 8 false)}}
					</td>
					<td class="mono fs15 text-end">{{.Fee}}</td>
					<td class="mono fs15 text-end">{{.FormattedSize}}</td>
				</tr>
			{{- end}}
			</tbody>
		</table>
		</div></div>
		{{- end}}

		{{if .Revocations -}}
		<span class="d-inline-block pt-4 pb-1 h4">Revocations</span>
		<div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<thead>
				<tr class="bg-none">
					<th>Transaction ID</th>
					<th class="text-end">Total DCR</th>
					<th class="text-end">Fee</th>
					<th class="text-end">Size</th>
				</tr>
			</thead>
			<tbody class="bgc-white">
			{{range .Revs -}}
				<tr>
					<td class="break-word">
						<span><a class="hash" href="/tx/{{.TxID}}">{{.TxID}}</a></span>
					</td>
					<td class="mono fs15 text-end">
						{{template "decimalParts" (float64AsDecimalParts .Total 8 false)}}
					</td>
					<td class="mono fs15 text-end">{{.Fee}}</td>
					<td class="mono fs15 text-end">{{.FormattedSize}}</td>
				</tr>
			{{- end}}
			</tbody>
		</table>
		</div>
		</div>
		{{- end -}}

		<span class="d-inline-block pt-4 pb-1 h4">Transactions</span>
		{{if not .TxAvailable -}}
		 <div class="br-8 b--def bgc-plain-bright pb-10">
   		<div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<tr class="bg-none">
				<td>No standard transactions mined this block.</td>
			</tr>
		</table>
		</div>
		</div>
		{{- else -}}
		<div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
			<thead>
				<tr class="bg-none">
					<th>Transaction ID</th>
					<th class="text-end">Total DCR</th>
					<th class="text-end">Mixed</th>
					<th class="text-end">Fee</th>
					<th class="text-end">Fee Rate</th>
					<th class="text-end">Size</th>
				</tr>
			</thead>
			<tbody {{if $Invalidated}}class="invalidated-tx bgc-white" title="Regular transactions invalidated."{{else}}class="bgc-white"{{end}}>
			{{- range .Tx -}}
			{{- if eq .Coinbase false}}
				<tr>
					<td class="break-word">
						<span><a class="hash" href="/tx/{{.TxID}}">{{.TxID}}</a></span>
					</td>
					<td class="mono fs15 text-end">
						{{- template "decimalParts" (float64AsDecimalParts .Total 8 false) -}}
					</td>
					<td class="mono fs15 text-end">
						{{ if gt .MixCount 0 -}}
							{{.MixCount}}x {{template "decimalParts" (amountAsDecimalParts .MixDenom false)}}
						{{ else }}
							-
						{{- end}}
					</td>
					<td class="mono fs15 text-end">{{.Fee}}</td>
					<td class="mono fs15 text-end">{{dcrPerKbToAtomsPerByte .FeeRate}} atoms/B</td>
					<td class="mono fs15 text-end">{{.FormattedSize}}</td>
				</tr>
			{{- end}}
			{{- end}}
			</tbody>
		</table>
		</div></div>
		{{- end}}
	</div>
{{- end}}{{/* with .Data */}}
</div>

{{ template "footer" . }}
</body>
</html>
{{- end }}
