{{define "bwdash" -}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData "Bison Wallet Dashboard"}}
{{ template "navbar" . }}
<div class="container mt-2" data-controller="time bwdash">
	<nav class="breadcrumbs">
		<a href="/" class="breadcrumbs__item no-underline ps-2">
			<span class="homeicon-tags me-1"></span>
			<span class="link-underline">Homepage</span>
		</a>
		<span class="breadcrumbs__item is-active">Bison Wallet Dashboard</span>
	</nav>
	<div class="mt-2">
		<div class="mt-2">
			<h2 style="text-align: center; margin-top: 0px">Bison Wallet Statistics - dex.decred.org</h2>
			<p style="text-align: center; margin-bottom: 5px">
				Aggregate data on transaction status on dcrdex
			 </p>
		</div>
		<div class="row">
			<div class="col-24 col-sm-12 col-md-8 col-lg-6 mt-2">
				<div class="supply-stats-block">
					<span class="supply-stats-title">24h vol. on <span data-bwdash-target="todayStr"></span></span>
					<div class="supply-stats-content d-inline-block mt-2">
						<div data-bwdash-target="todayData"></div>
					</div>
				</div>
			</div>
			<div class="col-24 col-sm-12 col-md-8 col-lg-6 mt-2">
				<div class="supply-stats-block">
					<span class="supply-stats-title">Monthly vol. on <span data-bwdash-target="monthlyStr"></span></span>
					<div class="supply-stats-content d-inline-block mt-2">
						<div data-bwdash-target="currentMonthData"></div>
					</div>
				</div>
			</div>
			<div class="col-24 col-sm-12 col-md-8 col-lg-6 mt-2">
				<div class="supply-stats-block">
					<span class="supply-stats-title">Monthly vol. on <span data-bwdash-target="prevMonthStr"></span></span>
					<div class="supply-stats-content d-inline-block mt-2">
						<div data-bwdash-target="prevMonthData"></div>
					</div>
				</div>
			</div>
			<div class="col-24 col-sm-12 col-md-8 col-lg-6 mt-2">
				<div class="supply-stats-block">
					<span class="supply-stats-title">Cumulative vol. last 90 days</span>
					<div class="supply-stats-content d-inline-block mt-2">
						<div data-bwdash-target="last90DaysData"></div>
					</div>
				</div>
			</div>
			<div class="col-24 col-sm-12 col-md-8 col-lg-6 mt-2">
				<div class="supply-stats-block">
					<span class="supply-stats-title">Cumulative vol. last 6 months</span>
					<div class="supply-stats-content d-inline-block mt-2">
						<div data-bwdash-target="last6MonthsData"></div>
					</div>
				</div>
			</div>
			<div class="col-24 col-sm-12 col-md-8 col-lg-6 mt-2">
				<div class="supply-stats-block">
					<span class="supply-stats-title">Cumulative vol. last year</span>
					<div class="supply-stats-content d-inline-block mt-2">
						<div data-bwdash-target="lastYearData"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-2">
			<h2 style="text-align: center; margin-top: 0px">Monthly Trading Volume</h2>
		</div>
		<div class="row">
			<div id="myDiv"></div>
		</div>
	</div>
	{{ template "footer" . }}
	</body>
</html>
{{- end }}