{{define "chain_visualblocks"}}
<!DOCTYPE html>
<html lang="en">
{{$ChainType := .ChainType}}
{{ template "html-head" headData .CommonPageData (printf "%s Visual Blocks" (chainName $ChainType))}}
{{template "mutilchain_navbar" . }}
<div id="mainContainer" class="container" data-controller="time">
    <div class="blocks-section" data-controller="chainvisualBlocks" data-chainvisualBlocks-target="root"
        data-chainvisualBlocks-chain-type="{{$ChainType}}">
        <nav class="breadcrumbs mt-0">
            <a href="/" class="breadcrumbs__item no-underline ps-2">
                <span class="homeicon-tags me-1"></span>
                <span class="link-underline">Homepage</span>
            </a>
            <a href="/chain" class="breadcrumbs__item item-link">Blockchains</a>
            <a href="/chain/{{$ChainType}}" class="breadcrumbs__item item-link">{{chainName $ChainType}}</a>
            <span class="breadcrumbs__item is-active">Visual Blocks</span>
        </nav>
        <br />
        <a class="no-underline title fw-bold my-2" href="/blocks" data-chainvisualBlocks-target="title"
            href="/blocks">Latest
            Blocks</a>
        <div class="blocks-holder" data-chainvisualBlocks-target="box">
            <!-- add mempool element -->
            {{with .Mempool}}
            <div class="block visible" data-chainvisualBlocks-target="block" id="memblocks">
                <div class="block-info">
                    <a class="color-code" href="/chain/{{$ChainType}}/mempool">Mempool</a>
                    <div class="mono amount" style="line-height: 1;">
                        <span data-chainvisualBlocks-target="memTotalSent" data-value="{{.TotalOut}}">{{threeSigFigs .TotalOut}}</span>
                        <span class="unit"> {{toUpperCase $ChainType}}</span>
                    </div>
                    <span class="timespan">now</span>
                </div>
                <div class="block-rows chain-block-rows">
                    <div class="block-rewards px-1 mt-1" style="flex-grow: 1">
                        <span id="memBlockReward" class="pow chain-pow left-vs-block-data"
                            style="flex-grow: {{toFloat64Amount .BlockReward}}"
                            title='{"object": "Block Reward","total": "{{toFloat64Amount .BlockReward}}"}'
                            data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#">
                            </a>
                        </span>
                        <span id="memFeeSpan" data-value="{{.TotalFee}}" class="fees right-vs-block-data"
                            style="flex-grow: {{.TotalFee}}"
                            title='{"object": "Tx Fees", "total": "{{.TotalFee}}"}'
                            data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#"></a>
                        </span>
                    </div>
                    <div class="block-transactions px-1 my-1" style="flex-grow: 1">
                        <span id="memTxCount" data-value="{{.TotalTransactions}}"
                            class="chain-block-tx left-vs-block-data" style="flex-grow: {{.TotalTransactions}}"
                            title='{"object": "Tx Count", "count": "{{.TotalTransactions}}"}' data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#"></a>
                        </span>
                        <span id="memInputCount" data-value="{{.InputsCount}}"
                            class="chain-block-tx" style="flex-grow: {{.InputsCount}}"
                            title='{"object": "Inputs Count", "count": "{{.InputsCount}}"}' data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#"></a>
                        </span>
                        <span id="memOutputCount" data-value="{{.OutputsCount}}"
                            class="chain-block-tx right-vs-block-data" style="flex-grow: {{.OutputsCount}}"
                            title='{"object": "Outputs Count", "count": "{{.OutputsCount}}"}' data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#"></a>
                        </span>
                    </div>
                </div>
            </div>
            {{end}}
            {{range $index, $block := .BlockInfos}}
            <div class="block visible" data-chainvisualBlocks-target="block" id="{{$block.Height}}">
                {{with $block}}
                <div class="block-info">
                    <a class="color-code" href="/chain/{{$ChainType}}/block/{{.Height}}">{{.Height}}</a>
                    <div class="mono amount" style="line-height: 1;">
                        <span>{{threeSigFigs (toFloat64Amount .TotalSentSats)}}</span>
                        <span class="unit"> {{toUpperCase $ChainType}}</span>
                    </div>
                    <span class="timespan">
                        <span data-time-target="age" data-age="{{.BlockTimeUnix}}"></span>&nbsp;ago
                    </span>
                </div>
                <div class="block-rows chain-block-rows">
                    <div class="block-rewards px-1 mt-1" style="flex-grow: 1">
                        <span class="pow chain-pow left-vs-block-data" style="flex-grow: {{toFloat64Amount .BlockReward}}"
                            title='{"object": "Block Reward", "total": "{{toFloat64Amount .BlockReward}}"}'
                            data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#"></a>
                        </span>
                        <span class="fees right-vs-block-data" style="flex-grow: {{toFloat64Amount .FeesSats}}"
                            title='{"object": "Tx Fees", "total": "{{toFloat64Amount .FeesSats}}"}'
                            data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#"></a>
                        </span>
                    </div>
                    <div class="block-transactions px-1 my-1" style="flex-grow: 1">
                        <span class="chain-block-tx left-vs-block-data" style="flex-grow: {{.TxCount}}"
                            title='{"object": "Tx Count", "count": "{{.TxCount}}"}' data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#"></a>
                        </span>
                        <span class="chain-block-tx" style="flex-grow: {{.TotalInputs}}"
                            title='{"object": "Inputs Count", "count": "{{.TotalInputs}}"}' data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#"></a>
                        </span>
                        <span class="chain-block-tx right-vs-block-data" style="flex-grow: {{.TotalOutputs}}"
                            title='{"object": "Outputs Count", "count": "{{.TotalOutputs}}"}' data-chainvisualBlocks-target="tooltip">
                            <a class="block-element-link" href="#"></a>
                        </span>
                    </div>
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
        <a class="no-underline d-block mt-4" data-chainvisualBlocks-target="showmore"
            href="/chain/{{$ChainType}}/blocks">
            <div class="showmore">
                <p>View BlockChain History</p>
            </div>
        </a>
    </div>
</div>

{{ template "footer" . }}
</body>

</html>
{{end}}