{{define "chain_parameters"}}
<!DOCTYPE html>
{{$ChainType := .ChainType}}
<html lang="en">
    {{ template "html-head" headData .CommonPageData (printf "%s Chain Parameters" (chainName $ChainType))}}
        {{template "mutilchain_navbar" . }}
        <div class="container mt-2 pb-5">
            <nav class="breadcrumbs mt-0">
                <a href="/" class="breadcrumbs__item no-underline ps-2">
                    <span class="homeicon-tags me-1"></span>
                    <span class="link-underline">Homepage</span>
                 </a>
                 <a href="/chain" class="breadcrumbs__item item-link">Blockchains</a>
                <a href="/chain/{{$ChainType}}" class="breadcrumbs__item item-link">{{chainName $ChainType}}</a>
                <span class="breadcrumbs__item is-active">Paramenters</span>
             </nav>
            <div class="row justify-content-between">
                <div class="col-lg-14 col-sm-12 d-flex">
                    <h4 class="mb-2">Parameters for {{chainName $ChainType}} {{.MutilchainParams.Name}}
                      <span class="fs12 d-block d-sm-inline-block" >
                        from <a href="{{.RefLink}}">chaincfg/params.go</a>
                      </span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5 class="mt-2"><span>Chain parameters</span></h5>
                    <div class="br-8 b--def bgc-plain-bright pb-10">
                    <div class="btable-table-wrap maxh-none">
                    <table class="btable-table w-100">
                        <thead>
                          <tr class="bg-none">
                            <th width="20%">Parameter</th>
                            <th>Value</th>
                            <th width="60%">Description</th>
                          </tr>
                        </thead>
                        <tbody class="bgc-white">
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0"><a href="/chain/{{$ChainType}}/block/{{.MutilchainParams.GenesisHash}}">GenesisBlock</a></td>
                                <td class="mono">{{.MutilchainParams.GenesisHash}}</td>
                                <td>First block of the chain</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0"><a href="/chain/{{$ChainType}}/block/1">PremineBlock</a></td>
                                <td class="mono">1</td>
                                <td>Premine Block of the chain</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">PowLimit</td>
                                <td class="mono">{{.MutilchainParams.PowLimit}}</td>
                                <td>highest allowed proof of work value for a block</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">PowLimitBits</td>
                                <td class="mono">{{.MutilchainParams.PowLimitBits}} bits</td>
                                <td>Highest allowed proof of work value for a block in compact form</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">ReduceMinDifficulty</td>
                                <td class="mono">{{.MutilchainParams.ReduceMinDifficulty}}</td>
                                <td>Whether the network should reduce the minimum required difficulty after a long enough period of time has passed without finding a block</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">MinDiffReductionTime</td>
                                <td class="mono">{{.MutilchainParams.MinDiffReductionTime}}</td>
                                <td>Amount of time after which the minimum required difficulty should be reduced when a block hasn't been found</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">GenerateSupported</td>
                                <td class="mono">{{.MutilchainParams.GenerateSupported}}</td>
                                <td>Whether or not CPU mining is allowed</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">TargetTimespan</td>
                                <td class="mono">{{durationToShortDurationString .MutilchainParams.TargetTimespan}}</td>
                                <td>Amount of time that should elapse before the block difficulty requirement is examined to determine how it should be changed in order to maintain the desired block generation rate</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">TargetTimePerBlock</td>
                                <td class="mono">{{durationToShortDurationString .MutilchainParams.TargetTimePerBlock}}</td>
                                <td>The desired amount of time to generate each block</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">RetargetAdjustmentFactor</td>
                                <td class="mono">{{.MutilchainParams.RetargetAdjustmentFactor}}</td>
                                <td>Adjustment factor used to limit the minimum and maximum amount of adjustment that can occur between difficulty retargets</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">CoinbaseMaturity</td>
                                <td class="mono">{{.MutilchainParams.CoinbaseMaturity}}</td>
                                <td>Number of blocks required before newly mined</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">SubsidyReductionInterval</td>
                                <td class="mono">{{.MutilchainParams.SubsidyReductionInterval}} blocks</td>
                                <td>Reduction interval in blocks</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">RuleChangeActivationThreshold</td>
                                <td class="mono">{{.MutilchainParams.RuleChangeActivationThreshold}} blocks</td>
                                <td>Number of blocks in a threshold state retarget window for which a positive vote for a rule change</td>
                            </tr>
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">MinerConfirmationWindow</td>
                                <td class="mono">{{.MutilchainParams.MinerConfirmationWindow}} blocks</td>
                                <td>Number of blocks in each threshold state retarget window</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                    <h5 class="mt-3"><span>Address parameters</span></h5>
                    <div class="br-8 b--def bgc-plain-bright pb-10">
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
                        <thead>
                          <tr class="bg-none">
                            <th width="20%">Address</th>
                            <th>Prefix</th>
                            <th width="60%">Description</th>
                          </tr>
                        </thead>
                        <tbody class="bgc-white">
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">NetworkAddressPrefix</td>
                                <td class="mono">{{if eq $ChainType "btc"}}bc{{else}}ltc{{end}}</td>
                                <td class="mono">First letters of the network for any given address encoded as a string</td>
                            </tr>
                            {{range $i, $v := .ExtendedParams.AddressPrefix}}
                            <tr>
                                <td class="mono text-start pe-2 nowrap p03rem0">{{$v.Name}}</td>
                                <td class="mono">{{$v.Prefix}}</td>
                                <td class="mono">{{$v.Description}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {{ template "footer" . }}
    </body>
</html>
{{end}}
