{{define "chain_block" -}}
<!DOCTYPE html>
{{$ChainType := .ChainType}}
{{$Txs := .Txs}}
{{$XmrTxs := .XmrTxs}}
{{$Offset := .Offset}}
{{$Rows := .Rows}}
{{$LimitN := .LimitN}}
{{$TotalRows := .TotalRows}}
{{$Pages := .Pages}}
{{$LastStart := .LastStart}}
{{$conv := .Conversions}}
<html lang="en">
{{template "html-head" headData .CommonPageData (printf "%s Block - %d" (chainName $ChainType) .Data.Height)}}
{{ template "mutilchain_navbar" . }}
<div class="container mt-3" data-controller="time pagenavigation">
	<nav class="breadcrumbs mt-0">
		<a href="/" class="breadcrumbs__item no-underline ps-2">
			<span class="homeicon-tags me-1"></span>
			<span class="link-underline">Homepage</span>
		</a>
		<a href="/{{$ChainType}}" class="breadcrumbs__item item-link">{{chainName $ChainType}}</a>
		<a href="/{{$ChainType}}/blocks" class="breadcrumbs__item item-link">Blocks</a>
		<span class="breadcrumbs__item is-active">Block</span>
	</nav>
	{{- with .Data -}}
	{{- $Hash := .Hash -}}
	<div class="row px-1 my-2">
		<div class="col-24 col-xl-12 bg-green-3 p-3 position-relative common-card">
			<div class="card-pointer pointer-right d-none d-xl-block"></div>
			<div class="card-pointer pointer-bottom d-xl-none"></div>
			<div class="pb-1 ps-1 position-relative">
				<div class="d-flex justify-content-between flex-wrap">
					<div class="d-inline-block text-nowrap">
						<span class="dcricon-block h5"></span>
						<span class="h5 d-inline-block ps-2">Block #{{.Height}}</span>
						{{- if gt .Confirmations 0}}
						<div class="d-inline-block confirmations-box confirmed mx-2 fs14" data-controller="newblock"
							data-newblock-target="confirmations" data-confirmations="{{.Confirmations}}"
							data-yes="# confirmation@" data-no="best block"
							data-confirmation-block-height="{{.Height}}">{{.Confirmations}} confirmations
						</div>
						{{- else if .MainChain}}
						<div class="d-inline-block confirmations-box mx-2 fs14" data-controller="newblock"
							data-newblock-target="confirmations" data-confirmations="{{.Confirmations}}"
							data-yes="# confirmation@" data-no="best block"
							data-confirmation-block-height="{{.Height}}">best block
						</div>
						{{- else}}
						<div class="d-inline-block confirmations-box mx-2 fs14"><a href="/side" class="attention">side
								chain</a></div>
						{{- end}}
					</div>
					<div class="d-inline-block text-nowrap">
						<a class="fs13" href="/{{$ChainType}}/block/{{.PreviousHash}}">previous </a>|
						{{if ne .NextHash "" -}}
						<a class="fs13" href="/{{$ChainType}}/block/{{.NextHash}}">next </a>|
						{{- end}}
					</div>
				</div>
			</div>
			<div class="text-start lh1rem py-1">
				<div class="fs13 text-secondary pb-1">Block Hash</div>
				<div class="d-inline-block fs14 break-word rounded fw-bold">{{.Hash}}</div>
			</div>
			<div class="row py-2">
				<div class="col-10 col-sm-8 text-start">
					<span class="text-secondary fs13">Total Sent</span>
					<br>
					<span class="lh1rem d-inline-block pt-1">
						<span class="fs18 fs14-decimal fw-bold">
							{{if gt .TotalSent 0.0}}
							{{template "decimalParts" (float64AsDecimalParts .TotalSent 8 true 2)}}
							{{else}}
							N/A
							{{end}}
						</span>
						<span class="text-secondary fs14"> {{toUpperCase $ChainType}}</span>
					</span>
					<br>
					{{if $conv}}
					<span class="text-secondary fs16">
						{{if gt .TotalSent 0.0}}
						{{threeSigFigs $conv.TotalSent.Value}}
						{{else}}
						N/A
						{{end}}
						<span class="fs14">{{$conv.TotalSent.Index}}</span>
					</span>
					{{end}}
				</div>
				<div class="col-7 col-sm-8 text-start">
					<span class="text-secondary fs13">Size</span>
					<br>
					<span class="fs18 fw-bold lh1rem d-inline-block pt-1">{{.FormattedBytes}}</span>
					<br>
					<span class="fs14 text-secondary">{{.TxCount}} <span class="d-sm-none">txs</span><span
							class="d-none d-sm-inline">transactions</span></span>
				</div>
				<div class="col-7 col-sm-8 text-start">
					<span class="text-secondary fs13">Block Time</span>
					<br>
					<span class="fs18 fw-bold lh1rem d-inline-block pt-1">{{.BlockTime.PrettyMDY}}</span>
					<br>
					<span class="fs14 text-secondary">{{.BlockTime.HMSTZ}} <span class="jsonly">(<span
								data-time-target="age" data-age="{{.BlockTime.UNIX}}"></span> ago)</span></span>
				</div>
			</div>
		</div>
		<div class="col-24 col-xl-12 py-3 px-3 px-xl-4 blue-card">
			<div class="h6 d-inline-block my-2 ps-3">Block Details</div>
			<table class="w-100 fs14 mt-2 details">
				<tbody>
					<tr>
						<td class="text-end fw-bold text-nowrap pe-2">Fees:</td>
						<td class="text-start">{{toMulFloat64Amount .Fees $ChainType}} {{toUpperCase $ChainType}}</td>
						<td class="text-end fw-bold text-nowrap pe-2">Key Images:</td>
						<td class="text-start">{{.TotalNumVins}}</td>
						<td class="text-end fw-bold text-nowrap pe-2">Outputs: </td>
						<td class="text-start">{{.TotalNumOutputs}}</td>
					</tr>
					<tr>
						<td class="text-end fw-bold text-nowrap pe-2"><span
								class="d-none d-sm-inline">Difficulty</span><span class="d-sm-none">Diff</span>: </td>
						<td class="text-start">{{template "decimalParts" (float64AsDecimalParts .Difficulty 0 true)}}
						</td>
						<td class="text-end fw-bold text-nowrap pe-2"><span class="d-none d-sm-inline">Block
								Version</span><span class="d-sm-none">Blk Ver</span>: </td>
						<td class="text-start">{{.Version}}</td>
						<td class="text-end fw-bold text-nowrap pe-2">Nonce: </td>
						<td class="text-start">{{.Nonce}}</td>
					</tr>
					<tr>
						<td class="text-end fw-bold text-nowrap pe-2">Total Ring Size: </td>
						<td colspan="5" class="text-start">{{.TotalRingSize}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div>
		<div class="d-flex justify-content-between align-items-end">
			<span class="h4 d-flex pt-2 pb-1 pe-2">
				Transactions
			</span>
			<div class="pb-1 d-flex justify-content-end align-items-center flex-wrap">
				<span class="fs12 nowrap text-secondary px-2 my-2">
					{{intComma (add $Offset 1)}} &ndash; {{intComma (add $Offset (int64 $Rows))}} of {{intComma
					$TotalRows}} rows
				</span>
				<div class="d-inline-block text-end">
					<label class="mb-0 me-1 ms-2" for="pagesize">Page size</label>
					<select id="tbPagesize" data-pagenavigation-target="pagesize"
						data-action="change->pagenavigation#setPageSize" data-offset="{{$Offset}}"
						data-offsetkey="start" data-maxrows="{{$TotalRows}}"
						class="form-control-sm mb-2 me-sm-2 mb-sm-0 border-plain border-radius-8 {{if lt $TotalRows 20}}disabled{{end}}"
						{{if lt $TotalRows 20}}disabled="disabled" {{end}}>
						<option {{if eq $Rows 20}}selected{{end}} value="20"{{if lt $TotalRows 20}} disabled selected{{end}}>20</option>
						{{if ge $TotalRows 40}} 
                           <option {{if eq $LimitN 40}}selected {{end}}value="40">40</option>
                        {{end}}
						 {{if ge $TotalRows 80}}
                           <option {{if eq $LimitN 80}}selected {{end}}value="80">80</option>
                        {{end}}
						{{if and (gt $TotalRows 20) (and (ne $TotalRows 40) (ne $TotalRows 80))}}
                        {{- if lt $TotalRows 160}}
                        <option {{if eq $Rows $TotalRows}}selected {{end}}value="{{$TotalRows}}">{{$TotalRows}}</option>
                        {{- else}}
                        <option {{if ge $Rows 160}}selected {{end}}value="160">160</option>
                        {{- end}}
                        {{end}}
					</select>
				</div>
			</div>
		</div>
		{{if not .TxAvailable -}}
		<div class="br-8 b--def bgc-plain-bright pb-10">
			<div class="btable-table-wrap maxh-none">
				<table class="btable-table w-100">
					<tr class="bg-none">
						<td>No standard transactions mined this block.</td>
					</tr>
				</table>
			</div>
		</div>
		{{- else -}}
		<div class="br-8 b--def bgc-plain-bright pb-10">
			<div class="btable-table-wrap maxh-none">
				<table class="btable-table w-100">
					<thead>
						<tr class="bg-none">
							<th>Transaction ID</th>
							<th>Type</th>
							<th class="text-end">Total {{toUpperCase $ChainType}}</th>
							<th class="text-end">Size</th>
						</tr>
					</thead>
					<tbody class="bgc-white">
						{{if eq $ChainType "xmr"}}
						{{- range $XmrTxs -}}
						<tr>
							<td class="break-word">
								<span><a class="hash"
										href="/{{$ChainType}}/tx/{{.TxHash}}">{{.TxHash}}</a></span>
							</td>
							<td class="break-word">
								<span>
									{{- if eq .IsCoinbase true}}Coinbase{{else}}Regular{{end}}
								</span>
							</td>
							<td class="mono fs15 text-end">
								{{if gt .Sent 0}}
								{{- template "decimalParts" (float64AsDecimalParts (toMulFloat64Amount .Sent $ChainType) 8 false) -}}
								{{else}}
								N/A
								{{end}}
							</td>
							<td class="mono fs15 text-end">{{.FormattedSize}}</td>
						</tr>
						{{end}}
						{{else}}
						{{- range $Txs -}}
						<tr>
							<td class="break-word">
								<span><a class="hash"
										href="/{{$ChainType}}/tx/{{.TxID}}">{{.TxID}}</a></span>
							</td>
							<td class="break-word">
								<span>
									{{- if eq .Coinbase false}}Coinbase{{else}}Regular{{end}}
								</span>
							</td>
							<td class="mono fs15 text-end">
								{{- template "decimalParts" (float64AsDecimalParts .Total 8 false) -}}
							</td>
							<td class="mono fs15 text-end">{{.FormattedSize}}</td>
						</tr>
						{{end}}
						{{end}}
					</tbody>
				</table>
			</div>
			{{if len $Pages}}
			<div class="text-end mt-2 pe-3">
				{{if ge $Offset $LimitN}}
				<a href="/{{$ChainType}}/block/{{$Hash}}?rows={{$LimitN}}"
					class="d-inline-block dcricon-arrow-left pagination-number pagination-narrow m-1 fs20"></a>
				{{end}}
				{{range $index, $page := $Pages}}
				{{if eq $page.Link ""}}
				<span>{{$page.Str}}</span>
				{{else}}
				<a href="{{$page.Link}}"
					class="fs18 pager pagination-number {{if $page.Active}} active{{end}}">{{.Str}}</a>
				{{end}}
				{{end}}
				{{if lt (add $Offset (int64 $LimitN)) $TotalRows}}
				<a href="/{{$ChainType}}/block/{{$Hash}}?start={{$LastStart}}&rows={{$LimitN}}"
					class="d-inline-block pagination-number pagination-narrow dcricon-arrow-right m-1 fs20"></a>
				{{end}}
			</div>
			{{end}}
		</div>
		{{- end}}
	</div>
	{{- end}}{{/* with .Data */}}
</div>

{{ template "footer" . }}
</body>

</html>
{{- end }}