{{define "chain_home" -}}
<!DOCTYPE html>
{{$ChainType := .ChainType}}
<html lang="en">
   {{ template "html-head" headData .CommonPageData "Bitcoin Block Explorer by blockcare.pro"}}
   {{ template "mutilchain_navbar" . }}
   <div class="main-container homepage-class" data-controller="time">
      <!-- start explorer wrap -->
      <div class="hp-explore-wrap mutilchain-explore-wrap" id="hp-explore-wrap">
         <div class="container">
            <section>
               <h2 class="fs-40 fw-600 d-none"> Blocks Explorer</h2>
               <div class="hp-explore__cards-wrap">
                  <div class="hp-explore__cards-content-2-1">
                     <div class="info-left-card">
                      <!-- Start Summary Card -->
                        <div class="explore-card-wrap">
                           <div class="explore-card-content">
                              <div class="explore-card__header bg-for-header">
                                 <span class="dcricon-tree explore-card__header__logo" alt="Mining Card" loading="lazy"></span>
                                 <div class="explore-card__header__text ml-15">
                                    <h5 class="explore-card__header__text__name"> Summary </h5>
                                    <div class="explore-card__header__text__price">
                                       <div class="price-wrap d-flex ai-center">
                                          <span class="price-usd fs-13">Information about system summary</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="explore-card__values-content">
                                 {{with .Info -}}
                                 <div class="row">
                                    <div class="col-24 col-md-8">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">Outputs</span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          {{int64Comma .TotalOutputs}}
                                          </span>
                                       </div>
                                    </div>
                                   <div class="col-24 col-md-8">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          Transactions
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          {{int64Comma .TotalTransactions}}
                                          </span>
                                       </div>
                                    </div>
                                    <div class="col-24 col-md-8">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                           Addresses
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                           {{int64Comma .TotalAddresses}}
                                          </span>
                                       </div>
                                    </div>
                                    <div class="col-24 col-md-8">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          Coin Supply
                                          </span>
                                          <div class="network-stats-content d-inline-block mt-2">
                                          {{template "decimalParts" (float64AsDecimalParts .CoinValueSupply 2 false)}} {{$ChainType}}
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-24 col-md-8">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          Blockchain Size
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                             {{.FormattedSize}}
                                          </span>
                                       </div>
                                    </div>
                                 </div>
                                 {{end}}
                              </div>
                           </div>
                        </div>
                        <!-- End Summary Card -->
                        <!-- Start Mining Card -->
                        <div class="explore-card-wrap">
                           <div class="explore-card-content">
                              <div class="explore-card__header bg-for-header">
                                 <span class="dcricon-pickaxe explore-card__header__logo" alt="Mining Card" loading="lazy"></span>
                                 <div class="explore-card__header__text ml-15">
                                    <h5 class="explore-card__header__text__name"> Mining </h5>
                                    <div class="explore-card__header__text__price">
                                       <div class="price-wrap d-flex ai-center">
                                          <span class="price-usd fs-13">Mining and Rewards information</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="explore-card__values-content">
                                 {{with .Info -}}
                                 <div class="row justify-content-between">
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          <a class="link-hover-underline" href="/chain/{{$ChainType}}/charts?chart=pow-difficulty">
                                          Difficulty</a>
                                          </span>
                                          <div class="network-stats-content d-inline-block mt-4" data-homepage-target="difficulty">
                                          {{template "decimalParts" (float64AsDecimalParts (divideFloat .Difficulty 1.0) 0 true)}}
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          <a class="link-hover-underline" href="/chain/{{$ChainType}}/charts?chart=hashrate">
                                          Hashrate
                                          </a>
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <div data-homepage-target="hashrate" class="d-inline-block">
                                          {{template "decimalParts" (hashrateDecimalParts .HashRate 3 true 3)}}
                                          </div>
                                          <span class="info-line-2-sub">{{hashratePostfix .HashRate}}</span>
                                          </span>
                                          <span class="stats-subinfo">
                                          <span data-homepage-target="hashrateDelta">{{template "fmtPercentage" .HashRateChangeMonth}}</span> in past 30 days
                                          </span>
                                       </div>
                                    </div>
                                 </div>
                                 {{end}}
                              </div>
                           </div>
                        </div>
                        <!-- End Mining Card -->
                     </div>
                     <div class="info-right-card">
                        <!-- Start Blocks Card -->
                        <div class="explore-card-wrap">
                           <div class="explore-card-content">
                              <a href='/chain/{{$ChainType}}/blocks' class="link-to-subpage">
                                 <div class="explore-card__header">
                                    <span class="homeicon-block explore-card__header__logo" alt="bitcoin logo" loading="lazy"></span>
                                    <div class="explore-card__header__text ml-15">
                                       <h5 class="explore-card__header__text__name"> Blocks </h5>
                                       <span class="explore-card__header__arrow">
                                       <span class='the-arrow -right'>
                                       <span class='shaft'></span>
                                       </span>
                                       </span>
                                       <div class="explore-card__header__text__price">
                                          <div class="price-wrap d-flex ai-center">
                                             <span class="price-usd fs-13">Block list and details</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </a>
                              <div class="explore-card__values-content">
                                 {{with .BestBlock -}}
                                 <div class="row justify-content-between">
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Lastest Block</span>
                                          <span class="network-stats-content d-inline-block mt-4">
                                          <a class="fs-28" href="/chain/{{$ChainType}}/block/{{.Hash}}" data-homepage-target="blockHeight">{{.Height}}</a>
                                          </span>
                                       </p>
                                    </div>
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Value</span>
                                          <span class="network-stats-content d-inline-block mt-4">
                                          <span data-homepage-target="blockTotal">
                                          {{threeSigFigs .Total}}</span>
                                          <span class="info-line-2-sub">{{$ChainType}}</span>
                                          </span>
                                       </p>
                                    </div>
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Size</span>
                                          <span class="network-stats-content d-inline-block mt-4" data-homepage-target="blockSize">{{.FormattedBytes}}</span>
                                       </p>
                                    </div>
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Age</span>
                                          <span class="network-stats-content d-inline-block mt-4" data-type="age" class="jsonly" data-time-target="age" data-age="{{.BlockTime.UNIX}}" data-homepage-target="blockTime">{{.BlockTime}}</span>
                                       </p>
                                    </div>
                                 </div>
                                 {{end}}
                              </div>
                           </div>
                        </div>
                        <!-- End Blocks Card -->
                        <!-- Start Mempool Card -->
                        <div class="explore-card-wrap">
                           <div class="explore-card-content">
                              <a href='/chain/{{$ChainType}}/mempool' class="link-to-subpage">
                                 <div class="explore-card__header">
                                    <span class="homeicon-block explore-card__header__logo" alt="bitcoin logo" loading="lazy"></span>
                                    <div class="explore-card__header__text ml-15">
                                       <h5 class="explore-card__header__text__name"> Mempool </h5>
                                       <span class="explore-card__header__arrow">
                                       <span class='the-arrow -right'>
                                       <span class='shaft'></span>
                                       </span>
                                       </span>
                                       <div class="explore-card__header__text__price">
                                          <div class="price-wrap d-flex ai-center">
                                             <span class="price-usd fs-13">Block list and details</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </a>
                              <div class="explore-card__values-content">
                                 {{with .MempoolInfo -}}
                                 <div class="row justify-content-between">
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Transactions</span>
                                          <span class="network-stats-content d-inline-block mt-4">
                                          {{int64Comma .TotalTransactions}}
                                          </span>
                                       </p>
                                    </div>
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Outputs</span>
                                          <span class="network-stats-content d-inline-block mt-4">
                                          {{int64Comma .OutputsCount}}
                                          </span>
                                       </p>
                                    </div>
                                    <div class="col-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">Fee Total</span>
                                          <div class="network-stats-content d-inline-block mt-4">
                                          {{template "decimalParts" (float64AsDecimalParts .TotalFee 8 false)}}</div>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Size</span>
                                          <span class="network-stats-content d-inline-block mt-4">{{.FormattedTotalSize}}</span>
                                       </p>
                                    </div>
                                 </div>
                                 {{end}}
                              </div>
                           </div>
                        </div>
                        <!-- End Mempool Card -->
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
      <!--end block 2 -->
   </div>
   {{  template "footer_embed" . }}
   </body>
</html>
{{- end}}