{{define "html-head"}}
<head data-turbolinks-eval="false">
		<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{/* The above meta tags *must* come first in the head */ -}}
	{{- if .Data.Host -}}
	<meta name="description" content="Bison Explorer, an original Multi-chain explorer powered by Go">
	<meta name="author" content="The mutilple blockchains developers">
	<meta name="application-name"           content="Bison Explorer - The Mutilple Blockchain Explorer">
	<meta name="apple-mobile-web-app-title" content="Bison Explorer - The Mutilple Blockchain Explorer">

	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:title" content="Bison Explorer - The mutilple blockchain explorer. A product of the Decred community"/>
	<meta name="twitter:description" content="{{ .Title }}"/>
	<meta name="twitter:image" content="/images/bisonog.PNG"/>

	<meta property="og:site_name"   content="Bisonexplorer" />
	<meta property="og:title"       content="The mutilple blockchain explorer. A product of the Decred community" />
	<meta property="og:description" content="{{ .Title }}" />
	<meta property="og:type"        content="website" />
	<meta property="og:url"         content="{{ .Data.CanonicalURL }}" />
	<meta property="og:image"       content="/images/bisonog.PNG" />
	{{- end}}
	{{- if ne .Data.Links.OnionURL "" }}
	<meta http-equiv="onion-location" content="http://{{.Data.Links.OnionURL}}" />
	{{ end }}
	<!--  Custom favicon  -->
		<!-- Apple PWA -->
		<link rel="apple-touch-icon" sizes="57x57"   href="/images/favicon/apple-touch-icon-57x57.png?v=yHh3NA">
		<link rel="apple-touch-icon" sizes="72x72"   href="/images/favicon/apple-touch-icon-72x72.png?v=yHh3NA">
		<link rel="apple-touch-icon" sizes="76x76"   href="/images/favicon/apple-touch-icon-76x76.png?v=yHh3NA">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png?v=yHh3NA">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png?v=yHh3NA">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png?v=yHh3NA">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png?v=yHh3NA">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon-180x180.png?v=yHh3NA">

		<!-- Browser -->
		<link rel="icon" href="/images/favicon/favicon.ico">
		<link rel="icon" href="/images/favicon/favicon-32x32.png" type="image/png" sizes="32x32">
		<link rel="icon" href="/images/favicon/favicon-16x16.png" type="image/png" sizes="16x16">
	<!-- End custom favicon -->

	<meta name="turbolinks-cache-control" content="no-cache">
	<title>{{.Title}}</title>

	<link rel="preload" href="/fonts/icomoon.ttf?g003m6" as="font" type="font/ttf" crossorigin="anonymous" />
	<link rel="preload" href="/fonts/inconsolata-v15-latin-regular.woff?x=65tv3" as="font" type="font/woff" crossorigin="anonymous" />
	<link rel="preload" href="/fonts/source-sans-pro-v9-latin-regular.woff?x=65tv3" as="font" type="font/woff" crossorigin="anonymous" />
	<link rel="preload" href="/fonts/source-sans-pro-semibold.woff?x=65tv3" as="font" type="font/woff" crossorigin="anonymous" />
	<link rel="preload" href="/images/connecting.svg?x=65tv3" as="image" type="image/svg+xml" />
	<link rel="preload" href="/images/themes/light/logo.svg?x=65tv3" as="image" type="image/svg+xml" />
	<link rel="preload" href="/images/connected.svg?x=65tv3" as="image" type="image/svg+xml" />
	<link rel="preload" href="/images/disconnected.svg?x=65tv3" as="image" type="image/svg+xml" />
	<link href="/dist/css/style.aa0a507e11a22950.css" rel="stylesheet">
	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/vendor/turbolinks.min.js?v=65DCG"></script>
</head>
{{end}}

{{define "mutilchain_navbar"}}
<body class="{{ theme }}{{if .Cookies.DarkMode}} darkBG{{end}} mutilchain-sub-page pb-5 {{if .IsHomepage}}homepage-body{{end}}" data-controller="scroll">
   <header class="top-nav align-items-center" id="navBar" data-scroll-target="navbar" data-blocktime="{{.BlockTimeUnix}}">
      <div class="container d-flex align-items-center px-0 my-1">
        <div class="row w-100">
			<div class="col-6 col-lg-7 d-flex ai-center">
				<div id="topBarLeft" class="d-flex ai-center">
					<a class="no-underline d-block home-link dcrdata-logo mt-2 mt-md-0" href="/"></a>
					<select
					   data-scroll-target="coinSelect"
					   data-action="change->scroll#changeCoin"
					   class="vodiapicker">
					   <option name="dcr" value="dcr" class="test" data-thumbnail="/images/dcr-icon.png">Decred (DCR)</option>
					   {{if eq .NetName "Mainnet"}} 
					   <option name="btc" value="btc" data-thumbnail="/images/btc-icon.png">Bitcoin (BTC)</option>
					   <option name="ltc" value="ltc" data-thumbnail="/images/ltc-icon.png">Litecoin (LTC)</option>
					   {{end}}
					</select>
					<div class="chain-select-area">
					   <button class="chain-selected-btn" value="dcr">
						  <li><img src="" alt=""><span></span></li>
					   </button>
					   <div id="chainSelectList" class="selection-area" style="display: none;">
						  <ul id="selectUl" class="chain-select-list">
							 <li><img src="/images/dcr-icon.png" value="dcr"><span>Decred (DCR)</span></li>
							 {{if eq .NetName "Mainnet"}}
							 <li><img src="/images/btc-icon.png" value="btc"><span>Bitcoin (BTC)</span></li>
							 <li><img src="/images/ltc-icon.png" value="ltc"><span>Litecoin (LTC)</span></li>
							 {{end}}
						  </ul>
					   </div>
					</div>
				 </div>
			</div>
			<div class="col-16 col-lg-10 justify-content-center d-flex ai-center">
				<form
				class="search-form"
				role="search"
				id="search-form"
				action="/search"
				data-controller="search"
				data-action="submit->search#execute"
				>
				<input
				   tabindex="0"
				   type="text"
				   name="search"
				   id="search"
				   class="top-search mousetrap"
				   placeholder="Search for blocks, addresses, transactions or proposal tokens"
				   spellcheck="false"
				   autocomplete="off"
				   />
				<button class="search-bttn" type="submit"><span class="dcricon-search search-box-icon"></span></button>
			 </form>
			</div>
			<div class="col-2 col-lg-7 d-flex justify-content-end ai-center ps-0 pe-2">
				<span id="sun-icon" class="dcricon-sun-fill no-underline fs-22 cursor-pointer zoom-1-1" data-action="click->scroll#topSunClick"></span>
			</div>
		</div>
      </div>
	  {{if not .IsHomepage}}
	  <hr class="style-two m-0">
      <div class="d-flex container justify-content-center">
         {{template "multichain_menu_bar" .}}
      </div>
	  {{else}}
	  <hr class="style-two m-0" id="menuDivider">
	  {{end}}
   </header>
{{end}}

{{define "top_navbar"}}
<body class="{{ theme }}{{if .Cookies.DarkMode}} darkBG{{end}} {{if .IsHomepage}}homepage-body{{end}} top-page" data-controller="scroll">
<header class="top-nav align-items-center pt-4" id="navBar" data-scroll-target="navbar" data-blocktime="{{.BlockTimeUnix}}">
   <div class="container d-flex justify-content-between ai-center w-100">
	<!-- Left: Navigation links -->
  	<div class="top-left-menu">
    	<a href="/about" class="top-menu-item" onmouseover="this.style.color='#2186d8'" onmouseout="this.style.color='#4f5052'">
    		<img src="/images/about-icon.png" alt="About icon" width="25" height="25">&nbsp;About
    	</a>
    	<a href="/whatsnew" class="top-menu-item" onmouseover="this.style.color='#2186d8'" onmouseout="this.style.color='#4f5052'">
      		<img src="/images/new-icon.png" alt="About icon" width="25" height="25">&nbsp;What's New
    	</a>
  	</div>
	<a class="dcrdata-logo start-50 translate-middle-x" href="/"></a>
	<div class="menu-item end-0 me-3">
	  <span id="sun-icon" data-action="click->scroll#topSunClick"
		class="dcricon-sun-fill cursor-pointer no-underline zoom-1-1 fs-20"></span>
	</div>
  </div>
   <div class="mt-5 d-flex justify-content-center">
   <form
   class="search-form"
   role="search"
   id="search-form"
   action="/search"
   data-controller="search"
   data-action="submit->search#execute"
   >
   <input
	  tabindex="0"
	  type="text"
	  name="search"
	  id="search"
	  class="top-search mousetrap"
	  placeholder="Search for blocks, addresses, transactions or proposal tokens"
	  spellcheck="false"
	  autocomplete="off"
	  />
   <button class="search-bttn" type="submit"><span class="dcricon-search search-box-icon fs-22"></span></button>
</form>
</div>
</div>
</header>
{{end}}

{{define "new_home_navbar"}}
<body class="{{ theme }}{{if .Cookies.DarkMode}} darkBG{{end}} new-homepage-body" data-controller="scroll homepage"
	data-homepage-vote-status="{{.VotesStatus}}"
    data-homepage-proposal-count="{{.ProposalCountMap}}"
    data-homepage-dev="true"
	{{if .Conversions}} data-homepage-exchange-rate="{{.Conversions.ExchangeRate.Value}}" 
	data-homepage-exchange-index="{{.Conversions.ExchangeRate.Index}}"{{end}}>
	<header class="top-nav d-flex align-items-center" id="navBar" data-scroll-target="navbar" data-blocktime="{{.BlockTimeUnix}}">
		<div class="container d-flex align-items-center px-0 my-1">
		   <div class="row w-100">
				<div class="col-6 col-lg-7 d-flex ai-center">
					<div id="topBarLeft" class="d-flex ai-center">
						<a class="no-underline d-block home-link dcrdata-logo mt-2 mt-md-0" href="/"></a>
						<select
						   data-scroll-target="coinSelect"
						   data-action="change->scroll#changeCoin"
						   class="vodiapicker">
						   <option name="dcr" value="dcr" class="test" data-thumbnail="/images/dcr-icon.png">Decred (DCR)</option>
						   {{if eq .NetName "Mainnet"}}  
						   <option name="btc" value="btc" data-thumbnail="/images/btc-icon.png">Bitcoin (BTC)</option>
						   <option name="ltc" value="ltc" data-thumbnail="/images/ltc-icon.png">Litecoin (LTC)</option>
						   {{end}}
						</select>
						<div class="chain-select-area">
						   <button class="chain-selected-btn" value="dcr">
							  <li><img src="" alt=""><span></span></li>
						   </button>
						   <div id="chainSelectList" class="selection-area" style="display: none;">
							  <ul id="selectUl" class="chain-select-list">
								 <li><img src="/images/dcr-icon.png" value="dcr"><span>Decred (DCR)</span></li>
								 {{if eq .NetName "Mainnet"}}
								 <li><img src="/images/btc-icon.png" value="btc"><span>Bitcoin (BTC)</span></li>
								 <li><img src="/images/ltc-icon.png" value="ltc"><span>Litecoin (LTC)</span></li>
								 {{end}}
							  </ul>
						   </div>
						</div>
					 </div>
				</div>
				<div class="col-16 col-lg-10 justify-content-center d-flex ai-center">
					<form
					class="search-form"
					role="search"
					id="search-form"
					action="/search"
					data-controller="search"
					data-action="submit->search#execute"
					>
					<input
					   tabindex="0"
					   type="text"
					   name="search"
					   id="search"
					   class="top-search mousetrap"
					   placeholder="Search for blocks, addresses, transactions or proposal tokens"
					   spellcheck="false"
					   autocomplete="off"
					   />
					<button class="search-bttn" type="submit"><span class="dcricon-search search-box-icon"></span></button>
				 </form>
				</div>
				<div class="col-2 col-lg-7 d-flex justify-content-end ai-center ps-0 pe-2">
					<span id="sun-icon" class="dcricon-sun-fill no-underline fs-22 cursor-pointer zoom-1-1" data-action="click->scroll#topSunClick"></span>
				</div>
		   </div>
		</div>
		<hr class="style-two m-0" id="menuDivider">
	 </header>
{{end}}

{{define "new_chainhome_navbar"}}
<body class="{{ theme }}{{if .Cookies.DarkMode}} darkBG{{end}} new-homepage-body" data-controller="scroll chainhome"
	data-chainhome-chain-type="{{.ChainType}}"
	{{if .Conversions}}
   		data-chainhome-exchange-rate="{{.Conversions.ExchangeRate.Value}}"
   {{end}}>
	<header class="top-nav d-flex align-items-center" id="navBar" data-scroll-target="navbar" data-blocktime="{{.BlockTimeUnix}}">
		<div class="container d-flex align-items-center px-0 my-1">
		   <div class="row w-100">
				<div class="col-6 col-lg-7 d-flex ai-center">
					<div id="topBarLeft" class="d-flex ai-center">
						<a class="no-underline d-block home-link dcrdata-logo mt-2 mt-md-0" href="/"></a>
						<select
						   data-scroll-target="coinSelect"
						   data-action="change->scroll#changeCoin"
						   class="vodiapicker">
						   <option name="dcr" value="dcr" class="test" data-thumbnail="/images/dcr-icon.png">Decred (DCR)</option>
						   {{if eq .NetName "Mainnet"}}  
						   <option name="btc" value="btc" data-thumbnail="/images/btc-icon.png">Bitcoin (BTC)</option>
						   <option name="ltc" value="ltc" data-thumbnail="/images/ltc-icon.png">Litecoin (LTC)</option>
						   {{end}}
						</select>
						<div class="chain-select-area">
						   <button class="chain-selected-btn" value="dcr">
							  <li><img src="" alt=""><span></span></li>
						   </button>
						   <div id="chainSelectList" class="selection-area" style="display: none;">
							  <ul id="selectUl" class="chain-select-list">
								 <li><img src="/images/dcr-icon.png" value="dcr"><span>Decred (DCR)</span></li>
								 {{if eq .NetName "Mainnet"}}
								 <li><img src="/images/btc-icon.png" value="btc"><span>Bitcoin (BTC)</span></li>
								 <li><img src="/images/ltc-icon.png" value="ltc"><span>Litecoin (LTC)</span></li>
								 {{end}}
							  </ul>
						   </div>
						</div>
					 </div>
				</div>
				<div class="col-16 col-lg-10 justify-content-center d-flex ai-center">
					<form
					class="search-form"
					role="search"
					id="search-form"
					action="/search"
					data-controller="search"
					data-action="submit->search#execute"
					>
					<input
					   tabindex="0"
					   type="text"
					   name="search"
					   id="search"
					   class="top-search mousetrap"
					   placeholder="Search for blocks, addresses, transactions or proposal tokens"
					   spellcheck="false"
					   autocomplete="off"
					   />
					<button class="search-bttn" type="submit"><span class="dcricon-search search-box-icon"></span></button>
				 </form>
				</div>
				<div class="col-2 col-lg-7 d-flex justify-content-end ai-center ps-0 pe-2">
					<span id="sun-icon" class="dcricon-sun-fill no-underline fs-22 cursor-pointer zoom-1-1" data-action="click->scroll#topSunClick"></span>
				</div>
		   </div>
		</div>
		<hr class="style-two m-0" id="menuDivider">
	 </header>
{{end}}

{{define "navbar"}}
<body class="pb-5 {{ theme }}{{if .Cookies.DarkMode}} darkBG{{end}} decred-sub-page {{if .IsHomepage}}homepage-body{{end}}" data-controller="scroll">
	{{template "common_nav_bar" .}}
{{end}}

{{define "common_nav_bar"}}
<header class="top-nav align-items-center" id="navBar" data-scroll-target="navbar" data-blocktime="{{.BlockTimeUnix}}">
	<div class="container d-flex align-items-center px-0 my-1">
		<div class="row w-100">
			<div class="col-6 col-lg-7 d-flex ai-center">
				<div id="topBarLeft" class="d-flex ai-center">
					<a class="no-underline d-block home-link dcrdata-logo mt-2 mt-md-0" href="/"></a>
					<select
					   data-scroll-target="coinSelect"
					   data-action="change->scroll#changeCoin"
					   class="vodiapicker">
					   <option name="dcr" value="dcr" class="test" data-thumbnail="/images/dcr-icon.png">Decred (DCR)</option>
					   {{if eq .NetName "Mainnet"}}  
					   <option name="btc" value="btc" data-thumbnail="/images/btc-icon.png">Bitcoin (BTC)</option>
					   <option name="ltc" value="ltc" data-thumbnail="/images/ltc-icon.png">Litecoin (LTC)</option>
					   {{end}}
					</select>
					<div class="chain-select-area">
					   <button class="chain-selected-btn" value="dcr">
						  <li><img src="" alt=""><span></span></li>
					   </button>
					   <div id="chainSelectList" class="selection-area" style="display: none;">
						  <ul id="selectUl" class="chain-select-list">
							 <li><img src="/images/dcr-icon.png" value="dcr"><span>Decred (DCR)</span></li>
							 {{if eq .NetName "Mainnet"}}
							 <li><img src="/images/btc-icon.png" value="btc"><span>Bitcoin (BTC)</span></li>
							 <li><img src="/images/ltc-icon.png" value="ltc"><span>Litecoin (LTC)</span></li>
							 {{end}}
						  </ul>
					   </div>
					</div>
				 </div>
			</div>
			<div class="col-16 col-lg-10 justify-content-center d-flex ai-center">
				<form
				class="search-form"
				role="search"
				id="search-form"
				action="/search"
				data-controller="search"
				data-action="submit->search#execute"
				>
				<input
				   tabindex="0"
				   type="text"
				   name="search"
				   id="search"
				   class="top-search mousetrap"
				   placeholder="Search for blocks, addresses, transactions or proposal tokens"
				   spellcheck="false"
				   autocomplete="off"
				   />
				<button class="search-bttn" type="submit"><span class="dcricon-search search-box-icon"></span></button>
			 </form>
			</div>
			<div class="col-2 col-lg-7 d-flex justify-content-end ai-center ps-0 pe-2">
				<span id="sun-icon" class="dcricon-sun-fill no-underline fs-22 cursor-pointer zoom-1-1" 
					data-action="click->scroll#topSunClick"></span>
			</div>
	   </div>
	</div>
	<hr class="style-two m-0">
	<div class="d-flex container justify-content-center">
	   {{template "menu_bar" .}}
	</div>
 </header>
{{end}}

{{define "menu_bar"}}
<nav class="dropdownmenu">
  <ul>
	 <li><a class="menu-item-title px-3">Information</a>
      <ul class="submenu info-menu-column">
        <li><a data-keynav-skip href="/blocks" data-turbolinks="false" title="Decred blocks">Blocks</a></li>
        <li><a data-keynav-skip href="/mempool" data-turbolinks="false" title="Decred mempool">Mempool</a></li>
        <li><a data-keynav-skip href="/treasury" data-turbolinks="false" title="Decred Treasury">Treasury</a></li>
		<li><a data-keynav-skip href="/proposals" data-turbolinks="false" title="Proposals">Funding Proposals</a></li>
		<li><a data-keynav-skip href="/agendas" data-turbolinks="false" title="Agendas">Upgrade Agendas</a></li>
		<li><a data-keynav-skip href="/atomic-swaps" data-turbolinks="false" title="atomic swaps">Atomic Swaps</a></li>
      </ul>
    </li>
	 <li><a class="menu-item-title px-3">Graphics</a>
      <ul class="submenu charts-menu-column">
        <li><a data-keynav-skip href="/charts" data-turbolinks="false" title="Decred charts">Chain Charts</a></li>
        <li><a data-keynav-skip href="/market" data-turbolinks="false" title="Market">Market</a></li>
		<li><a data-keynav-skip href="/ticketpool" data-turbolinks="false" title="Decred ticket pool">Ticket Pool</a></li>
		<li><a data-keynav-skip href="/bwdash" data-turbolinks="false" class="nav-btn--promo" title="Bison wallet dashboard">Bison Wallet Dashboard</a></li>
      </ul>
    </li>
	 <li><a class="menu-item-title px-3">Tools</a>
      <ul class="submenu tools-menu-column last-submenu-item">
		<li><a data-keynav-skip href="/" data-turbolinks="false" class="nav-btn--promo" title="Other blockchains">Other Blockchains</a></li>
	  	<li><a data-keynav-skip href="/finance-report" data-turbolinks="false" class="nav-btn--promo" title="Financial Reports">Financial Reports</a></li>
	  	<li><a data-keynav-skip href="/stakingcalc" data-turbolinks="false" title="Staking Reward Calculator">Staking Reward Calculator</a></li>
		<li><a data-keynav-skip href="/supply" data-turbolinks="false" class="nav-btn--promo" title="Next Block Reward Reduction">Supply</a></li>
        <li><a data-keynav-skip href="/attack-cost" data-turbolinks="false" title="Decred Attack Cost">Attack Cost</a></li>
        <li><a data-keynav-skip href="/parameters" data-turbolinks="false" title="Chain Parameters">Parameters</a></li>
        <li><a data-keynav-skip href="/decodetx" data-turbolinks="false" title="Decode or send a raw transaction">Decode/Broadcast Tx</a></li>
		<li><a data-keynav-skip href="/verify-message" data-turbolinks="false" title="Verify Message">Verify Message</a></li>
		<li><a data-keynav-skip href="/whatsnew" data-turbolinks="false" class="nav-btn--promo" title="What's new">What's New</a></li>
		<li>
		{{- if eq .NetName "Mainnet"}}
					<a data-keynav-skip href="{{.Links.Testnet}}" title="Home">Switch To Testnet</a>
				{{- else}}
					<a data-keynav-skip href="{{.Links.Mainnet}}" title="Home">Switch To Mainnet</a>
				{{- end}}
		</li>
        <li>
		<a data-keynav-skip href="{{.Links.APIDocs}}" title="API Endpoints" target="_blank" rel="noopener noreferrer">JSON API Docs</a>
		</li>
		<li>
		<a class="menu-item jsonly col-24 cursor-pointer" data-keynav-skip data-turbolinks="false" href="#" id="keynav-toggle">
						<span class="text">Enable Hot Keys</span><br /><span class="keys-hint">(<span class="arrows"> &#8592;<br>&#8594;</span>&nbsp;&nbsp;enter&nbsp;&nbsp;\&nbsp;&nbsp;=&nbsp;&nbsp;)</span>
					</a>
		</li>
      </ul>
    </li>
  </ul>
</nav>
{{end}}

{{define "multichain_menu_bar"}}
<nav class="dropdownmenu">
  <ul>
	 <li><a class="menu-item-title px-3">Information</a>
      <ul class="submenu info-menu-column">
        <li><a data-keynav-skip href="/{{.ChainType}}/blocks" title="Decred blocks">Blocks</a></li>
        <li><a data-keynav-skip href="/{{.ChainType}}/mempool" title="Decred mempool">Mempool</a></li>
      </ul>
    </li>
	 <li><a class="menu-item-title px-3">Graphics</a>
      <ul class="submenu charts-menu-column">
        <li><a data-keynav-skip href="/{{.ChainType}}/charts" title="Decred charts">Chain Charts</a></li>
        <li><a data-keynav-skip href="/{{.ChainType}}/market" title="Market">Market</a></li>
		<li><a data-keynav-skip href="/{{.ChainType}}/visualblocks" title="Decred visual lastest blocks">Visual Blocks</a></li>
      </ul>
    </li>
	 <li><a class="menu-item-title px-3">Tools</a>
      <ul class="submenu tools-menu-column last-submenu-item">
		<li><a data-keynav-skip href="/" title="Other blockchains">Other Blockchains</a></li>
		<li><a data-keynav-skip href="/{{.ChainType}}/supply" title="Next Block Reward Reduction">Supply</a></li>
        <li><a data-keynav-skip href="/{{.ChainType}}/parameters" title="Chain Parameters">Parameters</a></li>
		<li><a data-keynav-skip href="/whatsnew" title="What's new">What's New</a></li>
		<li>
			<a class="menu-item jsonly col-24 cursor-pointer" data-keynav-skip data-turbolinks="false" id="keynav-toggle">
				<span class="text">Enable Hot Keys</span><br /><span class="keys-hint">(<span class="arrows"> &#8592;<br>&#8594;</span>&nbsp;&nbsp;enter&nbsp;&nbsp;\&nbsp;&nbsp;=&nbsp;&nbsp;)</span>
			</a>
		</li>
      </ul>
    </li>
  </ul>
</nav>
{{end}}

{{define "footer_script"}}
<script
	src="/dist/js/4.b8d098312d886008.bundle.js"
	data-turbolinks-eval="false"
	data-turbolinks-suppress-warning
></script>
<script
	src="/dist/js/app.123b48426e1de83b.bundle.js"
	data-turbolinks-eval="false"
	data-turbolinks-suppress-warning
></script>
{{end}}

{{define "footer"}}
<footer>
	<div data-controller="footer" data-footer-target="footerBar" data-footer-is-homepage="{{.IsHomepage}}" class="navbar-fixed-bottom d-none">
		<div class="container d-flex justify-content-between align-items-center">
		<span>
			<span data-controller="time" data-time-target="blocktime" data-stamp="{{$.Tip.Time}}"></span> <span class="d-none d-sm-inline">since last block</span>
		</span>
		<span>
			<a
				class="text-nowrap d-none d-md-inline-block pe-3"
				href="https://github.com/chaineco/blockcare"
				title="bisonexplorer on GitHub"
				target="_blank"
				rel="noopener noreferrer"
			>Bison Explorer v{{.Version}}</a>
			<span>© 2024 Multi-chains data analysis</span>
		</span>
		<span
			id="connection"
			class="text-nowrap align-items-center clickable d-inline-block"
			data-turbolinks-permanent
			data-controller="connection"
			data-connection-target="indicator"
			data-action="click->connection#requestNotifyPermission"
			title="While connected, you will receive live page updates and, if enabled, desktop notifications (click to enable)."
			><span class="d-none d-sm-inline" data-connection-target="status">Connecting <span class="d-none d-md-inline-block">to WebSocket...</span></span><div></div>
		</span>
	</div>
</div>
	{{template "footer_script"}}
</footer>
{{end}}

{{define "footer_embed"}}
<footer>
	{{template "footer_script"}}
</footer>
{{end}}

{{define "decimalParts" -}}
<div class="decimal-parts d-inline-block">
	{{- if eq (len .) 4 -}}
		<span class="int">
		{{- if gt (len (index . 1)) 0 -}}
			{{ index . 0 }}.{{index . 1 }}
		{{- else -}}
			{{index . 0 }}
		{{- end -}}
	    </span>
		{{- if gt (len (index . 2)) 0 -}}
		<span class="decimal">{{ index . 2 }}</span>
		{{- /* trailing zeros  */ -}}
		<span class="decimal trailing-zeroes">{{ index . 3 }}</span>
		{{- end}}
	{{- else -}}
		<span class="int">{{index . 0}}</span>
		{{- if gt (len (index . 1)) 0 -}}
		<span class="decimal dot">.</span><span class="decimal">{{index . 1 }}</span>
		{{- /* trailing zeros  */ -}}
		<span class="decimal trailing-zeroes">{{index . 2}}</span>
		{{- end}}
	{{- end -}}
	</div>
{{- end}}

{{define "fmtPercentage"}}
  {{- if gt . 0.0 -}}
    <span class="text-green">+{{printf "%.2f" .}} %</span>
  {{- else -}}
    <span class="text-danger">{{printf "%.2f" .}} %</span>
  {{- end -}}
{{end}}

{{define "hashElide"}}
  {{- $hash := (index . 0) -}}
  {{- $link := (index . 1) -}}
  {{- if eq $link "" -}}
	<div
  {{- else -}}
	<a href="{{$link}}"
  {{- end}} data-keynav-priority class="elidedhash mono" data-head="{{hashStart $hash}}" data-tail="{{hashEnd $hash}}">
  {{- $hash}}
  {{- if eq $link ""}}</div>{{else}}</a>{{template "copyTextIcon"}}{{end -}}
{{end}}

{{define "addressTable"}}
{{- $txType := .TxnType}}
{{- if .Transactions}}
   <div class="btable-table-wrap maxh-none">
   <table class="btable-table w-100">
	<thead>
		<tr class="bg-none">
		<th class="d-none d-sm-table-cell">Tx Type</th>
		<th class="text-start">Input/&#8203;Output ID</th>
	{{- if eq $txType "merged_debit"}}
		<th class="text-end"><span class="d-sm-none position-relative" data-tooltip="merged input count">Cnt</span
			><span class="d-none d-sm-inline">Inputs</span>
		</th>
		<th class="text-end">Debit DCR</th>
	{{- else if eq $txType "merged_credit" }}
		<th class="text-end"><span class="d-sm-none position-relative" data-tooltip="merged output count">Cnt</span
			><span class="d-none d-sm-inline">Outputs</span>
		</th>
		<th class="text-end">Credit DCR</th>
	{{- else if eq $txType "merged" }}
		<th title="Count of address's inputs and outputs in the transaction." class="text-end"><span class="d-none d-sm-inline-block">I/O Count</span><span class="d-sm-none position-relative" data-tooltip="# of inputs and outputs">#</span></th>
		<th class="text-end">Credit DCR</th>
		<th class="text-end">Debit DCR</th>
	{{- else if eq $txType "unspent" }}
		<th class="text-end">Credit DCR</th>
	{{- else}}
		<th class="text-end">Credit DCR</th>
		<th class="text-end">Debit DCR</th>
	{{- end}}
		<th class="d-none d-sm-table-cell text-end">Time (UTC)</th>
		<th class="text-end">Age</th>
		<th class="text-end"><span class="d-sm-none position-relative" data-tooltip="Confirmations">Cons</span><span class="d-none d-sm-inline">Confirms</span></th>
		<th class="d-none d-sm-table-cell text-end">Size</th>
		</tr>
	</thead>
	<tbody class="bgc-white">
	{{- range .Transactions}}
		<tr{{if eq .Confirmations 0}} data-address-target="pending" data-txid="{{.TxID}}"{{end}}>
			<td class="d-none d-sm-table-cell">{{if .SwapsType}}<span class="common-label py-1 px-2 text-white ms-2 {{.SwapsType}}-bg fs13">{{.SwapsTypeDisplay}}</span>{{else}}{{.TxType}}{{end}}</td>
			<td class="clipboard">{{template "hashElide" (hashlink .TxID .Link)}}</td>
		{{- if eq $txType "merged_debit"}}
			<td class="text-end">{{.MergedTxnCount}}</td>
			<td class="text-end fs15">{{template "decimalParts" (float64AsDecimalParts .SentTotal 8 false)}}</td>
		{{- else if eq $txType "merged_credit"}}
			<td class="text-end">{{.MergedTxnCount}}</td>
			<td class="text-end fs15">{{template "decimalParts" (float64AsDecimalParts .ReceivedTotal 8 false)}}</td>
		{{- else if eq $txType "merged"}}
			<td class="text-end">{{.MergedTxnCount}}</td>
			{{- if .IsFunding}}
			<td class="text-end fs15">{{template "decimalParts" (float64AsDecimalParts .ReceivedTotal 8 false)}}</td>
			<td class="text-end">&mdash;</td>
			{{- else}}
			<td class="text-end">&mdash;</td>
			<td class="text-end fs15">{{template "decimalParts" (float64AsDecimalParts .SentTotal 8 false)}}</td>
			{{- end}}
		{{- else if eq $txType "unspent"}}
			<td class="text-end fs15">{{template "decimalParts" (float64AsDecimalParts .ReceivedTotal 8 false)}}</td>
		{{- else if or (eq $txType "credit") .IsFunding}}{{/* .IsFunding = true && txType = "all" is a credit */}}
			<td class="text-end fs15">{{template "decimalParts" (float64AsDecimalParts .ReceivedTotal 8 false)}}</td>
			{{- if ne .MatchedTx ""}}
			<td class="text-end"><a href="/tx/{{.MatchedTx}}/in/{{.MatchedTxIndex}}"
				data-txid="{{.MatchedTx}}"
				data-action="mouseover->address#hashOver mouseout->address#hashOut"
				>spent</a></td>
			{{- else}}
			<td class="text-end">unspent</td>
			{{- end}}
		{{- else}}{{/* either "debit", or "all" with .IsFunding = false */ -}}
			{{- if eq .SentTotal 0.0}}
			<td class="text-end">sstxcommitment</td>
			{{- else if ne .MatchedTx ""}}
			<td class="text-end"><a href="/tx/{{.MatchedTx}}/out/{{.MatchedTxIndex}}" data-action="mouseover->address#hashOver mouseout->address#hashOut">source</a></td>
			{{- else}}
			<td class="text-end">N/A</td>
			{{- end}}
			<td class="text-end fs15">{{template "decimalParts" (float64AsDecimalParts .SentTotal 8 false)}}</td>
		{{- end}}
			<td class="addr-tx-time d-none d-sm-table-cell text-end">{{if eq .Confirmations 0}}Unconfirmed{{else}}{{.Time.DatetimeWithoutTZ}}{{end}}</td>
			<td class="addr-tx-age text-end">
			{{- if eq (.Time.T.Unix) 0}}
				N/A
			{{- else}}
				<span data-controller="time" data-time-target="age" data-age="{{.Time.UNIX}}"></span>
			{{- end}}
			</td>
			<td class="addr-tx-confirms text-end"	{{/*Update confirmations with Stimulus*/ -}}
				data-newblock-target="confirmations" {{/*trim*/ -}}
				data-confirmations="{{.Confirmations}}" {{/*trim*/ -}}
				data-confirmation-block-height="{{if eq .Confirmations 0}}-1{{else}}{{.BlockHeight}}{{end}}" {{/*trim*/ -}}
				data-yes="#" {{/*trim*/ -}}
				data-no="(unconfirmed)" {{/*trim*/ -}}
			>{{.Confirmations}}</td>
			<td class="text-end d-none d-sm-table-cell text-end">{{.FormattedSize}}</td>
		</tr>
	{{- end}}
	</tbody>
</table>
</div>
{{- else}}
<table class="table table-mono-cells">
	<tr>
		<td>
			No "{{$txType}}" transactions found for this address.
		</td>
	</tr>
</table>
{{- end}}
{{- end}}

{{define "mutilchainAddressTable"}}
{{- $txType := .TxnType}}
{{- $ChainType := .ChainType}}
{{- if .Transactions}}
   <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100">
	<thead>
		<tr class="bg-none">
		<th class="text-start">Input/&#8203;Output ID</th>
		<th class="text-end">Credit ({{toUpperCase $ChainType}})</th>
		<th class="text-end">Debit ({{toUpperCase $ChainType}})</th>
		<th class="d-none d-sm-table-cell text-end">Time (UTC)</th>
		<th class="text-end">Age</th>
		<th class="text-end"><span class="d-sm-none position-relative" data-tooltip="Confirmations">Cons</span><span class="d-none d-sm-inline">Confirms</span></th>
		<th class="d-none d-sm-table-cell text-end">Size</th>
		</tr>
	</thead>
	<tbody class="bgc-white">
	{{- range .Transactions}}
		<tr{{if eq .Confirmations 0}} data-address-target="pending" data-txid="{{.TxID}}"{{end}}>
			<td class="d-flex ai-center">
				<div class="clipboard">{{template "hashElide" (hashlink .TxID (print "/" $ChainType "/tx/" .TxID))}}</div>
				{{if .SwapsType}}<span class="common-label py-1 px-2 text-white ms-2 {{.SwapsType}}-bg fs13">{{.SwapsTypeDisplay}}</span>{{end}}</td>
			{{- if ne .ReceivedTotal 0.0}}
			<td class="text-end">{{template "decimalParts" (float64AsDecimalParts .ReceivedTotal 8 false)}}</td>
			{{- else}}
			<td class="text-end">N/A</td>
			{{- end}}
			{{- if ne .SentTotal 0.0}}
			<td class="text-end fs15">{{template "decimalParts" (float64AsDecimalParts .SentTotal 8 false)}}</td>
			{{- else}}
			<td class="text-end">N/A</td>
			{{- end}}
			<td class="addr-tx-time d-none d-sm-table-cell text-end">{{if eq .Confirmations 0}}Unconfirmed{{else}}{{.Time.DatetimeWithoutTZ}}{{end}}</td>
			<td class="addr-tx-age text-end">
			{{- if eq (.Time.T.Unix) 0}}
				N/A
			{{- else}}
				<span data-controller="time" data-time-target="age" data-age="{{.Time.UNIX}}"></span>
			{{- end}}
			</td>
			<td class="text-end">
				{{if eq .Confirmations 0}}
				(unconfirmed)
				{{else}}
				{{.Confirmations}}
				{{end}}
			</td>
			<td class="text-end d-none d-sm-table-cell text-end">{{.FormattedSize}}</td>
		</tr>
	{{- end}}
	</tbody>
</table>
</div>
{{- else}}
<table class="table table-mono-cells">
	<tr>
		<td>
			No "{{$txType}}" transactions found for this address.
		</td>
	</tr>
</table>
{{- end}}
{{- end}}

{{define "mempoolDump"}}
  {{$likely := .LikelyMineable}}
  data-id="{{.Ident}}"
  data-total="{{$likely.Total}}"
  data-size="{{$likely.Size}}"
  data-count="{{$likely.Count}}"
  data-reg-total="{{$likely.RegularTotal}}"
  data-reg-count="{{.NumRegular}}"
  data-vote-total="{{$likely.VoteTotal}}"
  data-vote-count="{{.VotingInfo.TicketsVoted}}"
  data-ticket-total="{{$likely.TicketTotal}}"
  data-ticket-count="{{.NumTickets}}"
  data-rev-total="{{$likely.RevokeTotal}}"
  data-rev-count="{{.NumRevokes}}"
{{end}}

{{define "blocksBanner"}}
<div class="block-banner">
	<div class="container px-1 mt-2">
		<div>
			<a class="tab-button white c-txt-main {{if eq .TimeGrouping "Blocks"}} unstyled-link active{{else}} text-secondary{{end}}" href="/blocks"> Blocks </a>
			<a class="tab-button white c-txt-main {{if eq .TimeGrouping "Windows"}} unstyled-link active{{else}} text-secondary{{end}}" href="/ticketpricewindows"> Windows </a>
			<span class="banner-blocks-time">
			<span class="separator mx-3 block-banner-separator"></span>
			<a class="tab-button white c-txt-main {{if eq .TimeGrouping "Years"}} unstyled-link active{{else}} text-secondary{{end}}" href="/years"> Years </a>
			<a class="tab-button white c-txt-main {{if eq .TimeGrouping "Months"}} unstyled-link active{{else}} text-secondary{{end}}" href="/months"> Months </a>
			<a class="tab-button white c-txt-main {{if eq .TimeGrouping "Weeks"}} unstyled-link active{{else}} text-secondary{{end}}" href="/weeks"> Weeks </a>
			<a class="tab-button white c-txt-main {{if eq .TimeGrouping "Days"}} unstyled-link active{{else}} text-secondary{{end}}" href="/days"> Days </a>
			</span>
		</div>
	</div>
</div>
{{end}}

{{define "copyTextIcon"}}
  <span class="dcricon-copy clickable"
  data-controller="clipboard"
  data-action="click->clipboard#copyTextToClipboard"
  ></span>
  <span class="alert alert-secondary alert-copy">
  </span>
{{end}}

{{define "treasuryTable"}}
<div class="btable-table-wrap maxh-none">
    <table class="btable-table w-100 table-responsive-sm">
	<thead>
		<tr class="bg-none">
		<th class="d-none d-sm-table-cell">Tx Type</th>
		<th class="text-start">Transaction</th>
		<th class="text-end">Amount</th>
		<th class="text-end">Block</th>
		{{if eq $.TxnType "tspend"}}
		<th class="text-end">Yes</th>
		<th class="text-end">No</th>
		<th class="text-end">Approval Rate</th>
		{{end}}
		<th class="d-none d-sm-table-cell text-end">Time (UTC)</th>
		<!-- <th class="text-end"><span class="d-sm-none position-relative" data-tooltip="Confirmations">Cons</span><span class="d-none d-sm-inline">Confirms</span></th> -->
		</tr>
	</thead>
	<tbody class="bgc-white">
	{{- range .Transactions}}
		<tr> {{/* {{if eq .Confirmations 0}}data-address-target="pending" data-txid="{{.TxID}}"{{end}} */}}
			<td class="d-none d-sm-table-cell">{{txtypeStr .Type}}</td>
			<td class="clipboard">{{template "hashElide" (hashlink .TxID (printf "/tx/%s" .TxID))}}</td>
			<td class="text-end fs15">{{template "decimalParts" (amountAsDecimalParts .Amount false)}}</td>
			<td class="text-end fs15">{{.BlockHeight}}</td>
			{{if and (eq $.TxnType "tspend") .TSpendMeta}}
				{{with .TSpendMeta}}
				<td class="text-end fs15">{{.YesVotes}}</td>
				<td class="text-end fs15">{{.NoVotes}}</td>
				<td class="text-end fs15">{{printf "%.2f" (f32x100 .Approval)}}%</td>
				{{end}}
			{{end}}
			<td class="addr-tx-time d-none d-sm-table-cell text-end">{{.BlockTime.DatetimeWithoutTZ}}</td>
			{{/*  <td class="addr-tx-confirms text-end"
				data-newblock-target="confirmations"
				data-confirmations="{{.Confirmations}}"
				data-confirmation-block-height="{{if eq .Confirmations 0}}-1{{else}}{{.BlockHeight}}{{end}}"
				data-yes="#"
				data-no="(unconfirmed)"
			>{{.Confirmations}}</td> */}}
		</tr>
	{{- end}}
	</tbody>
</table>
</div>
{{- end}}

{{define "atomicSwapsTable"}}
<div class="btable-table-wrap maxh-none mt-0">
    <table class="btable-table atomic-table w-100 table-responsive-sm">
	<tbody class="bgc-white">
	{{- range .SwapsList}}
		<tr>
			<!-- Only 1 column -->
			<td>
				{{$isRefund := .IsRefund}}
				{{$hasTargetToken := (ne .TargetToken "")}}
				<div class="pb-1 border-2-bottom-grey">
				<div class="d-md-flex ai-center fw-600 fs15">
					{{if eq $.SimpleListMode false}}
					<div class="d-flex ai-center">
						{{if $hasTargetToken}}
						<div class="p-relative d-flex ai-center pair-icons">
							<img src="/images/dcr-icon-notran.png" width="20" height="20"> 
							<img src="/images/{{.TargetToken}}-icon.png" width="20" height="20" class="second-pair">
						</div>
						{{else}}
						  <img src="/images/synchronize.png" width="20" height="20" class="me-1"> 
						{{end}}
						<p>{{if $hasTargetToken}}DCR/{{toUpperCase .TargetToken}}{{else}}Verifying{{end}}</p>
					</div>
					{{end}}
					<div class="d-flex ai-center {{if eq $.SimpleListMode false}}ms-0 ms-md-3{{end}}">Amount:&nbsp;<div>{{normalWithPrecFloat (toFloat64Amount .Source.TotalAmount) -1}}</div>&nbsp;DCR
					{{if $hasTargetToken}}
					&nbsp;(
					<div>{{normalWithPrecFloat (toFloat64Amount .Target.TotalAmount) -1}}</div>&nbsp;{{toUpperCase .TargetToken}})
					{{end}}
					{{if eq $.SimpleListMode false}}
					<span class="common-label py-1 px-2 ms-2 {{if .IsRefund}}refund-brighter-bg refund-border{{else}}success-bg success-border{{end}} fw-400 fs13">{{if .IsRefund}}Refund{{else}}Redemption{{end}}</span>
					{{end}}
					</div>
				</div>
				<div class="mt-2 fst-italic">
					{{if $hasTargetToken}}<span class="fw-bold">Rate:</span> {{normalWithPrecFloat (divideFloat (toFloat64Amount .Target.TotalAmount) (toFloat64Amount .Source.TotalAmount)) 7}} {{toUpperCase .TargetToken}}/DCR, {{end}}
					<span data-type="age" data-time-target="age" data-age="{{.Time}}">{{timeDurationShortString .Time}}</span> ago
				</div>
				</div>
				<div class="row mt-3">
					<div class="col-24 col-md-12 mb-3">
						<div class="d-flex ai-center">
							<img src="/images/dcr-icon-notran.png" width="20" height="20">
							<div class="ms-2"><span class="fw-600">Contract</span></div>
						</div>
						{{- range .Source.Contracts}}
						<div class="row mt-1 {{if and $.SimpleListMode (eq $.TxID .Txid)}}highlight-box{{end}}">
							<div class="col-24">
								{{if and $.SimpleListMode (eq $.TxID .Txid)}}
									<div class="d-inline-block fs14 break-word rounded medium-sans pb-1 clipboard">{{.Txid}}{{template "copyTextIcon"}}</div>
								{{else}}
									<div class="clipboard">{{template "hashElide" (hashlink .Txid (printf "/tx/%s" .Txid))}}</div>
								{{end}}
							</div>
							<p class="col-12 ps-2">Block Height: <a href="/decred/block/{{.Height}}">{{.Height}}</a></p>
							<p class="col-12 ps-2">Value: {{normalFloat (toFloat64Amount .Value)}} DCR</p>
							<p class="col-12 ps-2">Fees: {{normalFloat (toFloat64Amount .Fees)}} DCR</p>
							<p class="col-12 ps-2"><span class="fw-bold">Created: </span>{{dateTimeWithoutTimeZone .Time}}</p>
						</div>
						{{end}}
					</div>
					<div class="col-24 col-md-12 mb-3">
						<div class="d-flex ai-center">
							<img src="/images/dcr-icon-notran.png" width="20" height="20">
							<div class="ms-2"><span class="fw-600">{{if $isRefund}}Refund{{else}}Redemption{{end}}</span></div>
						</div>
						{{- range .Source.Results}}
						<div class="row mt-1 {{if and $.SimpleListMode (eq $.TxID .Txid)}}highlight-box{{end}}">
							<div class="col-24">
								{{if and $.SimpleListMode (eq $.TxID .Txid)}}
									<div class="d-inline-block fs14 break-word rounded medium-sans pb-1 clipboard">{{.Txid}}{{template "copyTextIcon"}}</div>
								{{else}}
									<div class="clipboard">{{template "hashElide" (hashlink .Txid (printf "/tx/%s" .Txid))}}</div>
								{{end}}
							</div>
							<p class="col-12 ps-2">Block Height: <a href="/decred/block/{{.Height}}">{{.Height}}</a></p>
							<p class="col-12 ps-2">Value: {{normalFloat (toFloat64Amount .Value)}} DCR</p>
							<p class="col-12 ps-2"><span class="fw-bold">Locked Time: </span>{{dateTimeWithoutTimeZone .LockTime}}</p>
							<p class="col-12 ps-2"><span class="fw-bold">{{if $isRefund}}Refunded{{else}}Redeemed{{end}} At: </span>{{dateTimeWithoutTimeZone .Time}}</p>
						</div>
						{{end}}
					</div>
				</div>
				{{if $hasTargetToken}}
				<div class="row">
					{{ $targetToken := .TargetToken }}
					<div class="col-24 col-md-12 mb-1">
						<div class="d-flex ai-center">
							<img src="/images/{{$targetToken}}-icon.png" width="20" height="20">
							<div class="ms-2"><span class="fw-600">Contracts</span></div>
						</div>
						{{- range .Target.Contracts}}
						<div class="row mt-1 {{if and $.SimpleListMode (eq $.TxID .Txid)}}highlight-box{{end}}">
							<div class="col-24">
								{{if and $.SimpleListMode (eq $.TxID .Txid)}}
								<div class="d-inline-block fs14 break-word rounded medium-sans pb-1 clipboard">{{.Txid}}{{template "copyTextIcon"}}</div>
								{{else}}
								<div class="clipboard">{{template "hashElide" (hashlink .Txid (printf "/%s/tx/%s" $targetToken .Txid))}}</div>
								{{end}}
							</div>
							<p class="col-12 ps-2">Block Height: <a href="/{{$targetToken}}/block/{{.Height}}">{{.Height}}</a></p>
							<p class="col-12 ps-2">Value: {{normalFloat (toFloat64Amount .Value)}} {{toUpperCase $targetToken}}</p>
							<p class="col-12 ps-2">Fees: {{normalFloat (toFloat64Amount .Fees)}} {{toUpperCase $targetToken}}</p>
							<p class="col-12 ps-2"><span class="fw-bold">Created: </span>{{dateTimeWithoutTimeZone .Time}}</p>
						</div>
						{{end}}
					</div>
					<div class="col-24 col-md-12 mb-1">
						<div class="d-flex ai-center">
							<img src="/images/{{$targetToken}}-icon.png" width="20" height="20">
							<div class="ms-2"><span class="fw-600">{{if $isRefund}}Refund{{else}}Redemption{{end}}</span></div>
						</div>
						{{- range .Target.Results}}
						<div class="row mt-1 {{if and $.SimpleListMode (eq $.TxID .Txid)}}highlight-box{{end}}">
							<div class="col-24">
								{{if and $.SimpleListMode (eq $.TxID .Txid)}}
								<div class="d-inline-block fs14 break-word rounded medium-sans pb-1 clipboard">{{.Txid}}{{template "copyTextIcon"}}</div>
								{{else}}
								<div class="clipboard">{{template "hashElide" (hashlink .Txid (printf "/%s/tx/%s" $targetToken  .Txid))}}</div>
								{{end}}
							</div>
							<p class="col-12 ps-2">Block Height: <a href="/{{$targetToken}}/block/{{.Height}}">{{.Height}}</a></p>
							<p class="col-12 ps-2">Value: {{normalFloat (toFloat64Amount .Value)}} {{toUpperCase $targetToken}}</p>
							<p class="col-12 ps-2"><span class="fw-bold">Locked Time: </span>{{dateTimeWithoutTimeZone .LockTime}}</p>
							<p class="col-12 ps-2"><span class="fw-bold">{{if $isRefund}}Refunded{{else}}Redeemed{{end}} At: </span>{{dateTimeWithoutTimeZone .Time}}</p>
						</div>
						{{end}}
					</div>
				</div>
				{{end}}
			</td>
		</tr>
	{{- end}}
	</tbody>
</table>
</div>
{{- end}}

{{define "atomicSwapsSimpleTable"}}
<div class="btable-table-wrap maxh-none mt-2">
    <table class="btable-table w-100 table-responsive-sm">
		<thead>
			<tr class="bg-none">
				<th class="text-start fw-bold">Pair/Currency</th>
				<th class="text-center fw-bold">Txid</th>
				<th class="text-start fw-bold">Value</th>
				<th class="text-start fw-bold">Height</th>
				<th class="text-end fw-bold">Time (UTC)</th>
			</tr>
		</thead>
		<tbody class="bgc-white">
		{{- range .SwapsList}}
			{{$isRefund := .IsRefund}}
			{{$hasTargetToken := (ne .TargetToken "")}}
			<!-- Begin first row is group info -->
			<tr class="swap-group-header">
				<td class="text-start" colspan="2">
					<div class="d-flex ai-center">
						{{if $hasTargetToken}}
						<div class="p-relative d-flex ai-center pair-icons">
							<img src="/images/dcr-icon-notran.png" width="20" height="20"> 
							<img src="/images/{{.TargetToken}}-icon.png" width="20" height="20" class="second-pair">
						</div>
						{{else}}
						  <img src="/images/synchronize.png" width="20" height="20" class="me-1"> 
						{{end}}
						<p class="fw-bold">{{if $hasTargetToken}}DCR/{{toUpperCase .TargetToken}}{{else}}Verifying{{end}}</p>
						<span class="common-label py-1 px-2 ms-2 {{if .IsRefund}}refund-brighter-bg refund-border{{else}}success-bg success-border{{end}} fw-400 fs13">{{if .IsRefund}}Refund{{else}}Redemption{{end}}</span>
					</div>
				</td>
				<td class="text-start fw-bold" colspan="2">
					<div>
						{{normalWithPrecFloat (toFloat64Amount .Source.TotalAmount) -1}}&nbsp;DCR
						{{if $hasTargetToken}}&nbsp;({{normalWithPrecFloat (toFloat64Amount .Target.TotalAmount) -1}}&nbsp;{{toUpperCase .TargetToken}})
						{{end}}
						{{if $hasTargetToken}}
						<div class="mt-2 fst-italic"><span class="fw-bold">Rate:</span> <span class="fw-400">{{normalWithPrecFloat (divideFloat (toFloat64Amount .Target.TotalAmount) (toFloat64Amount .Source.TotalAmount)) 7}} {{toUpperCase .TargetToken}}/DCR</span></div>
						{{end}}
					</div>
				</td>
				<td class="text-end"><span data-type="age" data-time-target="age" data-age="{{.Time}}">{{timeDurationShortString .Time}}</span> ago</td>
			</tr>
			<!-- End first row is group info -->
			<!-- Begin Source contracts -->
			{{- range .Source.Contracts}}
			<tr>
				<td class="text-start">
					<div class="d-flex ai-center ms-3 ms-lg-4">
						<div class="d-flex ai-center">
							<img src="/images/dcr-icon-notran.png" width="20" height="20">
							<div class="ms-2"><span class="fw-600">Contract</span></div>
						</div>
					</div>
				</td>
				<td class="text-center">
					<div class="clipboard">{{template "hashElide" (hashlink .Txid (printf "/tx/%s" .Txid))}}</div>
				</td>
				<td class="text-start">
					{{normalWithPrecFloat (toFloat64Amount .Value) -1}} DCR
				</td>
				<td class="text-start">
					<a href="/decred/block/{{.Height}}">{{.Height}}</a>
				</td>
				<td class="text-end">
					{{dateTimeWithoutTimeZone .Time}}
				</td>
			</tr>
			{{end}}
			<!-- End Source contracts -->
			<!-- Begin Source redemptions -->
			{{- range .Source.Results}}
			<tr>
				<td class="text-start">
					<div class="d-flex ai-center ms-3 ms-lg-4">
						<div class="d-flex ai-center">
							<img src="/images/dcr-icon-notran.png" width="20" height="20">
							<div class="ms-2"><span class="fw-600">{{if $isRefund}}Refund{{else}}Redemption{{end}}</span></div>
						</div>
					</div>
				</td>
				<td class="text-center">
					<div class="clipboard">{{template "hashElide" (hashlink .Txid (printf "/tx/%s" .Txid))}}</div>
				</td>
				<td class="text-start">
					{{normalWithPrecFloat (toFloat64Amount .Value) -1}} DCR
				</td>
				<td class="text-start">
					<a href="/decred/block/{{.Height}}">{{.Height}}</a>
				</td>
				<td class="text-end">
					{{dateTimeWithoutTimeZone .Time}}
				</td>
			</tr>
			{{end}}
			<!-- End Source redemptions -->
			{{if $hasTargetToken}}
			{{ $targetToken := .TargetToken }}
			<!-- Begin Target contracts -->
			{{- range .Target.Contracts}}
			<tr>
				<td class="text-start">
					<div class="d-flex ai-center ms-3 ms-lg-4">
						<div class="d-flex ai-center">
							<img src="/images/{{$targetToken}}-icon.png" width="20" height="20">
							<div class="ms-2"><span class="fw-600">Contract</span></div>
						</div>
					</div>
				</td>
				<td class="text-center">
					<div class="clipboard">{{template "hashElide" (hashlink .Txid (printf "/%s/tx/%s" $targetToken .Txid))}}</div>
				</td>
				<td class="text-start">
					{{normalWithPrecFloat (toFloat64Amount .Value) -1}} {{toUpperCase $targetToken}}
				</td>
				<td class="text-start">
					<a href="/{{$targetToken}}/block/{{.Height}}">{{.Height}}</a>
				</td>
				<td class="text-end">
					{{dateTimeWithoutTimeZone .Time}}
				</td>
			</tr>
			{{end}}
			<!-- End Target contracts -->
			<!-- Begin Target redemptions -->
			{{- range .Target.Results}}
			<tr>
				<td class="text-start">
					<div class="d-flex ai-center ms-3 ms-lg-4">
						<div class="d-flex ai-center">
							<img src="/images/{{$targetToken}}-icon.png" width="20" height="20">
							<div class="ms-2"><span class="fw-600">{{if $isRefund}}Refund{{else}}Redemption{{end}}</span></div>
						</div>
					</div>
				</td>
				<td class="text-center">
					<div class="clipboard">{{template "hashElide" (hashlink .Txid (printf "/%s/tx/%s" $targetToken  .Txid))}}</div>
				</td>
				<td class="text-start">
					{{normalWithPrecFloat (toFloat64Amount .Value) -1}} {{toUpperCase $targetToken}}
				</td>
				<td class="text-start">
					<a href="/{{$targetToken}}/block/{{.Height}}">{{.Height}}</a>
				</td>
				<td class="text-end">
					{{dateTimeWithoutTimeZone .Time}}
				</td>
			</tr>
			{{end}}
			<!-- End Target redemptions -->
			{{end}}
		{{end}}
		</tbody>
	</table>
</div>
{{- end}}