<template>
   {{define "finance_detail"}}
   <!DOCTYPE html>
   <html lang="en">
      {{ template "html-head" headData .CommonPageData "Finance Report Detail" }}
      {{ template "navbar". }}
      <div class="content pb-40 container" 
         data-controller="financedetail"
         data-financedetail-politeia-url="{{.PoliteiaURL}}">
         <nav class="breadcrumbs mt-0">
            <a href="/" class="breadcrumbs__item no-underline ps-2">
               <span class="homeicon-tags me-1"></span>
               <span class="link-underline">Homepage</span>
            </a>
            <a href="/home-report" class="breadcrumbs__item item-link">Financial Reports</a>
            <a href="/" class="breadcrumbs__item item-link" data-financedetail-target="toUpReport"></a>
            <a href="/" class="breadcrumbs__item item-link d-none" data-financedetail-target="yearBreadcumb"></a>
            <span class="breadcrumbs__item is-active d-flex">
               <span data-financedetail-target="currentDetail"></span>
               <span class="ms-3 d-flex mt-0" data-financedetail-target="prevNextButtons">
                  <a class="fs13 cursor-pointer c-white item-link hover-grey" data-financedetail-target="prevBtn" data-action="click->financedetail#prevReport">previous</a>&nbsp;|
                  <a class="fs13 cursor-pointer c-white item-link hover-grey" data-financedetail-target="nextBtn" data-action="click->financedetail#nextReport">&nbsp;next </a>
               </span>
            </span>
         </nav>
         <p class="d-none" data-financedetail-target="noData">Data not available. Please check the URL or reload the page!</p>
         <div class="d-none" data-financedetail-target="reportArea">
            <div class="common-card py-2 ps-3 w-500px mt-3 d-none odd-even-row" data-financedetail-target="proposalSumCard">
            <div data-financedetail-target="proposalSpanRow">
            </div>
            <div class="d-flex">
               <a data-financedetail-target="toVote" class="d-none d-block" href="#">
               <span class="dcricon-check me-1 py-1"></span>
               Voting Details
               </a>
               <a data-financedetail-target="toDiscussion" class="d-none d-block ms-4" href="#">
               <span class="dcricon-discussion me-1 py-1"></span>
               Proposal Details
               </a>
            </div>
            </div>
            <div class="mt-1 d-none" data-financedetail-target="totalSpanRow">
               <p class="fw-600 fs-16">Proposals Expenditures (Est): $<span class="fs-18" data-financedetail-target="expendiduteValue"></span></p>
               <table class="table report report-table v3 border-grey-2 w-auto" data-financedetail-target="yearMonthInfoTable"></table>
            </div>
            <p class="d-none mt-3" data-financedetail-target="noReport">Data does not exist. Let's move on to another time!</p>
            <div data-financedetail-target="domainArea" class="d-none">
               <p class="fw-600 fs-20 mt-3">Domain Data (Est)</p>
               <table class="table report report-table v3 border-grey-2 w-auto" data-financedetail-target="domainReport"></table>
            </div>
            <div data-financedetail-target="proposalArea" class="d-none">
               <p class="fw-600 fs-20 mt-3">Proposal Data</p>
               <table class="table report report-table v3 border-grey-2 w-auto" data-financedetail-target="proposalReport">
               </table>
            </div>
            <div data-financedetail-target="monthlyArea" class="d-none">
               <p class="fw-600 fs-20 mt-3">Monthly Summary</p>
               <div class="my-2 d-flex">
                  <label class="color-note-label report-tool-bar border-radius-8 future-color"></label>
                  <span class="c-grey-2 ps-2 fw-600 color-description">Months in the future</span>
               </div>
               <div class="d-flex" data-financedetail-target="monthlyReport">
               </div>
            </div>
            <div data-financedetail-target="yearlyArea" class="d-none">
               <p class="fw-600 fs-20 mt-3">Yearly Summary</p>
               <div class="my-2 d-flex">
                  <label class="color-note-label report-tool-bar border-radius-8 future-color"></label>
                  <span class="c-grey-2 ps-2 fw-600 color-description">Years in the future</span>
               </div>
               <div class="d-flex" data-financedetail-target="yearlyReport">
               </div>
            </div>
            <div data-financedetail-target="sameOwnerProposalArea" class="d-none">
               <p class="fw-600 fs-20 mt-3">Proposals with the same owner</p>
               <div class="mt-2">
                  <label class="color-note-label summary-note-color border-radius-8"></label>
                  <span class="description-text c-grey-2 fw-600">The proposals are still active</span>
               </div>
               <table class="table report report-table v3 border-grey-2 w-auto mt-3" data-financedetail-target="otherProposalSummary">
               </table>
            </div>
            <div data-financedetail-target="summaryArea" class="d-none">
               <p class="fw-600 fs-20 mt-3">Proposals</p>
               <div class="mt-2">
                  <label class="color-note-label summary-note-color border-radius-8"></label>
                  <span class="description-text c-grey-2 fw-600">The proposals are still active</span>
               </div>
               <table class="table report report-table v3 border-grey-2 w-auto mt-3" data-financedetail-target="summaryReport">
               </table>
            </div>
         </div>
      </div>
      {{ template "footer". }}
      </body>
   </html>
   {{ end }}
</template>