<template>
   {{define "home_report"}}
   <!DOCTYPE html>
   <html lang="en">
      {{ template "html-head" headData .CommonPageData "Bison Explorer - Finance report Homepage" }}
      {{ template "navbar". }}
      <div class="container mt-2 pb-40">
         <nav class="breadcrumbs">
            <a href="/" class="breadcrumbs__item no-underline ps-2">
               <span class="homeicon-tags me-1"></span>
               <span class="link-underline">Homepage</span>
            </a>
            <span class="breadcrumbs__item is-active">Financial Reports Menu</span>
         </nav>
         <section>
            <div class="d-flex justify-content-center my-4">
               <div class="ta-center">
                  <h3 class="fw-600">Financial Reports</h3>
                  <p class="fs-17">Synthesize financial reports for treasury revenues and expenditures</p>
               </div>
            </div>
            <div class="d-flex justify-content-center ai-center">
               <div>
                  <div class="d-flex justify-content-center my-3">
                     <a class="explore-card-wrap report-menu-button home-report-card" href="/finance-report?type=treasury&tsort=newest">
                        <h5 class="explore-card__header__text__name fs-18i py-2 ta-center">Treasury Spending</h5>
                     </a>
                  </div>
                  <div class="d-flex justify-content-center my-3">
                     <a class="explore-card-wrap report-menu-button home-report-card" href="/finance-report">
                        <h5 class="explore-card__header__text__name fs-18i py-2 ta-center">Proposals</h5>
                     </a>
                  </div>
               </div>
            </div>
         </section>
      </div>
      {{ template "footer". }}
      </body>
   </html>
   {{ end }}
</template>