{{define "voteTable"}}
<div class="row">
   <div class="col-12"><span class="medium-sans">Ayes: &nbsp;</span>&nbsp;{{.Aye}}</div>
   <div class="col-12"><span class="medium-sans">Approved: &nbsp;</span>&nbsp;{{printf "%.1f" (f32x100 .Approval)}}%</div>
   <div class="col-12"><span class="medium-sans">Nays: &nbsp;</span>&nbsp;{{.Nay}}</div>
   <div class="col-12"><span class="medium-sans">Abstain: &nbsp;</span>&nbsp;{{.Abstain}} ({{printf "%.1f" (f32x100 .AbstainRate)}}%)</div>
</div>
{{end}}
{{define "home" -}}
{{- $conv := .Conversions -}}
{{- $botState := .XcState -}}
<!DOCTYPE html>
<html lang="en">
   {{ template "html-head" headData .CommonPageData "Decred Block Explorer by dcrdata.org"}}
   {{ template "navbar" . }}
   <div class="main-container homepage-class" data-controller="charts time blocklist homepage"
      data-homepage-vote-status="{{.VotesStatus}}"
      data-homepage-proposal-count="{{.ProposalCountMap}}"
      data-charts-tps="{{.TargetPoolSize}}"
      data-charts-svh="{{.ChainParams.StakeValidationHeight}}"
      data-charts-pos="{{.ChainParams.StakeRewardProportion}}"
      data-charts-premine="{{.Premine}}"
      data-charts-bs="{{.ChainParams.BaseSubsidy}}"
      data-charts-sri="{{.ChainParams.SubsidyReductionInterval}}"
      data-charts-mul-subsidy="{{.ChainParams.MulSubsidy}}"
      data-charts-div-subsidy="{{.ChainParams.DivSubsidy}}"
      data-charts-window-size="{{.ChainParams.StakeDiffWindowSize}}"
      data-charts-block-time="{{.ChainParams.TargetTimePerBlock.Seconds}}"
      >
      <div class="hp-header-wrap area">
         <div class="container">
            <div class="row homepage-search-area">
               <div class="col-12 col-md-5 col-lg-5 mt-2 px-1">
                  <div class="explore-card-wrap home-menu-column">
                     <div class="home-menu-card">
                        <div class="explore-card__header homepage-menu-card-header bg-for-header">
                           <div class="explore-card__header__text d-block">
                              <h6 class="fs-20 fw-600"> Information </h6>
                           </div>
                        </div>
                        <div class="home-menu-content group-menu-content">
                           <a href="/blocks" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Blocks</p>
                              <span class="fs-13 menu-item-description">Latest block information</span>
                           </div>
                           </a>
                           <a href="/mempool" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Mempool</p>
                              <span class="fs-13 menu-item-description">List of pending transactions</span>
                           </div>
                           </a>
                           <a href="/treasury" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Treasury</p>
                              <span class="fs-13 menu-item-description">Treasury transactions</span>
                           </div>
                           </a>
                           <a href="/proposals" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Funding Proposals</p>
                              <span class="fs-13 menu-item-description">Proposal list for funding</span>
                           </div>
                           </a>
                           <a href="/agendas" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Upgrade Agendas</p>
                              <span class="fs-13 menu-item-description">Voting programs for upgrades</span>
                           </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-5 col-lg-5 mt-2 px-1">
                  <div class="explore-card-wrap home-menu-column">
                     <div class="home-menu-card">
                        <div class="explore-card__header homepage-menu-card-header bg-for-header">
                           <div class="explore-card__header__text d-block">
                              <h6 class="fs-20 fw-600"> Charts </h6>
                           </div>
                        </div>
                        <div class="home-menu-content group-menu-content">
                           <a href="/charts" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Chain Charts</p>
                              <span class="fs-13 menu-item-description">Charts from chain data</span>
                           </div>
                           </a>
                           <a href="/market" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Market</p>
                              <span class="fs-13 menu-item-description">Information from the market</span>
                           </div>
                           </a>
                           <a href="/ticketpool" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Ticket Pool</p>
                              <span class="fs-13 menu-item-description">Long-term Ticket Pool state</span>
                           </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-10 col-md-5 col-lg-5 mt-2 px-1">
                  <div class="explore-card-wrap home-menu-column">
                     <div class="home-menu-card">
                        <a href="/home-report" class="home-menu-header-link explore-card__header homepage-menu-card-header bg-for-header">
                           <div class="explore-card__header__text d-block">
                              <h6 class="fs-20 fw-600">Financial</h6>
                           </div>
                        </a>
                        <div class="home-menu-content group-menu-content">
                           <a href="/finance-report?type=treasury" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Treasury Spending</p>
                              <span class="fs-13 menu-item-description">Treasury fund financial reports</span>
                           </div>
                           </a>
                           <a href="/finance-report" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Proposals</p>
                              <span class="fs-13 menu-item-description">Proposals estimated report</span>
                           </div>
                           </a>
                           <a href="/finance-report?type=domain" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Domains</p>
                              <span class="fs-13 menu-item-description">Report spending by domain</span>
                           </div>
                           </a>
                           <a href="/finance-report?type=author" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Authors</p>
                              <span class="fs-13 menu-item-description">Report expenses by authors</span>
                           </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-14 col-md-9 col-lg-9 mt-2 px-1">
                  <div class="explore-card-wrap home-menu-column">
                     <div class="home-menu-card">
                        <div class="explore-card__header homepage-menu-card-header bg-for-header">
                           <div class="explore-card__header__text d-block">
                              <h6 class="fs-20 fw-600"> Tools </h6>
                           </div>
                        </div>
                        <div class="home-menu-content tool-menu-content">
                           <a href="/stakingcalc" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Staking Reward Calculator</p>
                              <span class="fs-13 menu-item-description">Estimated staking reward</span>
                           </div>
                           </a>
                           <a href="/attack-cost" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Attack Cost</p>
                              <span class="fs-13 menu-item-description">Estimated cost of attack</span>
                           </div>
                           </a>
                           <a href="/parameters" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Parameters</p>
                              <span class="fs-13 menu-item-description">Parameters for mainnet</span>
                           </div>
                           </a>
                           <a href="/decodetx" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Decode /Broadcast Tx</p>
                              <span class="fs-13 menu-item-description">Decode or broadcast</span>
                           </div>
                           </a>
                           <a href="/verify-message" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Verify Message</p>
                              <span class="fs-13 menu-item-description">Verify the private key</span>
                           </div>
                           </a>
                           {{- if eq .NetName "Mainnet"}}
                           <a data-keynav-skip href="{{.Links.Testnet}}" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Switch To Testnet</p>
                              <span class="fs-13 menu-item-description">To testnet data</span>
                           </div>
                           </a>
                           {{- else}}
                           <a data-keynav-skip href="{{.Links.Mainnet}}" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">Switch To Mainnet</p>
                              <span class="fs-13 menu-item-description">To mainnet data</span>
                           </div>
                           </a>
                           {{- end}}
                           <a rel="noopener noreferrer" data-keynav-skip href="{{.Links.APIDocs}}" target="_blank" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                              <p class="fw-600 m-0 home-menu-item-title">JSON API Docs</p>
                           </div>
                           </a>
                           <a data-keynav-skip data-turbolinks="false" href="#" id="keynav-toggle" class="home-menu-item home-menu-link d-flex ai-center justify-content-center">
                           <div class="ta-center">
                           <span class="fw-600 m-0 text home-menu-item-title">Enable Hot Keys</span>
                           <span class="menu-item-description"><br /><span class="keys-hint">(<span class="arrows"> &#8592;<br>&#8594;</span>&nbsp;&nbsp;enter&nbsp;&nbsp;\&nbsp;&nbsp;=&nbsp;&nbsp;)</span></span>
                           </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- start explorer wrap -->
      <div class="hp-explore-wrap" id="hp-explore-wrap">
         <div class="container">
            <section>
               <h2 class="fs-40 fw-600 d-none"> Blocks Explorer</h2>
               <div class="hp-explore__cards-wrap">
                  <div class="hp-explore__cards-content-1">
                     <!-- Start Market chart -->
                     <div class="explore-card-wrap">
                        <div class="explore-card-content">
                           <a href="/market" class="link-to-subpage">
                              <div class="explore-card__header">
                                 <span class="homeicon-market explore-card__header__logo" alt="Market Charts route" loading="lazy"></span>
                                 <div class="explore-card__header__text ml-15">
                                    <h5 class="explore-card__header__text__name"> Market Charts </h5>
                                    <span class="explore-card__header__arrow">
                                    <span class='the-arrow -right'>
                                    <span class='shaft'></span>
                                    </span>
                                    </span>
                                    <div class="explore-card__header__text__price">
                                       <div class="price-wrap d-flex ai-center">
                                          <span class="price-usd fs-13">Long-term market historic price chart</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </a>
                           <div class="explore-card__values-content market-chart-content">
                              <section>
                                 {{- if $botState -}}
                                 <div class="row border-1-grey chart-wrapper" data-charts-target="chartWrapper">
                                    <!-- market chart start -->
                                    <div class="row w-100 align-items-top" data-controller="market">
                                       {{- /* LEFT COLUMN */ -}}
                                       <div class="col-24 col-lg-auto p-0 d-none">
                                          {{- /* PRICE */ -}}
                                          <div class="ms-4 me-2 my-4 p-2 p-lg-4 bg-white text-center frame-shadow">
                                             <div class="text-center fs18 text-secondary">1 DCR =</div>
                                             {{if eq $botState.BtcIndex "USD"}}
                                             <span class="fs22 fw-bold d-inline-block">$</span>
                                             {{end}}
                                             <span class="fs24" data-market-target="price">{{printf "%.2f" $botState.Price}}</span> <span class="fs16 text-secondary">{{$botState.BtcIndex}}</span>
                                          </div>
                                          {{- /* DCR/BTC MARKETS */ -}}
                                          <div class="ms-4 me-2 my-4 p-2 p-lg-4 bg-white frame-shadow">
                                             <div colspan="4" class="fs22 text-center pb-3"><span class="dcricon-coin-negative fs24 me-2"></span> Decred Markets</div>
                                             <table class="mx-auto mx-lg-3">
                                                <tbody>
                                                   <tr class="fs14 lh-200">
                                                      <td></td>
                                                      <td class="text-end fw-bold">DCR Vol.</td>
                                                      <td class="text-end fw-bold">BTC</td>
                                                      <td></td>
                                                      <td class="text-end fw-bold">{{$botState.BtcIndex}}</td>
                                                   </tr>
                                                   {{range $botState.VolumeOrderedExchanges}}
                                                   <tr class="fs hover-row" data-market-target="xcRow" data-action="click->market#setExchange" data-token="{{.Token}}">
                                                      <td class="py-2 fs16 fw-bold ta-left">
                                                         <div class="exchange-logo {{.Token}} me-2"></div>
                                                         {{xcDisplayName .Token}}
                                                      </td>
                                                      <td class="ps-2 fs16 py-2 text-end" data-type="volume">
                                                         {{threeSigFigs .State.Volume}}
                                                      </td>
                                                      <td class="ps-3 fs16 py-2 text-end" data-type="price">
                                                         {{threeSigFigs .State.Price}}
                                                      </td>
                                                      <td class="fs16 px-2" data-type="arrow">
                                                         {{if eq .State.Change 0.0}}
                                                         <span></span>
                                                         {{else if gt .State.Change 0.0}}
                                                         <span class="dcricon-arrow-up text-green"></span>
                                                         {{else}}
                                                         <span class="dcricon-arrow-down text-danger"></span>
                                                         {{end}}
                                                      </td>
                                                      <td class="ps-1 fs16 py-2 text-end" data-type="fiat">
                                                         {{printf "%.2f" ($botState.BtcToFiat .State.Price)}}
                                                      </td>
                                                   </tr>
                                                   {{end}}
                                                   <tr class="fs sum-row hover-row" data-market-target="xcRow" data-action="click->market#setExchange" data-token="aggregated">
                                                      <td class="py-2 fs16 fw-bold ta-left">
                                                         <div class="exchange-logo aggregated me-2"></div>
                                                         Aggregate
                                                      </td>
                                                      <td class="ps-2 fs16 py-2 text-end" data-type="volume">
                                                         {{threeSigFigs $botState.Volume}}
                                                      </td>
                                                      <td class="ps-3 fs16 py-2 text-end" data-type="price">
                                                         {{threeSigFigs ($botState.FiatToBtc $botState.Price)}}
                                                      </td>
                                                      <td></td>
                                                      {{- /* no arrow for aggregated data */ -}}
                                                      <td class="ps-1 fs16 py-2 text-end" data-type="fiat">
                                                         {{printf "%.2f" $botState.Price}}
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                          {{- /* BITCOIN INDICES */ -}}
                                          <div class="ms-4 me-2 my-4 py-4 bg-white frame-shadow">
                                             <div colspan="4" class="fs22 d-flex align-items-center justify-content-center pb-3">
                                                <div class="exchange-logo bitcoin me-2"></div>
                                                <span>Bitcoin Indices</span>
                                             </div>
                                             <div class="row">
                                                {{range $token, $state := $botState.FiatIndices}}
                                                <div class="col-12 text-center">
                                                   <div class="fs16 fw-bold d-flex align-items-center justify-content-center">
                                                      <div class="exchange-logo {{$token}} me-1"></div>
                                                      <span class="d-inline-block">{{toTitleCase $token}}</span>
                                                   </div>
                                                   {{if eq $botState.BtcIndex "USD"}}
                                                   <span class="fs18 fw-bold d-inline-block">$</span>
                                                   {{end}}
                                                   <span class="fs18" data-price="{{$state.Price}}" data-token="{{$token}}" data-market-target="xcIndex">{{commaWithDecimal $state.Price 2}}</span> <span class="fs15 text-secondary">{{$botState.BtcIndex}}</span><br>
                                                   {{if eq $token "coindesk"}}
                                                   <a class="fs12" href="https://www.coindesk.com/price/bitcoin">Powered by CoinDesk</a>
                                                   {{end}}
                                                </div>
                                                {{end}}
                                             </div>
                                          </div>
                                       </div>
                                       {{- /* RIGHT COLUMN */ -}}
                                       <div class="row flex-grow-0 flex-lg-grow-1 col-24 col-lg mx-0 p-0">
                                          <div class="col me-2 flex-grow-1 d-flex flex-column bg-white position-relative">
                                             <div class="loader-v2 loading" data-market-target="chartLoader"></div>
                                             {{- /* CHART ONTROLS */ -}}
                                             <div class="d-flex flex-shrink-1 align-items-top justify-content-around justify-content-lg-center flex-wrap px-1 px-lg-3 mb-2">
                                                {{- /* EXCHANGE SELECTION */ -}}
                                                <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                                   <label>Exchange</label>
                                                   <select
                                                      class="chart-box d-inline-flex"
                                                      data-market-target="exchanges"
                                                      data-action="change->market#changeExchange"
                                                      >
                                                      {{range $botState.VolumeOrderedExchanges}}
                                                      <option
                                                      value="{{.Token}}"
                                                      {{if .State.HasCandlesticks}}
                                                      data-sticks="1"
                                                      data-bins="{{.State.StickList}}"
                                                      {{end}}
                                                      {{if .State.HasDepth}}
                                                      data-depth="1"
                                                      {{end}}
                                                      >{{xcDisplayName .Token}}
                                                      </option>
                                                      {{end}}
                                                      <option
                                                         data-market-target="aggOption"
                                                         value="aggregated"
                                                         data-depth="1"
                                                         >Aggregated
                                                      </option>
                                                   </select>
                                                </div>
                                                {{- /* CHART TYPE SELECTION */ -}}
                                                <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                                   <label>Chart</label>
                                                   <select
                                                      class="chart-box d-inline-flex"
                                                      data-market-target="chartSelect"
                                                      data-action="change->market#changeGraph"
                                                      >
                                                      <option value="depth" data-market-target="depthOnly" selected>Depth Chart</option>
                                                      <option value="orders" data-market-target="depthOnly">Order Book</option>
                                                      <option value="candlestick" data-market-target="sticksOnly">Candlesticks</option>
                                                      <option value="history" data-market-target="sticksOnly">Market History</option>
                                                      <option value="volume" data-market-target="sticksOnly">Volume</option>
                                                   </select>
                                                </div>
                                                {{- /* BIN SIZE SELECTIONS */ -}}
                                                <div
                                                   class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                   data-market-target="bin"
                                                   data-action="click->market#changeBin"
                                                   >
                                                   <label class="text-nowrap">Bin Size</label>
                                                   <button name="5m">5m</button>
                                                   <button name="30m">30m</button>
                                                   <button name="1h" class="btn-selected">Hour</button>
                                                   <button name="1d">Day</button>
                                                   <button name="1mo">Month</button>
                                                </div>
                                                {{- /* DISPLAY CURRENCY */ -}}
                                                <div
                                                   class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                   data-market-target="conversion"
                                                   data-factor="{{$botState.BtcPrice}}"
                                                   data-code="{{$botState.BtcIndex}}"
                                                   data-action="click->market#setConversion"
                                                   >
                                                   <label>Index</label>
                                                   <button class="btn-selected" name="BTC">BTC</button>
                                                   <button name="fiat">{{$botState.BtcIndex}}</button>
                                                </div>
                                                {{- /* AGGREGATE DEPTH STACKING */ -}}
                                                <div
                                                   class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                   data-market-target="aggStack"
                                                   >
                                                   <label>Stacking</label>
                                                   <button class="btn-selected" data-action="click->market#setStacking" name="on">On</button>
                                                   <button data-action="click->market#setStacking" name="off">Off</button>
                                                </div>
                                                {{- /* ZOOM */ -}}
                                                <div
                                                   class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                   data-market-target="zoom"
                                                   data-action="click->market#setZoom"
                                                   >
                                                   <label>Zoom +/-</label>
                                                   <button class="btn-selected" name="10">10%</button>
                                                   <button name="20">20%</button>
                                                   <button name="40">40%</button>
                                                   <button name="95">95%</button>
                                                </div>
                                                {{- /* OTHER CHART OPTIONS */ -}}
                                                <div
                                                   class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                   data-market-target="actions"
                                                   >
                                                   <label>Actions</label>
                                                   <button><a data-market-target="link" href="" target="_blank" rel="noopener noreferrer"></a></button>
                                                </div>
                                             </div>
                                             {{- /* CHART */ -}}
                                             <div class="flex-grow-1 ps-3 pe-4 mb-2 market-chart-box d-flex">
                                                <div class="d-flex w-100 position-relative market-chart">
                                                   <div class="market-chart-title d-flex align-items-center">
                                                      <div data-market-target="xcLogo"></div>
                                                      <div data-market-target="xcName"></div>
                                                   </div>
                                                   <div class="market-chart-legend" data-market-target="legend"></div>
                                                   <div class="position-absolute w-100 h-100" data-market-target="chart"></div>
                                                </div>
                                             </div>
                                             {{- /* TODO: Test this data controller (time & market) */ -}}
                                             <div class="text-center py-2 py-lg-0 text-lg-end px-4 fs13 d-hide" data-market-target="age">updated <span data-controller="time" data-time-target="age" data-market-target="ageSpan" data-age="0"></span> ago</div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- market chart end -->
                                 </div>
                                 {{- else -}} {{/* EXCHANGE MONITORING DISABLED */}}
                                 <h4 class="py-5 text-center">Exchange monitoring disabled</h4>
                                 {{- end -}}
                              </section>
                           </div>
                        </div>
                     </div>
                     <!-- End Market chart -->
                  </div>
                  <div class="hp-explore__cards-content-2-1">
                     <div class="info-left-card">
                        <!-- Start Treasury Card -->
                        <div class="explore-card-wrap">
                           <div class="explore-card-content">
                              <div class="explore-card__header bg-for-header">
                                 <span class="dcricon-tree explore-card__header__logo" alt="Mining Card" loading="lazy"></span>
                                 <div class="explore-card__header__text ml-15">
                                    <h5 class="explore-card__header__text__name"> Distribution </h5>
                                    <div class="explore-card__header__text__price">
                                       <div class="price-wrap d-flex ai-center">
                                          <span class="price-usd fs-13">Information about Treasury and Supply</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="explore-card__values-content">
                                 {{with .Info -}}
                                 <div class="row justify-content-between">
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          <a class="link-hover-underline" href="/treasury">
                                          Treasury</a>
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <span data-homepage-target="devFund">
                                          {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount (add .DevFund .TreasuryBalance.Balance)) 0 true)}}
                                          </span>
                                          <span class="info-line-2-sub">DCR</span>
                                          </span>
                                          {{if $conv -}}
                                          <span class="stats-subinfo">
                                          <span data-homepage-target="convertedDev">
                                          {{threeSigFigs $conv.TreasuryBalance.Value}} {{$conv.TreasuryBalance.Index}}
                                          </span>
                                          </span>
                                          {{- end}}
                                       </div>
                                    </div>
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          <a class="link-hover-underline" href="/charts?chart=coin-supply">
                                          Total Coin Supply<span class="nowrap fw-600">&nbsp(of 21 mil)</span>
                                          </a>
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <span data-homepage-target="coinSupply">
                                          {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .CoinSupply) 0 true)}}
                                          </span>
                                          <span class="info-line-2-sub">DCR</span>
                                          </span>
                                          <span class="stats-subinfo">
                                          {{if $conv -}}
                                          <span data-homepage-target="convertedSupply">{{threeSigFigs $conv.CoinSupply.Value}} {{$conv.CoinSupply.Index}}</span>,
                                          {{- end}}
                                          <span data-homepage-target="mixedPct">{{printf "%.0f" .MixedPercent}}</span>% mixed
                                          </span>
                                       </div>
                                    </div>
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">Treasury Block Reward</span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <span data-homepage-target="bsubsidyDev" class="fs15-decimal">
                                          {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.Dev) 8 true 2)}}
                                          </span>
                                          <span class="info-line-2-sub">DCR</span>
                                          </span>
                                          {{if $conv -}}
                                          <span class="stats-subinfo" data-homepage-target="convertedDevSub">
                                          {{$conv.TreasurySplit.TwoDecimals}} {{$conv.TreasurySplit.Index}}
                                          </span>
                                          {{- end}}
                                       </div>
                                    </div>
                                    {{if $conv -}}
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          <a class="link-hover-underline" href="/market">
                                          Exchange Rate
                                          </a>
                                          </span>
                                          <div class="network-stats-content d-inline-block mt-4">
                                             <span data-homepage-target="exchangeRate">{{$conv.ExchangeRate.TwoDecimals}}</span>
                                             <span class="info-line-2-sub">{{$conv.ExchangeRate.Index}}</span>
                                          </div>
                                       </div>
                                    </div>
                                    {{- end}}
                                 </div>
                                 {{end}}
                              </div>
                           </div>
                        </div>
                        <!-- End Treasury Card -->
                        <!-- Start Mining Card -->
                        <div class="explore-card-wrap mt-3">
                           <div class="explore-card-content">
                              <div class="explore-card__header bg-for-header">
                                 <span class="dcricon-pickaxe explore-card__header__logo" alt="Mining Card" loading="lazy"></span>
                                 <div class="explore-card__header__text ml-15">
                                    <h5 class="explore-card__header__text__name"> Mining </h5>
                                    <div class="explore-card__header__text__price">
                                       <div class="price-wrap d-flex ai-center">
                                          <span class="price-usd fs-13">Mining and Rewards information</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="explore-card__values-content">
                                 {{with .Info -}}
                                 <div class="row justify-content-between">
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          <a class="link-hover-underline" href="/charts?chart=pow-difficulty">
                                          Difficulty</a>
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-4" data-homepage-target="difficulty">
                                          {{template "decimalParts" (float64AsDecimalParts (divideFloat .Difficulty 1.0) 0 true)}}
                                          </span>
                                       </div>
                                    </div>
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">
                                          <a class="link-hover-underline" href="/charts?chart=hashrate">
                                          Hashrate
                                          </a>
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <span data-homepage-target="hashrate">
                                          {{template "decimalParts" (hashrateDecimalParts .HashRate 3 true 3)}}
                                          </span>
                                          <span class="info-line-2-sub">{{hashratePostfix .HashRate}}</span>
                                          </span>
                                          <span class="stats-subinfo">
                                          <span data-homepage-target="hashrateDelta">{{template "fmtPercentage" .HashRateChangeMonth}}</span> in past 30 days
                                          </span>
                                       </div>
                                    </div>
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">PoW reward</span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <span data-homepage-target="bsubsidyPow" class="fs15-decimal">
                                          {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.PoW) 8 true 2)}}
                                          </span>
                                          <span class="info-line-2-sub">DCR</span>
                                          </span>
                                          {{if $conv -}}
                                          <span class="stats-subinfo" data-homepage-target="powConverted">
                                          {{$conv.PowSplit.TwoDecimals}} {{$conv.PowSplit.Index}}
                                          </span>
                                          {{- end}}
                                       </div>
                                    </div>
                                    <div class="col-24 col-sm-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title">Next Block Reward Reducing</span>
                                          <div class="network-stats-content">
                                             <div class="row justify-content-center">
                                                <div class="progress progress-frame mt-3 p-0">
                                                   <div
                                                      class="progress-bar rounded"
                                                      data-homepage-target="powBar"
                                                      role="progressbar"
                                                      style="width: {{rewardAdjustmentProgress .IdxInRewardWindow}}%;"
                                                      aria-valuenow="{{.IdxInRewardWindow}}"
                                                      aria-valuemin="0"
                                                      aria-valuemax="{{.Params.RewardWindowSize}}"
                                                      >
                                                      <span
                                                         id="powreward"
                                                         class="nowrap ps-1"
                                                         >
                                                      block <span data-homepage-target="rewardIdx" >{{.IdxInRewardWindow}}</span> of {{.Params.RewardWindowSize}}
                                                      </span>
                                                   </div>
                                                </div>
                                                <span class="stats-subinfo fw-400 mt-2">{{remaining .IdxInRewardWindow .Params.RewardWindowSize .Params.BlockTime}}</span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 {{end}}
                              </div>
                           </div>
                        </div>
                     <!-- End Mining Card -->
                     </div>
                     <div class="info-right-card">
                        <!-- Start Blocks Card -->
                        <div class="explore-card-wrap">
                           <div class="explore-card-content">
                              <a href='/blocks' class="link-to-subpage">
                                 <div class="explore-card__header">
                                    <span class="homeicon-block explore-card__header__logo" alt="bitcoin logo" loading="lazy"></span>
                                    <div class="explore-card__header__text ml-15">
                                       <h5 class="explore-card__header__text__name"> Blocks </h5>
                                       <span class="explore-card__header__arrow">
                                       <span class='the-arrow -right'>
                                       <span class='shaft'></span>
                                       </span>
                                       </span>
                                       <div class="explore-card__header__text__price">
                                          <div class="price-wrap d-flex ai-center">
                                             <span class="price-usd fs-13">Block list and details</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </a>
                              <div class="explore-card__values-content">
                                 {{with .BestBlock -}}
                                 <div class="row justify-content-between">
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Lastest Block</span>
                                          <span class="network-stats-content d-inline-block mt-4">
                                          <a class="fs-28" href="/block/{{.Hash}}" data-homepage-target="blockHeight">{{.Height}}</a>
                                          </span>
                                       </p>
                                    </div>
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Value</span>
                                          <span class="network-stats-content d-inline-block mt-4">
                                          <span data-homepage-target="blockTotal">
                                          {{threeSigFigs .Total}}</span>
                                          <span class="info-line-2-sub">DCR</span>
                                          </span>
                                          <!--<span class="stats-subinfo">Phash/s</span> -->
                                       </p>
                                    </div>
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Votes  
                                          {{if eq $.Consensus -1 -}}
                                          <span data-homepage-target="consensusMsg" class="fs-13 text-danger">rejected</span>
                                          {{else if eq $.Consensus 0}}
                                          <span data-homepage-target="consensusMsg" class="fs-13"></span>
                                          {{else}}
                                          <span data-homepage-target="consensusMsg" class="fs-13 text-green">approved</span>
                                          {{- end}}
                                          </span>
                                          <span class="d-inl network-stats-content d-inline-block mt-4" data-homepage-target="blockVotes" data-hash="{{.Hash}}">
                                          {{range $index, $vote := $.BlockTally -}}
                                          <span class="d-inline-block position-relative"
                                             data-tooltip="{{if eq $vote -1}}the stakeholder has voted to reject this block{{else if eq $vote 1}}the stakeholder has voted to accept this block{{else}}this vote has not been received yet{{end}}"
                                             >
                                          <span class="fs-24i dcricon-{{if eq $vote -1}}reject{{else if eq $vote 1}}affirm{{else}}missing{{end}}"></span>
                                          </span>
                                          {{- end}}
                                          </span>
                                       </p>
                                    </div>
                                    <div class="col-12">
                                       <p class="network-stats-block">
                                          <span class="network-stats-title">Size</span>
                                          <span class="network-stats-content d-inline-block mt-4" data-homepage-target="blockSize">{{.FormattedBytes}}</span>
                                       </p>
                                    </div>
                                 </div>
                                 {{end}}
                              </div>
                           </div>
                        </div>
                        <!-- End Blocks Card -->
                        <!-- Start Mempool Card -->
                        <div class="explore-card-wrap mt-3">
                           <div class="explore-card-content">
                              <a href='/mempool' class="link-to-subpage">
                                 <div class="explore-card__header">
                                    <span class="homeicon-mempool explore-card__header__logo" alt="Mempool route" loading="lazy"></span>
                                    <div class="explore-card__header__text ml-15">
                                       <h5 class="explore-card__header__text__name"> Mempool </h5>
                                       <span class="explore-card__header__arrow">
                                       <span class='the-arrow -right'>
                                       <span class='shaft'></span>
                                       </span>
                                       </span>
                                       <div class="explore-card__header__text__price">
                                          <div class="price-wrap d-flex ai-center" value-usd="2072.12" change24h="-0.13053">
                                             <span class="price-usd">Total sent:&nbsp;<span
                                             class="position-relative fw-600 subdata-card fs-18"
                                             data-homepage-target="mempool"
                                             {{template "mempoolDump" .Mempool}}
                                             >{{threeSigFigs .Mempool.LikelyMineable.Total}}</span>
                                             <span>DCR</span></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </a>
                              <div class="explore-card__values-content">
                                 <div class="row justify-content-between">
                                    <div class="col-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title h-50 pt-3">
                                          <span data-homepage-target="mpRegCount" class="fs-20 fw-600">{{.Mempool.NumRegular}}</span>
                                          <span class="fs-17 fw-400"> regular</span>
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <span class="fs-20 fw-600" data-homepage-target="mpRegTotal">{{threeSigFigs .Mempool.LikelyMineable.RegularTotal}}</span>
                                          <span class="fs-17 fw-400">DCR</span>
                                          </span>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title h-50 pt-3">
                                          <span data-homepage-target="mpTicketCount" class="fs-20 fw-600">{{.Mempool.NumTickets}}</span>
                                          <span class="fs-17 fw-400"> tickets</span>
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <span class="fs-20 fw-600" data-homepage-target="mpTicketTotal"
                                             >{{threeSigFigs .Mempool.LikelyMineable.TicketTotal}}</span>
                                          <span class="fs-17 fw-400">DCR</span>
                                          </span>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title h-50 pt-3">
                                          <span data-homepage-target="mpRevCount" class="fs-20 fw-600 lh1rem">{{.Mempool.NumRevokes}}</span>
                                          <span class="fs-17 fw-400"> revokes</span>
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <span class="fs-20 fw-600" data-homepage-target="mpRevTotal"
                                             >{{threeSigFigs .Mempool.LikelyMineable.RevokeTotal}}</span>
                                          <span class="fs-17 fw-400">DCR</span>
                                          </span>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div class="network-stats-block">
                                          <span class="network-stats-title h-50 pt-3">
                                          <span data-homepage-target="mpVoteCount"
                                             class="fs-20 fw-600 lh1rem"
                                             data-tickets-per-block="{{.Mempool.VotingInfo.MaxVotesPerBlock}}">
                                          {{$afterFirst := false -}}
                                          {{- range $hash, $tally := .Mempool.VotingInfo.VoteTallys -}}
                                          {{if $afterFirst}} + {{end}}
                                          <span class="position-relative d-inline-block"
                                             data-homepage-target="voteTally"
                                             data-hash="{{$hash}}"
                                             data-affirmed="{{$tally.Affirmations}}"
                                             data-count="{{$tally.VoteCount}}"
                                             data-tooltip="for block {{$hash}}"
                                             >{{$tally.VoteCount}}</span>
                                          {{$afterFirst = true}}
                                          {{- end}}
                                          </span>
                                          <span class="fs-17 fw-400"> votes</span>
                                          </span>
                                          <span class="network-stats-content d-inline-block mt-2">
                                          <span class="fs-20 fw-600" data-homepage-target="mpVoteTotal">{{threeSigFigs .Mempool.LikelyMineable.VoteTotal}}</span>
                                          <span class="fs-17 fw-400">DCR</span>
                                          </span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Mempool Card -->
                     </div>
                  </div>
               </div>
            </section>
            <section>
            <h2 class="fs-40 fw-600 d-none"> Analysis</h2>
            <div class="hp-explore__cards-wrap mt-3">
               <div class="hp-explore__cards-content-1">
                <!-- Start Votes Card -->
                     <div class="explore-card-wrap">
                        <div class="explore-card-content">
                           <a href='/ticketpool' class="link-to-subpage">
                              <div class="explore-card__header">
                                 <span class="homeicon-ticket explore-card__header__logo" alt="Ticket Pool route" loading="lazy"></span>
                                 <div class="explore-card__header__text ml-15">
                                    <h5 class="explore-card__header__text__name"> Ticket Pool </h5>
                                    <span class="explore-card__header__arrow">
                                    <span class='the-arrow -right'>
                                    <span class='shaft'></span>
                                    </span>
                                    </span>
                                    <div class="explore-card__header__text__price">
                                       <div class="price-wrap d-flex ai-center">
                                          <span class="price-usd fs-13">Information about tickets and rewards</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </a>
                           <div class="explore-card__values-content">
                              {{with .Info -}}
                              <div class="row justify-content-between">
                                 <div class="col-24 col-md-8">
                                    <div class="network-stats-block">
                                       <span class="network-stats-title">  
                                       <a class="link-hover-underline" href="/charts?chart=ticket-price&zoom=month">
                                       Current Ticket Price
                                       </a>
                                       </span>
                                       <span class="network-stats-content">
                                       <span class="fs15-decimal d-inline-block mt-2" data-homepage-target="blocksdiff">
                                       {{template "decimalParts" (float64AsDecimalParts .StakeDiff 8 false 2)}}
                                       </span>
                                       <span class="info-line-2-sub">DCR</span>
                                       </span>
                                       {{if $conv -}}
                                       <span class="stats-subinfo" data-homepage-target="convertedStake">{{$conv.StakeDiff.TwoDecimals}} {{$conv.StakeDiff.Index}}</span>
                                       {{- end}}
                                    </div>
                                 </div>
                                 <div class="col-24 col-md-8">
                                    <div class="network-stats-block">
                                       <span class="network-stats-title">Next Ticket Price</span>
                                       <span class="network-stats-content d-inline-block mt-2">
                                       <span>~<span data-homepage-target="nextExpectedSdiff">
                                       {{template "decimalParts" (float64AsDecimalParts .NextExpectedStakeDiff 2 false)}}
                                       </span></span>
                                       <span class="info-line-2-sub">DCR</span>
                                       </span>
                                       <span class="stats-subinfo">
                                       min:&nbsp;
                                       <span data-homepage-target="nextExpectedMin">
                                       {{template "decimalParts" (float64AsDecimalParts .NextExpectedBoundsMin 2 false)}}
                                       </span>
                                       &nbsp;&mdash;&nbsp;max:&nbsp;
                                       <span data-homepage-target="nextExpectedMax">
                                       {{template "decimalParts" (float64AsDecimalParts .NextExpectedBoundsMax 2 false)}}
                                       </span>
                                       </span>
                                    </div>
                                 </div>
                                 <div class="col-24 col-md-8">
                                    <div class="network-stats-block">
                                       <span class="network-stats-title">
                                       <a class="link-hover-underline" href="/charts?chart=ticket-pool-size">
                                       Ticket Pool Size
                                       </a>
                                       </span>
                                       <span class="network-stats-content d-inline-block mt-2" data-homepage-target="poolSize">
                                       {{intComma .PoolInfo.Size}}
                                       </span>
                                       <span class="stats-subinfo">
                                       <span data-homepage-target="targetPct">
                                       {{printf "%.2f" (toAbsValue $.PercentChange)}}
                                       </span>
                                       %{{if lt $.PercentChange 0.0}} under {{else}} over {{end -}} target
                                       </span>
                                    </div>
                                 </div>
                                 <div class="col-24 col-md-8">
                                    <div class="network-stats-block">
                                       <span class="network-stats-title">Vote Reward</span>
                                       <span class="network-stats-content d-inline-block mt-1">
                                       <span data-homepage-target="bsubsidyPos" class="fs15-decimal">
                                       {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount (divide .NBlockSubsidy.PoS 5)) 8 true 2)}}
                                       </span>
                                       <span class="info-line-2-sub">DCR/vote</span>
                                       </span>
                                       <span class="stats-subinfo">
                                       <span data-homepage-target="ticketReward">{{printf "%.2f" .TicketReward}}%</span> per ~{{.RewardPeriod}}<br />
                                       <span>{{printf "%.2f" .ASR}}% per year</span>
                                       </span>
                                    </div>
                                 </div>
                                 <div class="col-24 col-md-8">
                                    <div class="network-stats-block">
                                       <span class="network-stats-title">Next Ticket Price Change</span>
                                       <div class="network-stats-content">
                                          <div class="row justify-content-center">
                                             <div class="progress mt-3 progress-frame p-0">
                                                <div
                                                   class="progress-bar rounded"
                                                   data-homepage-target="posBar"
                                                   role="progressbar"
                                                   style="width: {{ticketWindowProgress .IdxBlockInWindow}}%;"
                                                   aria-valuenow="{{.IdxBlockInWindow}}"
                                                   aria-valuemin="0"
                                                   aria-valuemax="{{.Params.WindowSize}}"
                                                   >
                                                   <span class="nowrap ps-1">block <span data-homepage-target="windowIndex">{{.IdxBlockInWindow}}</span> of {{.Params.WindowSize}}</span>
                                                </div>
                                             </div>
                                             <span class="stats-subinfo mt-2 fw-400">{{remaining .IdxBlockInWindow .Params.WindowSize .Params.BlockTime}}</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-24 col-md-8">
                                    <div class="network-stats-block">
                                       <span class="network-stats-title"><a class="link-hover-underline" href="/charts?chart=stake-participation">Total Staked DCR</a></span>
                                       <span class="network-stats-content d-inline-block mt-2">
                                       <span data-homepage-target="poolValue">
                                       {{template "decimalParts" (float64AsDecimalParts .PoolInfo.Value 0 true)}}
                                       </span>
                                       <span class="info-line-2-sub">DCR</span>
                                       </span>
                                       <span class="stats-subinfo">
                                       <span data-homepage-target="poolSizePct">
                                       {{printf "%.2f" .PoolInfo.Percentage}}</span> 
                                       % of circulating supply</span>
                                    </div>
                                 </div>
                              </div>
                              {{end}}
                           </div>
                        </div>
                     </div>
                     <!-- End Votes Card --> 
                  <div class="explore-card-wrap">
                     <div class="explore-card-content">
                        <a href="/charts" class="link-to-subpage">
                           <div class="row">
                              <div class="col-md-8 col-lg-7 col-xl-5">
                                 <div class="row">
                                    <div class="explore-card__header ps-4">
                                       <span class="homeicon-chart explore-card__header__logo" alt="Charts route" loading="lazy"></span>
                                       <div class="explore-card__header__text ml-15">
                                          <h5 class="explore-card__header__text__name"> Chain Charts </h5>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-3 col-lg-3 col-xl-4"></div>
                              <div class="col-md-10 col-lg-11 col-xl-11 ta-center chart-title-name pt-15">
                                 <span class="fs-22 fw-600" data-charts-target="chartTitleName"></span>
                              </div>
                              <div class="col-md-3 col-lg-3 col-xl-4 ta-right p-relative">
                                 <span class="explore-card__header__arrow">
                                 <span class='the-arrow -right'>
                                 <span class='shaft'></span>
                                 </span>
                                 </span>
                              </div>
                           </div>
                        </a>
                        <div class="explore-card__values-content market-chart-content">
                           <section>
                           <div class="row chart-header-row border-1-grey">
                              <div class="col-xs-24 col-sm-24 col-md-8 col-lg-7 col-xl-5 align-center border-right-1-grey">
                                 <div class="chart-control-wrapper chart-filter-tools me-4 mb-1 chart-select-option">
                                    <div class="chart-control-label">CHART</div>
                                    <div class="chart-control">
                                       <select
                                          id="selectBox"
                                          class="form-control chart-form-control"
                                          data-charts-target="chartSelect"
                                          data-action="charts#selectChart"
                                          >
                                          <optgroup label="Staking">
                                             <option value="ticket-price">Ticket Price</option>
                                             <option value="ticket-pool-size">Ticket Pool Size</option>
                                             <option value="ticket-pool-value">Ticket Pool Value</option>
                                             <option value="stake-participation">Stake Participation</option>
                                             <option value="privacy-participation">Privacy Participation</option>
                                             <option value="missed-votes">Missed Votes</option>
                                          </optgroup>
                                          <optgroup label="Chain">
                                             <option value="block-size">Block Size</option>
                                             <option value="blockchain-size">Blockchain Size</option>
                                             <option value="tx-count">Transaction Count</option>
                                             <option value="duration-btw-blocks">Duration Between Blocks</option>
                                          </optgroup>
                                          <optgroup label="Mining">
                                             <option value="pow-difficulty">PoW Difficulty</option>
                                             <option value="chainwork">Total Work</option>
                                             <option value="hashrate">Hashrate</option>
                                          </optgroup>
                                          <optgroup label="Distribution">
                                             <option value="coin-supply">Circulation</option>
                                             <option value="fees">Fees</option>
                                          </optgroup>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="chart-control-wrapper chart-filter-tools me-4 mb-1" data-charts-target="zoomSelector">
                                    <div class="chart-control-label">ZOOM</div>
                                    <div class="chart-control chart-filter-selection ps-2">
                                       <ul class="nav nav-pills">
                                          <li class="nav-item nav-link active"
                                             data-charts-target="zoomOption"
                                             data-action="click->charts#setZoom"
                                             data-option="all">
                                             All
                                          </li>
                                          <li class="nav-item nav-link"
                                             data-charts-target="zoomOption"
                                             data-action="click->charts#setZoom"
                                             data-option="year">
                                             Year
                                          </li>
                                          <li class="nav-item nav-link"
                                             data-charts-target="zoomOption"
                                             data-action="click->charts#setZoom"
                                             data-option="month">
                                             Month
                                          </li>
                                          <li class="nav-item nav-link"
                                             data-charts-target="zoomOption"
                                             data-action="click->charts#setZoom"
                                             data-option="week">
                                             Week
                                          </li>
                                          <li class="nav-item nav-link"
                                             data-charts-target="zoomOption"
                                             data-action="click->charts#setZoom"
                                             data-option="day">
                                             Day
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="chart-control-wrapper chart-filter-tools me-4 mb-1" data-charts-target="binSelector">
                                    <div class="chart-control-label">BIN</div>
                                    <div class="chart-control chart-filter-selection ps-2">
                                       <ul class="nav nav-pills">
                                          <li class="nav-item nav-link active"
                                             data-charts-target="binSize"
                                             data-action="click->charts#setBin"
                                             data-option="day">
                                             Day
                                          </li>
                                          <li class="nav-item nav-link"
                                             data-charts-target="binSize"
                                             data-action="click->charts#setBin"
                                             data-option="block">
                                             Blocks
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="chart-control-wrapper chart-filter-tools me-4 mb-1" data-charts-target="scaleSelector">
                                    <div class="chart-control-label">SCALE</div>
                                    <div class="chart-control chart-filter-selection ps-2">
                                       <ul class="nav nav-pills">
                                          <li class="nav-item nav-link active"
                                             data-charts-target="scaleType"
                                             data-action="click->charts#setScale"
                                             data-option="linear">
                                             Linear
                                          </li>
                                          <li class="nav-item nav-link"
                                             data-charts-target="scaleType"
                                             data-action="click->charts#setScale"
                                             data-option="log">
                                             Log
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="chart-control-wrapper chart-filter-tools me-4 mb-1" data-charts-target="vSelector">
                                    <div class="chart-control-label">VISIBILITY</div>
                                    <div class="chart-control chart-filter-selection ps-2">
                                       <ul class="nav nav-pills">
                                          <li class="nav-item" data-charts-target="vSelectorItem" data-charts="ticket-price">
                                             <label class="customcheck ms-2 d-inline-flex">Price
                                             <input
                                                type="checkbox"
                                                checked="checked"
                                                data-action="click->charts#setVisibility"
                                                data-charts-target="ticketsPrice"
                                                >
                                             <span class="checkmark tickets-price"></span>
                                             </label>
                                          </li>
                                          <li class="nav-item" data-charts-target="vSelectorItem" data-charts="ticket-price">
                                             <label class="customcheck mx-2 d-inline-flex">Tickets Bought
                                             <input
                                                type="checkbox"
                                                data-action="click->charts#setVisibility"
                                                data-charts-target="ticketsPurchase"
                                                >
                                             <span class="checkmark tickets-bought"></span>
                                             </label>
                                          </li>
                                          <li class="nav-item">
                                             <label class="customcheck mx-2 d-inline-flex"
                                                data-charts-target="vSelectorItem" data-charts="coin-supply">Mixed Coins
                                             <input
                                                type="checkbox"
                                                data-action="click->charts#setVisibility"
                                                data-charts-target="anonymitySet"
                                                >
                                             <span class="checkmark total-mixed"></span>
                                             </label>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="chart-control-wrapper chart-filter-tools me-4 mb-1" data-charts-target="modeSelector">
                                    <div class="chart-control-label">MODE</div>
                                    <div class="chart-control chart-filter-selection ps-2">
                                       <ul class="nav nav-pills">
                                          <li class="nav-item nav-link active"
                                             data-charts-target="modeOption"
                                             data-action="click->charts#setMode"
                                             data-option="smooth">
                                             Smooth
                                          </li>
                                          <li class="nav-item nav-link"
                                             data-charts-target="modeOption"
                                             data-action="click->charts#setMode"
                                             data-option="stepped">
                                             Stepped
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-24 col-sm-24 col-md-16 col-lg-17 col-xl-19 border-1-grey home-chart-wrapper pe-0" data-charts-target="chartWrapper">
                                 <div class="d-flex w-100 position-relative">
                                    <div class="chart-name-label d-flex align-items-center">
                                       <div class="homeicon-chartbar fs-20"></div>
                                       <span class="chart-name-content" data-charts-target="chartName"></span>
                                    </div>
                                    <div
                                       class="chartview"
                                       data-charts-target="chartsView">
                                    </div>
                                 </div>
                                 <div class="d-flex flex-wrap justify-content-center align-items-center mb-1 mt-1">
                                    <div class="row">
                                       <div class="col-4 column-center chart-control chart-control-wrapper">
                                          <ul class="nav nav-pills">
                                             <li class="nav-item nav-link active"
                                                data-charts-target="axisOption"
                                                data-action="click->charts#setAxis"
                                                data-option="time">
                                                Time
                                             </li>
                                             <li class="nav-item nav-link"
                                                data-charts-target="axisOption"
                                                data-action="click->charts#setAxis"
                                                data-option="height">
                                                Blocks
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <span class="d-none" data-charts-target="rawDataURL"></span>
                                 <div class="spinner-wrapper">
                                    <div class="spinner-centerer d-flex align-items-center justify-content-center">
                                       <div class="spinner">
                                          <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="d-flex justify-content-center legend-wrapper">
                                    <div class="legend d-flex align-items-center" data-charts-target="labels">
                                       <div class="pe-3" data-charts-target="legendEntry">
                                          <div class="dygraph-legend-line" data-charts-target="legendMarker"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <section>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            </section>
         </div>
      </div>
      <!--end block 2 -->
   </div>
   {{  template "footer_embed" . }}
   </body>
</html>
{{- end}}