{{define "home" -}}
<!DOCTYPE html>
{{- $botState := .XcState -}}
<html lang="en">
{{ template "html-head" headData .CommonPageData "Mutilple Blockchains Explorer by bisonexplorer.com"}}
{{ template "top_navbar" . }}
<div class="main-container homepage-class" data-controller="time top" data-top-active-chain="{{.ActiveChain}}">
   <!-- start explorer wrap -->
   <div class="hp-explore-wrap" id="hp-explore-wrap">
      <div class="container pt-1">
         <div class="bg-white pb-3 mt-3">
            <div class="br-8 b--def bgc-plain-bright pb-10 pt-2 table-card">
               <span class="ms-3 fs-22 fw-600 pt-4">Supported Blockchains</span>
               <div class="btable-table-wrap mt-2 maxh-none">
                  <table class="btable-table w-100">
                     <thead>
                        <tr class="text-secondary bg-none">
                           <th class="text-start">Name</th>
                           <th class="text-end pe-2 pe-lg-5">Lastest Block</th>
                           <th class="text-end pe-2 pe-lg-5">Price</th>
                           <th class="text-end pe-2 pe-lg-5">Market Cap</th>
                           <th class="text-end pe-2 pe-lg-5">24h Volume</th>
                           <th class="text-end pe-2 pe-lg-5">Total Transactions</th>
                           <th class="text-end pe-2 pe-lg-5">Coin Supply</th>
                           <th class="text-end pe-2 pe-lg-3">Blockchain Size</th>
                        </tr>
                     </thead>
                     <tbody class="bgc-white" data-top-target="supportedTable">
                        {{range .HomeInfoList}}
                        <tr>
                           <td class="text-start">
                              <a href="{{if eq .Chain "dcr"}}/decred{{else}}/{{.Chain}}{{end}}">
                                 <img src="/images/{{.Chain}}-icon.png" width="25" height="25" />
                                 <span class="ms-2 fs-17">{{chainName .Chain}}</span>
                                 <span class="fs-17">({{toUpperCase .Chain}})</span>
                              </a>
                           </td>
                           <td class="text-end pe-2 pe-lg-5">
                              <a class="fs-16" id="{{.Chain}}_blockHeight" data-top-target="blockHeight" {{if eq
                                 .Chain "dcr" }}href="/decred/block/{{.BestBlock.Height}}"
                                 {{else}}href="/{{.Chain}}/block/{{.BestBlock.Height}}"
                                 {{end}}>{{.BestBlock.Height}}</a>
                           </td>
                           <td class="text-end pe-2 pe-lg-5">
                              ${{template "decimalParts" (float64AsDecimalParts .Price 2 true)}}
                           </td>
                           <td class="text-end pe-2 pe-lg-5">
                              ${{difficultyDisp .MarketCap}}
                           </td>
                           <td class="text-end pe-2 pe-lg-5">
                              ${{difficultyDisp .Volumn}}
                           </td>
                           <td class="text-end pe-2 pe-lg-5">
                              <span id="{{.Chain}}_txcount">{{int64Comma .HomeInfo.TotalTransactions}}</span>
                           </td>
                           <td class="text-end pe-2 pe-lg-5">
                              <span id="{{.Chain}}_coinSupply" data-top-target="coinSupply">
                                 {{template "decimalParts" (float64AsDecimalParts .HomeInfo.CoinValueSupply 2 true)}}
                              </span>
                              <span>{{toUpperCase .Chain}}</span>
                           </td>
                           <td class="text-end pe-2 pe-lg-3">
                              <span>
                                 {{.HomeInfo.FormattedSize}}
                              </span>
                           </td>
                        </tr>
                        {{end}}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <section>
            <div class="hp-explore__cards-wrap mt-2">
               <!-- Start Market chart -->
               <div class="hp-explore__cards-content-1">
                  <div class="explore-card-wrap">
                     <div class="explore-card-content">
                        <div class="explore-card__header bg-for-header">
                           <span class="homeicon-market explore-card__header__logo" alt="Market Charts route"
                              loading="lazy"></span>
                           <div class="explore-card__header__text ml-15">
                              <h5 class="explore-card__header__text__name"> Market Charts </h5>
                              <span class="explore-card__header__arrow">
                                 <span class='the-arrow -right'>
                                    <span class='shaft'></span>
                                 </span>
                              </span>
                              <div class="explore-card__header__text__price">
                                 <div class="price-wrap d-flex ai-center">
                                    <span class="price-usd fs-13">Long-term market historic price chart</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="explore-card__values-content market-chart-content pb-2">
                           <section class="ms-3">
                              {{- if $botState -}}
                              <div class="row border-1-grey chart-wrapper">
                                 <!-- market chart start -->
                                 <div class="row w-100 align-items-top" data-controller="chainmarket">
                                    {{- /* LEFT COLUMN */ -}}
                                    <div class="col-24 col-lg-auto p-0 d-none">
                                       {{- /* PRICE */ -}}
                                       <div class="ms-4 me-2 my-4 p-2 p-lg-4 bg-white text-center frame-shadow">
                                          <div class="text-center fs18 text-secondary">1 COIN =</div>
                                          {{if eq $botState.BtcIndex "USD"}}
                                          <span class="fs22 fw-bold d-inline-block">$</span>
                                          {{end}}
                                          <span class="fs24" data-chainmarket-target="price">
                                             {{printf "%.2f" $botState.Price}}</span>
                                          <span class="fs16 text-secondary">{{$botState.BtcIndex}}</span>
                                       </div>
                                       {{- /* DCR/BTC MARKETS */ -}}
                                       <div class="ms-4 me-2 my-4 p-2 p-lg-4 bg-white frame-shadow">
                                          <div colspan="4" class="fs22 text-center pb-3"><span
                                                class="dcricon-coin-negative fs24 me-2"></span> LTC Markets</div>
                                          <table class="mx-auto mx-lg-3">
                                             <tbody>
                                                <tr class="fs14 lh-200">
                                                   <td></td>
                                                   <td class="text-end fw-bold">LTC Vol.</td>
                                                   <td class="text-end fw-bold">USD</td>
                                                   <td></td>
                                                </tr>
                                                {{range $botState.VolumeOrderedExchanges}}
                                                <tr class="fs hover-row" data-chainmarket-target="xcRow"
                                                   data-action="click->chainmarket#setExchange" data-token="{{.Token}}">
                                                   <td class="py-2 fs16 fw-bold ta-left">
                                                      <div class="exchange-logo {{.Token}} me-2"></div>
                                                      {{xcDisplayName .Token}}
                                                   </td>
                                                   <td class="ps-2 fs16 py-2 text-end" data-type="volume">
                                                      {{threeSigFigs .State.BaseVolume}}
                                                   </td>
                                                   <td class="ps-3 fs16 py-2 text-end" data-type="price">
                                                      {{threeSigFigs .State.Price}}
                                                   </td>
                                                   <td class="fs16 px-2" data-type="arrow">
                                                      {{if eq .State.Change 0.0}}
                                                      <span></span>
                                                      {{else if gt .State.Change 0.0}}
                                                      <span class="dcricon-arrow-up text-green"></span>
                                                      {{else}}
                                                      <span class="dcricon-arrow-down text-danger"></span>
                                                      {{end}}
                                                   </td>
                                                </tr>
                                                {{end}}
                                                <tr class="fs sum-row hover-row" data-chainmarket-target="xcRow"
                                                   data-action="click->chainmarket#setExchange" data-token="aggregated">
                                                   <td class="py-2 fs16 fw-bold ta-left">
                                                      <div class="exchange-logo aggregated me-2"></div>
                                                      Aggregate
                                                   </td>
                                                   <td class="ps-2 fs16 py-2 text-end" data-type="volume">
                                                      {{threeSigFigs $botState.Volume}}
                                                   </td>
                                                   <td class="ps-1 fs16 py-2 text-end" data-type="fiat">
                                                      {{printf "%.2f" $botState.Price}}
                                                   </td>
                                                   <td></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                       {{- /* BITCOIN INDICES */ -}}
                                       <div class="ms-4 me-2 my-4 py-4 bg-white frame-shadow">
                                          <div colspan="4"
                                             class="fs22 d-flex align-items-center justify-content-center pb-3">
                                             <div class="exchange-logo bitcoin me-2"></div>
                                             <span>Bitcoin Indices</span>
                                          </div>
                                          <div class="row">
                                             {{range $token, $state := $botState.FiatIndices}}
                                             <div class="col-12 text-center">
                                                <div
                                                   class="fs16 fw-bold d-flex align-items-center justify-content-center">
                                                   <div class="exchange-logo {{$token}} me-1"></div>
                                                   <span class="d-inline-block">{{toTitleCase $token}}</span>
                                                </div>
                                                {{if eq $botState.BtcIndex "USD"}}
                                                <span class="fs18 fw-bold d-inline-block">$</span>
                                                {{end}}
                                                <span class="fs18" data-price="{{$state.Price}}" data-token="{{$token}}"
                                                   data-chainmarket-target="xcIndex">{{commaWithDecimal $state.Price
                                                   2}}</span> <span
                                                   class="fs15 text-secondary">{{$botState.BtcIndex}}</span><br>
                                                {{if eq $token "coindesk"}}
                                                <a class="fs12" href="https://www.coindesk.com/price/bitcoin">Powered by
                                                   CoinDesk</a>
                                                {{end}}
                                             </div>
                                             {{end}}
                                          </div>
                                       </div>
                                    </div>
                                    {{- /* RIGHT COLUMN */ -}}
                                    <div class="row flex-grow-0 flex-lg-grow-1 col-24 col-lg mx-0 p-0">
                                       <div class="col me-2 flex-grow-1 d-flex flex-column bg-white position-relative">
                                          <div class="loader-v2 loading" data-chainmarket-target="chartLoader"></div>
                                          {{- /* CHART ONTROLS */ -}}
                                          <div
                                             class="d-flex flex-shrink-1 align-items-top justify-content-around justify-content-lg-center flex-wrap px-1 px-lg-3 mb-2">
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                                <label>Chain</label>
                                                <div class="d-flex ai-center">
                                                   <div class="btn-group" data-toggle="buttons">
                                                      <input data-chainmarket-target="chainTypeSelected"
                                                         data-action="click->chainmarket#chainTypeChange" type="button"
                                                         class="tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn active"
                                                         value="DCR" name="dcr">
                                                      <input data-chainmarket-target="chainTypeSelected"
                                                         data-action="click->chainmarket#chainTypeChange" type="button"
                                                         class="tab-button home-chart-toggle-btn white c-txt-main"
                                                         value="LTC" name="ltc">
                                                      <input data-chainmarket-target="chainTypeSelected"
                                                         data-action="click->chainmarket#chainTypeChange" type="button"
                                                         class="tab-button home-chart-toggle-btn white last-toggle-btn c-txt-main"
                                                         value="BTC" name="btc">
                                                   </div>
                                                </div>
                                             </div>
                                             {{- /* PAIR SELECTION */ -}}
                                             <div class="d-hide btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4" data-chainmarket-target="pairSelectorArea">
                                                 <label>Pair</label>
                                                 <select
                                                     class="chart-box d-inline-flex"
                                                     data-chainmarket-target="pairSelect"
                                                     data-action="change->chainmarket#changePair"
                                                 >
                                                     <option value="usdt" selected>DCR/USDT</option>
                                                     <option value="btc">DCR/BTC</option>
                                                 </select>
                                             </div>
                                             {{- /* EXCHANGE SELECTION */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4" data-chainmarket-target="exchanges"
                                             data-action="click->chainmarket#changeExchange">
                                                <label>Exchange</label>
                                                <div class="btn-group" data-chainmarket-target="exchangeBtnArea">
                                                   {{range $index, $exchange := $botState.VolumeOrderedExchanges}}
                                                   <button name="{{$exchange.Token}}" {{if $exchange.State.HasCandlesticks}} data-sticks="1" data-bins="{{$exchange.State.StickList}}"{{end}} {{if $exchange.State.HasDepth}} data-depth="1" {{end}}
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">{{xcDisplayName $exchange.Token}}</button>
                                                   {{end}}
                                                   <button name="aggregated" data-chainmarket-target="aggOption" data-depth="1"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">Aggregated</button>
                                                </div>
                                             </div>
                                             {{- /* CHART TYPE SELECTION */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                                <label>Chart</label>
                                                <select class="chart-box d-inline-flex"
                                                   data-chainmarket-target="chartSelect"
                                                   data-action="change->chainmarket#changeGraph">
                                                   <option value="depth" data-chainmarket-target="depthOnly" selected>
                                                      Depth Chart</option>
                                                   <option value="orders" data-chainmarket-target="depthOnly">Order Book
                                                   </option>
                                                   <option value="candlestick" data-chainmarket-target="sticksOnly">
                                                      Candlesticks</option>
                                                   <option value="history" data-chainmarket-target="sticksOnly">Market
                                                      History</option>
                                                   <option value="volume" data-chainmarket-target="sticksOnly">Volume
                                                   </option>
                                                </select>
                                             </div>
                                             {{- /* BIN SIZE SELECTIONS */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="bin"
                                                data-action="click->chainmarket#changeBin">
                                                <label class="text-nowrap">Bin Size</label>
                                                <div class="btn-group">
                                                   <button name="5m"
                                                      class="d-hide tab-button home-chart-toggle-btn white c-txt-main">5m</button>
                                                   <button name="30m"
                                                      class="d-hide tab-button home-chart-toggle-btn white c-txt-main">30m</button>
                                                   <button name="1h"
                                                      class="active tab-button home-chart-toggle-btn white c-txt-main">Hour</button>
                                                   <button name="4h"
                                                      class="active tab-button home-chart-toggle-btn white c-txt-main">4 Hours</button>
                                                   <button name="1d"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">Day</button>
                                                   <button name="1w"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">Week</button>
                                                   <button name="1mo"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">Month</button>
                                                </div>
                                             </div>
                                             {{- /* DISPLAY CURRENCY */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4 d-hide"
                                                data-chainmarket-target="conversion"
                                                data-factor="{{$botState.BtcPrice}}" data-code="{{$botState.BtcIndex}}"
                                                data-action="click->chainmarket#setConversion">
                                                <label>Index</label>
                                                <button class="btn-selected" name="BTC">BTC</button>
                                                <button name="fiat">{{$botState.BtcIndex}}</button>
                                             </div>
                                             {{- /* AGGREGATE DEPTH STACKING */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="aggStack">
                                                <label>Stacking</label>
                                                <button class="btn-selected"
                                                   data-action="click->chainmarket#setStacking" name="on">On</button>
                                                <button data-action="click->chainmarket#setStacking"
                                                   name="off">Off</button>
                                             </div>
                                             {{- /* ZOOM */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="zoom" data-action="click->chainmarket#setZoom">
                                                <label>Zoom +/-</label>
                                                <button class="btn-selected" name="10">10%</button>
                                                <button name="20">20%</button>
                                                <button name="40">40%</button>
                                                <button name="95">95%</button>
                                             </div>
                                             {{- /* OTHER CHART OPTIONS */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="actions">
                                                <label>Actions</label>
                                                <button><a data-chainmarket-target="link" href="" target="_blank"
                                                      rel="noopener noreferrer"></a></button>
                                             </div>
                                          </div>
                                          {{- /* CHART */ -}}
                                          <div class="flex-grow-1 ps-3 mb-2 market-chart-box d-flex">
                                             <div class="d-flex w-100 position-relative market-chart">
                                                <div class="market-chart-title d-flex align-items-center">
                                                   <div data-chainmarket-target="xcLogo"></div>
                                                   <div data-chainmarket-target="xcName"></div>
                                                </div>
                                                <div class="market-chart-legend" data-chainmarket-target="legend"></div>
                                                <div class="position-absolute w-100 h-100"
                                                   data-chainmarket-target="chart"></div>
                                             </div>
                                          </div>
                                          {{- /* TODO: Test this data controller (time & market) */ -}}
                                          <div class="text-center py-2 py-lg-0 text-lg-end px-4 fs13 d-hide"
                                             data-chainmarket-target="age">updated <span data-controller="time"
                                                data-time-target="age" data-chainmarket-target="ageSpan"
                                                data-age="0"></span> ago</div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- market chart end -->
                              </div>
                              {{- else -}} {{/* EXCHANGE MONITORING DISABLED */}}
                              <h4 class="py-5 text-center">Exchange monitoring disabled</h4>
                              {{- end -}}
                           </section>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section>
            <!-- Start Chain Charts -->
            <div class="hp-explore__cards-content-1 mt-3">
               <div class="explore-card-wrap" data-controller="homecharts" {{range .ChainListTargetTimePerBlock}}
                  data-homecharts-{{.ChainType}}-blocktime="{{.TargetTimePerBlock}}" {{end}}>
                  <div class="explore-card-content">
                     <div class="bg-for-header">
                        <div class="row">
                           <div class="col-md-8 col-lg-7 col-xl-5">
                              <div class="row">
                                 <div class="explore-card__header ps-4">
                                    <span class="homeicon-chart explore-card__header__logo" alt="Charts route"
                                       loading="lazy"></span>
                                    <div class="explore-card__header__text ml-15">
                                       <h5 class="explore-card__header__text__name"> Chain Charts </h5>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-3 col-lg-3 col-xl-4"></div>
                           <div class="col-md-10 col-lg-11 col-xl-11 ta-center chart-title-name pt-15">
                              <span class="fs-22 fw-600" data-homecharts-target="chartTitleName"></span>
                           </div>
                           <div class="col-md-3 col-lg-3 col-xl-4 ta-right p-relative">
                              <span class="explore-card__header__arrow">
                                 <span class='the-arrow -right'>
                                    <span class='shaft'></span>
                                 </span>
                              </span>
                           </div>
                        </div>
                     </div>

                     <div class="explore-card__values-content market-chart-content">
                        <section>
                           <div class="row border-1-grey chart-wrapper">
                              <!-- market chart start -->
                              <div class="row w-100 align-items-top">
                                 <div class="row flex-grow-0 flex-lg-grow-1 col-24 col-lg mx-0 p-0">
                                    <div class="col me-2 flex-grow-1 d-flex flex-column bg-white position-relative">
                                       <div
                                          class="d-flex flex-shrink-1 align-items-top justify-content-around justify-content-lg-center flex-wrap px-1 px-lg-3 mb-2">
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                             <label>Chain</label>
                                             <div class="d-flex ai-center">
                                                <div class="btn-group" data-toggle="buttons">
                                                   <input data-homecharts-target="chainTypeSelected"
                                                      data-action="click->homecharts#chainTypeChange" type="button"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn active"
                                                      value="DCR" name="dcr">
                                                   <input data-homecharts-target="chainTypeSelected"
                                                      data-action="click->homecharts#chainTypeChange" type="button"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main"
                                                      value="LTC" name="ltc">
                                                   <input data-homecharts-target="chainTypeSelected"
                                                      data-action="click->homecharts#chainTypeChange" type="button"
                                                      class="tab-button home-chart-toggle-btn white last-toggle-btn c-txt-main"
                                                      value="BTC" name="btc">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       {{- /* CHART ONTROLS */ -}}
                                       <div
                                          class="d-flex flex-shrink-1 align-items-top justify-content-around justify-content-lg-center flex-wrap px-1 px-lg-3 mb-2">
                                          {{- /* CHART TYPE SELECTION */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                             <label>Chart</label>
                                             <select id="selectBox" class="chart-box d-inline-flex"
                                                data-homecharts-target="chartSelect"
                                                data-action="homecharts#selectChart">
                                                <optgroup label="Staking">
                                                   <option value="ticket-price">Ticket Price</option>
                                                   <option value="ticket-pool-size">Ticket Pool Size</option>
                                                   <option value="ticket-pool-value">Ticket Pool Value</option>
                                                   <option value="stake-participation">Stake Participation</option>
                                                   <option value="privacy-participation">Privacy Participation</option>
                                                   <option value="missed-votes">Missed Votes</option>
                                                </optgroup>
                                                <optgroup label="Chain">
                                                   <option value="block-size">Block Size</option>
                                                   <option value="blockchain-size">Blockchain Size</option>
                                                   <option value="tx-count">Transaction Count</option>
                                                   <option value="duration-btw-blocks">Duration Between Blocks</option>
                                                </optgroup>
                                                <optgroup label="Mining">
                                                   <option value="pow-difficulty">PoW Difficulty</option>
                                                   <option value="chainwork">Total Work</option>
                                                   <option value="hashrate">Hashrate</option>
                                                </optgroup>
                                                <optgroup label="Distribution">
                                                   <option value="coin-supply">Coin Supply</option>
                                                   <option value="fees">Fees</option>
                                                </optgroup>
                                             </select>
                                          </div>
                                          {{- /* RANGE SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="rangeSelector">
                                             <label class="text-nowrap">Blake3 Milestone</label>
                                             <div class="btn-group">
                                                <button data-option="all" data-action="click->homecharts#setRange" data-homecharts-target="rangeOption"
                                                   class="active tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn">All</button>
                                                <button data-option="before" data-action="click->homecharts#setRange" data-homecharts-target="rangeOption"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main">Before</button>
                                                <button data-option="after" data-action="click->homecharts#setRange" data-homecharts-target="rangeOption"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main last-toggle-btn">After</button>
                                             </div>
                                          </div>
                                          {{- /* ZOOM SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="zoomSelector"
                                             data-action="click->homecharts#setSelectZoom">
                                             <label class="text-nowrap">ZOOM</label>
                                             <div class="btn-group">
                                                <button name="all"
                                                   class="active tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn">All</button>
                                                <button name="year"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main">Year</button>
                                                <button name="month"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main">Month</button>
                                                <button name="week"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main">Week</button>
                                                <button name="day"
                                                   class="tab-button home-chart-toggle-btn white last-toggle-btn c-txt-main">Day</button>
                                             </div>
                                          </div>
                                          {{- /* BIN SELECTIONS */ -}}
                                          <div class="d-hide btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="binSelector"
                                             data-action="click->homecharts#setSelectBin">
                                             <label class="text-nowrap">BIN</label>
                                             <div class="btn-group">
                                                <button name="day"
                                                   class="active tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn">Day</button>
                                                <button name="block"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main last-toggle-btn">Blocks</button>
                                             </div>
                                          </div>
                                          {{- /* SCALE SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="scaleSelector"
                                             data-action="click->homecharts#setSelectScale">
                                             <label class="text-nowrap">SCALE</label>
                                             <div class="btn-group">
                                                <button name="linear"
                                                   class="active tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn">Linear</button>
                                                <button name="log"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main last-toggle-btn">Log</button>
                                             </div>
                                          </div>
                                          {{- /* SCALE SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="vSelector">
                                             <label class="text-nowrap">VISIBILITY</label>
                                             <ul class="nav nav-pills">
                                                <li class="nav-item" data-homecharts-target="vSelectorItem"
                                                   data-charts="ticket-price">
                                                   <label class="customcheck ms-2 d-inline-flex">Price
                                                      <input type="checkbox" checked="checked"
                                                         data-action="click->homecharts#setVisibility"
                                                         data-homecharts-target="ticketsPrice">
                                                      <span class="checkmark tickets-price"></span>
                                                   </label>
                                                </li>
                                                <li class="nav-item" data-homecharts-target="vSelectorItem"
                                                   data-charts="ticket-price">
                                                   <label class="customcheck mx-2 d-inline-flex">Tickets Bought
                                                      <input type="checkbox"
                                                         data-action="click->homecharts#setVisibility"
                                                         data-homecharts-target="ticketsPurchase">
                                                      <span class="checkmark tickets-bought"></span>
                                                   </label>
                                                </li>
                                                <li class="nav-item">
                                                   <label class="customcheck mx-2 d-inline-flex"
                                                      data-homecharts-target="vSelectorItem"
                                                      data-charts="coin-supply">Mixed
                                                      Coins
                                                      <input type="checkbox"
                                                         data-action="click->homecharts#setVisibility"
                                                         data-homecharts-target="anonymitySet">
                                                      <span class="checkmark total-mixed"></span>
                                                   </label>
                                                </li>
                                             </ul>
                                          </div>
                                          {{- /* MODE SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="modeSelector"
                                             data-action="click->homecharts#setSelectMode">
                                             <label class="text-nowrap">MODE</label>
                                             <div class="btn-group">
                                                <button name="smooth"
                                                   class="active tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn">Smooth</button>
                                                <button name="stepped"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main last-toggle-btn">Stepped</button>
                                             </div>
                                          </div>
                                       </div>
                                       {{- /* CHART */ -}}
                                       <div class="ps-3 mb-2 market-chart-box" data-homecharts-target="chartWrapper">
                                          <div class="d-flex w-100 position-relative">
                                             <div class="chart-name-label d-flex align-items-center">
                                                <div class="homeicon-chartbar fs-20"></div>
                                                <span class="chart-name-content"
                                                   data-homecharts-target="chartName"></span>
                                             </div>
                                             <div class="chartview" data-homecharts-target="chartsView">
                                             </div>
                                          </div>
                                          <div
                                             class="d-flex flex-wrap justify-content-center align-items-center mb-1 mt-1">
                                             <div class="row">
                                                <div class="col-4 column-center chart-control chart-control-wrapper">
                                                   <ul class="nav nav-pills">
                                                      <li class="nav-item nav-link active"
                                                         data-homecharts-target="axisOption"
                                                         data-action="click->homecharts#setAxis" data-option="time">
                                                         Time
                                                      </li>
                                                      <li class="nav-item nav-link" data-homecharts-target="axisOption"
                                                         data-action="click->homecharts#setAxis" data-option="height">
                                                         Blocks
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                          <span class="d-none" data-homecharts-target="rawDataURL"></span>
                                          <div class="spinner-wrapper">
                                             <div
                                                class="spinner-centerer d-flex align-items-center justify-content-center">
                                                <div class="spinner">
                                                   <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="d-flex justify-content-center legend-wrapper">
                                             <div class="legend d-flex align-items-center"
                                                data-homecharts-target="labels">
                                                <div class="pe-3" data-homecharts-target="legendEntry">
                                                   <div class="dygraph-legend-line"
                                                      data-homecharts-target="legendMarker"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       {{- /* TODO: Test this data controller (time & market) */ -}}
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <section>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End Chain Charts -->
         </section>
         <div class="bg-white pb-3 mt-3">
            <div class="br-8 b--def bgc-plain-bright pb-10 pt-2 table-card">
               <span class="ms-3 fs-22 fw-600 pt-4">Blockchains parameters</span>
               <div class="btable-table-wrap mt-2 maxh-none">
                  <table class="btable-table w-100">
                     <thead>
                        <tr class="text-secondary bg-none">
                           <th class="text-start">Parameter</th>
                           {{range .ParamsList}}
                           <th>{{chainName .ChainType}}</th>
                           {{end}}
                           <th>Description</th>
                        </tr>
                     </thead>
                     <tbody class="bgc-white">
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">NextBlockReward</td>
                           {{range .ParamsList}}
                           <td class="mono">
                              {{template "decimalParts" (amountAsDecimalParts .NextBlockReward true)}} {{toUpperCase .ChainType}}
                           </td>
                           {{end}}
                           <td>Next Block Reward (Estimate)</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">RemainingBlocks</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.RemainingBlocks}}</td>
                           {{end}}
                           <td>Remaining Blocks for next reward reduction</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">NextTime</td>
                           {{range .ParamsList}}
                           <td class="mono nowrap pe-3">{{TimeConversion .NextTime}}</td>
                           {{end}}
                           <td>Estimated time for next reward reduction</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">ReduceMinDifficulty</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.ReduceMinDifficulty}}</td>
                           {{end}}
                           <td>Whether the network should reduce the minimum required difficulty after a long enough period of time has passed without finding a block</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">MinDiffReductionTime</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.MinDiffReductionTime}}</td>
                           {{end}}
                           <td>Amount of time after which the minimum required difficulty should be reduced when a block hasn't been found</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">GenerateSupported</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.GenerateSupported}}</td>
                           {{end}}
                           <td>Whether or not CPU mining is allowed</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">TargetTimespan</td>
                           {{range .ParamsList}}
                           <td class="mono">{{durationToShortDurationString .TargetTimespan}}</td>
                           {{end}}
                           <td>Amount of time that should elapse before the block difficulty requirement is examined to determine how it should be changed in order to maintain the desired block generation rate</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">TargetTimePerBlock</td>
                           {{range .ParamsList}}
                           <td class="mono">{{durationToShortDurationString .TargetTimePerBlock}}</td>
                           {{end}}
                           <td>The desired amount of time to generate each block</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">RetargetAdjustmentFactor</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.RetargetAdjustmentFactor}}</td>
                           {{end}}
                           <td>Adjustment factor used to limit the minimum and maximum amount of adjustment that can occur between difficulty retargets</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">CoinbaseMaturity</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.CoinbaseMaturity}}</td>
                           {{end}}
                           <td>Number of blocks required before newly mined</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">SubsidyReductionInterval</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.SubsidyReductionInterval}} blocks</td>
                           {{end}}
                           <td>Reduction interval in blocks</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--end block 2 -->
</div>
{{ template "footer" . }}
</body>

</html>
{{- end}}