<template>
   {{define "home_report"}}
   <!DOCTYPE html>
   <html lang="en">
      {{ template "html-head" headData .CommonPageData "Finance report Homepage" }}
      {{ template "navbar". }}
      <div class="container pb-40 main">
        <section>
               <div class="d-flex justify-content-center my-5">
                  <h3 class="fw-600">Synthesize financial reports for treasury revenues and expenditures</h3>
               </div>
               <div class="hp-explore__cards-wrap">
                  <div class="hp-explore__cards-content-3">
                     <a class="explore-card-wrap function-feature-card" href="/finance-report">
                        <div class="explore-card-content home-report-card">
                           <div class="explore-card__header">
                              <div class="explore-card__header__text ml-15">
                                 <h5 class="explore-card__header__text__name"> Proposal Matrix</h5>
                              </div>
                           </div>
                           <div class="explore-card__values-content pb-3">
                              <span class="explore-card__values__caption fs-17">Expenditure reports for approved proposals</span>
                           </div>
                        </div>
                     </a>
                     <a class="explore-card-wrap function-feature-card" href="/finance-report?type=summary">
                        <div class="explore-card-content home-report-card">
                           <div class="explore-card__header">
                              <div class="explore-card__header__text ml-15">
                                 <h5 class="explore-card__header__text__name"> Proposal List</h5>
                              </div>
                           </div>
                           <div class="explore-card__values-content pb-3">
                              <span class="explore-card__values__caption fs-17">Detailed summary information for approved proposals</span>
                           </div>
                        </div>
                     </a>
                     <a class="explore-card-wrap function-feature-card" href="/finance-report?type=domain">
                        <div class="explore-card-content home-report-card">
                           <div class="explore-card__header">
                              <div class="explore-card__header__text ml-15">
                                 <h5 class="explore-card__header__text__name"> Domains Report</h5>
                              </div>
                           </div>
                           <div class="explore-card__values-content pb-3">
                              <span class="explore-card__values__caption fs-17">Summary of expenditures by domain</span>
                           </div>
                        </div>
                     </a>
                      <a class="explore-card-wrap function-feature-card" href="/finance-report?type=author">
                        <div class="explore-card-content home-report-card">
                           <div class="explore-card__header">
                              <div class="explore-card__header__text ml-15">
                                 <h5 class="explore-card__header__text__name"> Authors Report</h5>
                              </div>
                           </div>
                           <div class="explore-card__values-content pb-3">
                              <span class="explore-card__values__caption fs-17">Summary of expenditures by authors</span>
                           </div>
                        </div>
                     </a>
                     <a class="explore-card-wrap function-feature-card" href="/finance-report?type=treasury">
                        <div class="explore-card-content home-report-card">
                           <div class="explore-card__header">
                              <div class="explore-card__header__text ml-15">
                                 <h5 class="explore-card__header__text__name"> Treasury/Legacy Report</h5>
                              </div>
                           </div>
                           <div class="explore-card__values-content pb-3">
                              <span class="explore-card__values__caption fs-17">Summary of incoming and outgoing funds from Treasury/Legacy</span>
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
            </section>
      </div>
      {{ template "footer". }}
      </body>
   </html>
   {{ end }}
</template>