{{define "home" -}}
<!DOCTYPE html>
{{- $botState := .XcState -}}
<html lang="en">
{{ template "html-head" headData .CommonPageData "Mutilple Blockchains Explorer by bisonexplorer.com"}}
{{ template "top_navbar" . }}
<div class="main-container homepage-class" data-controller="time top" data-top-active-chain="{{.ActiveChain}}">
   <!-- start explorer wrap -->
   <div class="hp-explore-wrap" id="hp-explore-wrap">
      <div class="container pt-1">
         <div class="bg-white pb-3 mt-3">
            <div class="br-8 b--def bgc-plain-bright pb-10 pt-2 table-card">
               <span class="ms-3 fs-22 fw-600 pt-4">Supported Blockchains</span>
               <div class="btable-table-wrap mt-2 maxh-none">
                  <table class="btable-table w-100">
                     <thead>
                        <tr class="text-secondary bg-none">
                           <th class="text-start cursor-pointer" data-action="click->top#sortChainTable"
                              data-column="name">
                              Name <svg class="sort-icon text-muted" data-top-target="sortIcon" data-column="name"
                                 viewBox="0 0 10 10" width="13" height="13" fill="currentColor">
                                 <path d="M2 3h6L5 0 2 3zm0 4h6L5 10 2 7z" />
                              </svg>
                           </th>
                           <th class="text-end pe-2 pe-lg-5 cursor-pointer" data-action="click->top#sortChainTable"
                              data-column="block">
                              Latest Block
                              <svg class="sort-icon text-muted" data-top-target="sortIcon" data-column="block"
                                 viewBox="0 0 10 10" width="13" height="13" fill="currentColor">
                                 <path d="M2 3h6L5 0 2 3zm0 4h6L5 10 2 7z" />
                              </svg>
                           </th>
                           <th class="text-end pe-2 pe-lg-5 cursor-pointer" data-action="click->top#sortChainTable"
                              data-column="price">
                              Price
                              <svg class="sort-icon text-muted" data-top-target="sortIcon" data-column="price"
                                 viewBox="0 0 10 10" width="13" height="13" fill="currentColor">
                                 <path d="M2 3h6L5 0 2 3zm0 4h6L5 10 2 7z" />
                              </svg>
                           </th>
                           <th class="text-end pe-2 pe-lg-5 cursor-pointer" data-action="click->top#sortChainTable"
                              data-column="cap">
                              Market Cap
                              <svg class="sort-icon text-muted" data-top-target="sortIcon" data-column="cap"
                                 viewBox="0 0 10 10" width="13" height="13" fill="currentColor">
                                 <path d="M2 3h6L5 0 2 3zm0 4h6L5 10 2 7z" />
                              </svg>
                           </th>
                           <th class="text-end pe-2 pe-lg-5 cursor-pointer" data-action="click->top#sortChainTable"
                              data-column="vol">
                              24h Volume
                              <svg class="sort-icon text-muted" data-top-target="sortIcon" data-column="vol"
                                 viewBox="0 0 10 10" width="13" height="13" fill="currentColor">
                                 <path d="M2 3h6L5 0 2 3zm0 4h6L5 10 2 7z" />
                              </svg>
                           </th>
                           <th class="text-end pe-2 pe-lg-5 cursor-pointer" data-action="click->top#sortChainTable"
                              data-column="txcount">
                              Total Transactions
                              <svg class="sort-icon text-muted" data-top-target="sortIcon" data-column="txcount"
                                 viewBox="0 0 10 10" width="13" height="13" fill="currentColor">
                                 <path d="M2 3h6L5 0 2 3zm0 4h6L5 10 2 7z" />
                              </svg>
                           </th>
                           <th class="text-end pe-2 pe-lg-5 cursor-pointer" data-action="click->top#sortChainTable"
                              data-column="coinsupply">
                              Coin Supply
                              <svg class="sort-icon text-muted" data-top-target="sortIcon" data-column="coinsupply"
                                 viewBox="0 0 10 10" width="13" height="13" fill="currentColor">
                                 <path d="M2 3h6L5 0 2 3zm0 4h6L5 10 2 7z" />
                              </svg>
                           </th>
                           <th class="text-end pe-2 pe-lg-3 cursor-pointer" data-action="click->top#sortChainTable"
                              data-column="size">
                              Blockchain size
                              <svg class="sort-icon text-muted" data-top-target="sortIcon" data-column="size"
                                 viewBox="0 0 10 10" width="13" height="13" fill="currentColor">
                                 <path d="M2 3h6L5 0 2 3zm0 4h6L5 10 2 7z" />
                              </svg>
                           </th>
                        </tr>
                     </thead>
                     <tbody class="bgc-white" data-top-target="supportedTable">
                        {{range .HomeInfoList}}
                        <tr>
                           <td class="text-start" data-value="{{.Chain}}">
                              <a href="{{if eq .Chain "dcr"}}/decred{{else}}/{{.Chain}}{{end}}">
                                 <img src="/images/{{.Chain}}-icon.png" width="25" height="25" />
                                 <span class="ms-2 fs-17">{{chainName .Chain}}</span>
                                 <span class="fs-17">({{toUpperCase .Chain}})</span>
                              </a>
                           </td>
                           <td class="text-end pe-2 pe-lg-5" data-value="{{.BestBlock.Height}}">
                              <a class="fs-16" id="{{.Chain}}_blockHeight" data-top-target="blockHeight" {{if eq
                                 .Chain "dcr" }}href="/decred/block/{{.BestBlock.Height}}"
                                 {{else}}href="/{{.Chain}}/block/{{.BestBlock.Height}}"
                                 {{end}}>{{.BestBlock.Height}}</a>
                           </td>
                           <td class="text-end pe-2 pe-lg-5" data-value="{{.Price}}">
                              ${{template "decimalParts" (float64AsDecimalParts .Price 2 true)}}
                           </td>
                           <td class="text-end pe-2 pe-lg-5" data-value="{{.MarketCap}}">
                              ${{difficultyDisp .MarketCap}}
                           </td>
                           <td class="text-end pe-2 pe-lg-5" data-value="{{.VolumeUSD}}">
                              ${{difficultyDisp .VolumeUSD}} ({{difficultyDisp .Volumn}} {{toUpperCase .Chain}})
                           </td>
                           <td class="text-end pe-2 pe-lg-5" data-value="{{.HomeInfo.TotalTransactions}}">
                              <span id="{{.Chain}}_txcount">{{int64Comma .HomeInfo.TotalTransactions}}</span>
                           </td>
                           <td class="text-end pe-2 pe-lg-5" data-value="{{.HomeInfo.CoinValueSupply}}">
                              <span id="{{.Chain}}_coinSupply" data-top-target="coinSupply">
                                 {{template "decimalParts" (float64AsDecimalParts .HomeInfo.CoinValueSupply 2 true)}}
                              </span>
                              <span>{{toUpperCase .Chain}}</span>
                           </td>
                           <td class="text-end pe-2 pe-lg-3" data-value="{{.HomeInfo.TotalSize}}">
                              <span>
                                 {{.HomeInfo.FormattedSize}}
                              </span>
                           </td>
                        </tr>
                        {{end}}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <section>
            <div class="hp-explore__cards-wrap mt-2">
               <!-- Start Market chart -->
               <div class="hp-explore__cards-content-1">
                  <div class="explore-card-wrap" data-controller="chainmarket">
                     <div class="explore-card-content">
                        <a href="#" id="marketChartHeader" data-turbolinks="false" class="link-to-subpage">
                           <div class="explore-card__header">
                              <span class="homeicon-market explore-card__header__logo" alt="Market Charts route"
                                 loading="lazy"></span>
                              <div class="explore-card__header__text ml-15">
                                 <h5 class="explore-card__header__text__name"> Market Charts </h5>
                                 <span class="explore-card__header__arrow">
                                    <span class='the-arrow -right'>
                                       <span class='shaft'></span>
                                    </span>
                                 </span>
                                 <div class="explore-card__header__text__price">
                                    <div class="price-wrap d-flex ai-center">
                                       <span class="price-usd fs-13">Long-term market historic price chart</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                        <div class="explore-card__values-content market-chart-content pb-3">
                           <section class="ms-0 border-1-grey ps-md-3 pb-2">
                              {{- if $botState -}}
                              <div class="row chart-wrapper">
                                 <!-- market chart start -->
                                 <div class="row px-0 w-100 align-items-top">
                                    {{- /* LEFT COLUMN */ -}}
                                    <div class="col-24 col-lg-auto p-0 d-none">
                                       {{- /* PRICE */ -}}
                                       <div class="ms-4 me-2 my-4 p-2 p-lg-4 bg-white text-center frame-shadow">
                                          <div class="text-center fs18 text-secondary">1 COIN =</div>
                                          {{if eq $botState.BtcIndex "USD"}}
                                          <span class="fs22 fw-bold d-inline-block">$</span>
                                          {{end}}
                                          <span class="fs24" data-chainmarket-target="price">
                                             {{printf "%.2f" $botState.Price}}</span>
                                          <span class="fs16 text-secondary">{{$botState.BtcIndex}}</span>
                                       </div>
                                       {{- /* DCR/BTC MARKETS */ -}}
                                       <div class="ms-4 me-2 my-4 p-2 p-lg-4 bg-white frame-shadow">
                                          <div colspan="4" class="fs22 text-center pb-3"><span
                                                class="dcricon-coin-negative fs24 me-2"></span> LTC Markets</div>
                                          <table class="mx-auto mx-lg-3">
                                             <tbody>
                                                <tr class="fs14 lh-200">
                                                   <td></td>
                                                   <td class="text-end fw-bold">LTC Vol.</td>
                                                   <td class="text-end fw-bold" data-chainmarket-target="fiatLabel">
                                                   </td>
                                                   <td></td>
                                                </tr>
                                                {{range $botState.VolumeOrderedExchanges}}
                                                <tr class="fs hover-row" data-chainmarket-target="xcRow"
                                                   data-action="click->chainmarket#setExchange" data-token="{{.Token}}">
                                                   <td class="py-2 fs16 fw-bold ta-left">
                                                      <div class="exchange-logo {{.Token}} me-2"></div>
                                                      {{xcDisplayName .Token}}
                                                   </td>
                                                   <td class="ps-2 fs16 py-2 text-end" data-type="volume">
                                                      {{threeSigFigs .State.BaseVolume}}
                                                   </td>
                                                   <td class="ps-3 fs16 py-2 text-end" data-type="price">
                                                      {{threeSigFigs .State.Price}}
                                                   </td>
                                                   <td class="fs16 px-2" data-type="arrow">
                                                      {{if eq .State.Change 0.0}}
                                                      <span></span>
                                                      {{else if gt .State.Change 0.0}}
                                                      <span class="dcricon-arrow-up text-green"></span>
                                                      {{else}}
                                                      <span class="dcricon-arrow-down text-danger"></span>
                                                      {{end}}
                                                   </td>
                                                </tr>
                                                {{end}}
                                                <tr class="fs sum-row hover-row" data-chainmarket-target="xcRow"
                                                   data-action="click->chainmarket#setExchange" data-token="aggregated">
                                                   <td class="py-2 fs16 fw-bold ta-left">
                                                      <div class="exchange-logo aggregated me-2"></div>
                                                      Aggregate
                                                   </td>
                                                   <td class="ps-2 fs16 py-2 text-end" data-type="volume">
                                                      {{threeSigFigs $botState.Volume}}
                                                   </td>
                                                   <td class="ps-1 fs16 py-2 text-end" data-type="fiat">
                                                      {{printf "%.2f" $botState.Price}}
                                                   </td>
                                                   <td></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                       {{- /* BITCOIN INDICES */ -}}
                                       <div class="ms-4 me-2 my-4 py-4 bg-white frame-shadow">
                                          <div colspan="4"
                                             class="fs22 d-flex align-items-center justify-content-center pb-3">
                                             <div class="exchange-logo bitcoin me-2"></div>
                                             <span>Bitcoin Indices</span>
                                          </div>
                                          <div class="row">
                                             {{range $token, $state := $botState.FiatIndices}}
                                             <div class="col-12 text-center">
                                                <div
                                                   class="fs16 fw-bold d-flex align-items-center justify-content-center">
                                                   <div class="exchange-logo {{$token}} me-1"></div>
                                                   <span class="d-inline-block">{{toTitleCase $token}}</span>
                                                </div>
                                                {{if eq $botState.BtcIndex "USD"}}
                                                <span class="fs18 fw-bold d-inline-block">$</span>
                                                {{end}}
                                                <span class="fs18" data-price="{{$state.Price}}" data-token="{{$token}}"
                                                   data-chainmarket-target="xcIndex">{{commaWithDecimal $state.Price
                                                   2}}</span> <span
                                                   class="fs15 text-secondary">{{$botState.BtcIndex}}</span><br>
                                                {{if eq $token "coindesk"}}
                                                <a class="fs12" href="https://www.coindesk.com/price/bitcoin">Powered by
                                                   CoinDesk</a>
                                                {{end}}
                                             </div>
                                             {{end}}
                                          </div>
                                       </div>
                                    </div>
                                    {{- /* RIGHT COLUMN */ -}}
                                    <div class="row flex-grow-0 flex-lg-grow-1 col-24 col-lg mx-0 p-0">
                                       <div
                                          class="col me-md-2 px-0 px-md-2 flex-grow-1 d-flex flex-column bg-white position-relative">
                                          <div class="loader-v2 loading" data-chainmarket-target="chartLoader"></div>
                                          {{- /* CHART ONTROLS */ -}}
                                          <div
                                             class="d-flex flex-shrink-1 align-items-top justify-content-around justify-content-lg-center flex-wrap px-1 px-lg-3 mb-2">
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                                <label>Chain</label>
                                                <select data-chainmarket-target="chainTypeSelected"
                                                   data-action="change->chainmarket#chainTypeChange"
                                                   class="top-vodiapicker market-chart-vodiapicker">
                                                   <option name="btc" value="btc" data-thumbnail="/images/btc-icon.png">
                                                      Bitcoin</option>
                                                   <option name="ltc" value="ltc" data-thumbnail="/images/ltc-icon.png">
                                                      Litecoin</option>
                                                   <option name="dcr" value="dcr" class="test"
                                                      data-thumbnail="/images/dcr-icon.png">Decred</option>
                                                </select>
                                                <div class="top-chain-select-area">
                                                   <div class="h-100 d-flex ai-center">
                                                      <button class="top-chain-selected-btn market-chart-selected-btn"
                                                         value="dcr">
                                                         <li><img src="" alt=""><span class="ms-1"></span>
                                                            <span class="dropdown-arrow"
                                                               style="margin-left: 0.5rem; display: flex; align-items: center;">
                                                               <svg width="10" height="6" viewBox="0 0 10 6"
                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                  fill="currentColor">
                                                                  <path d="M1 1l4 4 4-4" stroke="currentColor"
                                                                     stroke-width="1.5" fill="none"
                                                                     fill-rule="evenodd" />
                                                               </svg>
                                                            </span>
                                                         </li>
                                                      </button>
                                                   </div>
                                                   <div id="marketSelectList"
                                                      class="top-selection-area market-chart-selection-area"
                                                      style="display: none;">
                                                      <ul id="marketChartSelectUl" class="top-chain-select-list">
                                                         <li><img src="/images/btc-icon.png"
                                                               value="btc"><span>Bitcoin</span></li>
                                                         <li><img src="/images/ltc-icon.png"
                                                               value="ltc"><span>Litecoin</span></li>
                                                         <li><img src="/images/dcr-icon.png"
                                                               value="dcr"><span>Decred</span></li>
                                                      </ul>
                                                   </div>
                                                </div>
                                             </div>
                                             {{- /* PAIR SELECTION */ -}}
                                             <div class="d-hide btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="pairSelectorArea">
                                                <label>Pair</label>
                                                <select class="chart-box d-inline-flex"
                                                   data-chainmarket-target="pairSelect"
                                                   data-action="change->chainmarket#changePair">
                                                   <option value="usdt" selected>DCR/USDT</option>
                                                   <option value="btc">DCR/BTC</option>
                                                </select>
                                             </div>
                                             {{- /* EXCHANGE SELECTION */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="exchanges"
                                                data-action="click->chainmarket#changeExchange">
                                                <label>Exchange</label>
                                                <div class="btn-group" data-chainmarket-target="exchangeBtnArea">
                                                   {{range $index, $exchange := $botState.VolumeOrderedExchanges}}
                                                   <button name="{{$exchange.Token}}" {{if
                                                      $exchange.State.HasCandlesticks}} data-sticks="1"
                                                      data-bins="{{$exchange.State.StickList}}" {{end}} {{if
                                                      $exchange.State.HasDepth}} data-depth="1" {{end}}
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">{{xcDisplayName
                                                      $exchange.Token}}</button>
                                                   {{end}}
                                                   <button name="aggregated" data-chainmarket-target="aggOption"
                                                      data-depth="1"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">Aggregated</button>
                                                </div>
                                             </div>
                                             {{- /* CHART TYPE SELECTION */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                                <label>Chart</label>
                                                <select class="chart-box d-inline-flex"
                                                   data-chainmarket-target="chartSelect"
                                                   data-action="change->chainmarket#changeGraph">
                                                   <option value="depth" data-chainmarket-target="depthOnly" selected>
                                                      Depth Chart</option>
                                                   <option value="orders" data-chainmarket-target="depthOnly">Order Book
                                                   </option>
                                                   <option value="candlestick" data-chainmarket-target="sticksOnly">
                                                      Candlesticks</option>
                                                   <option value="history" data-chainmarket-target="sticksOnly">Market
                                                      History</option>
                                                   <option value="volume" data-chainmarket-target="sticksOnly">Volume
                                                   </option>
                                                </select>
                                             </div>
                                             {{- /* BIN SIZE SELECTIONS */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="bin"
                                                data-action="click->chainmarket#changeBin">
                                                <label class="text-nowrap">Bin Size</label>
                                                <div class="btn-group">
                                                   <button name="5m"
                                                      class="d-hide tab-button home-chart-toggle-btn white c-txt-main">5m</button>
                                                   <button name="30m"
                                                      class="d-hide tab-button home-chart-toggle-btn white c-txt-main">30m</button>
                                                   <button name="1h"
                                                      class="active tab-button home-chart-toggle-btn white c-txt-main">Hour</button>
                                                   <button name="4h"
                                                      class="active tab-button home-chart-toggle-btn white c-txt-main">4
                                                      Hours</button>
                                                   <button name="1d"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">Day</button>
                                                   <button name="1w"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">Week</button>
                                                   <button name="1mo"
                                                      class="tab-button home-chart-toggle-btn white c-txt-main">Month</button>
                                                </div>
                                             </div>
                                             {{- /* DISPLAY CURRENCY */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4 d-hide"
                                                data-chainmarket-target="conversion"
                                                data-factor="{{$botState.BtcPrice}}" data-code="{{$botState.BtcIndex}}"
                                                data-action="click->chainmarket#setConversion">
                                                <label>Index</label>
                                                <button class="btn-selected" name="BTC">BTC</button>
                                                <button name="fiat">{{$botState.BtcIndex}}</button>
                                             </div>
                                             {{- /* AGGREGATE DEPTH STACKING */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="aggStack">
                                                <label>Stacking</label>
                                                <button class="btn-selected"
                                                   data-action="click->chainmarket#setStacking" name="on">On</button>
                                                <button data-action="click->chainmarket#setStacking"
                                                   name="off">Off</button>
                                             </div>
                                             {{- /* ZOOM */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="zoom" data-action="click->chainmarket#setZoom">
                                                <label>Zoom +/-</label>
                                                <button class="btn-selected" name="10">10%</button>
                                                <button name="20">20%</button>
                                                <button name="40">40%</button>
                                                <button name="95">95%</button>
                                             </div>
                                             {{- /* OTHER CHART OPTIONS */ -}}
                                             <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                                data-chainmarket-target="actions">
                                                <label>Actions</label>
                                                <button><a data-chainmarket-target="link" href="" target="_blank"
                                                      rel="noopener noreferrer"></a></button>
                                             </div>
                                          </div>
                                          {{- /* CHART */ -}}
                                          <div class="flex-grow-1 ps-0 ps-md-3 mb-2 market-chart-box d-flex">
                                             <div class="d-flex w-100 position-relative market-chart">
                                                <div class="market-chart-title d-flex align-items-center">
                                                   <div data-chainmarket-target="xcLogo" class="d-hide"></div>
                                                   <div data-chainmarket-target="xcName" class="d-hide"></div>
                                                </div>
                                                <div class="market-chart-legend" data-chainmarket-target="legend"></div>
                                                <div class="position-absolute w-100 h-100"
                                                   data-chainmarket-target="chart"></div>
                                             </div>
                                          </div>
                                          {{- /* TODO: Test this data controller (time & market) */ -}}
                                          <div class="text-center py-2 py-lg-0 text-lg-end px-4 fs13 d-hide"
                                             data-chainmarket-target="age">updated <span data-controller="time"
                                                data-time-target="age" data-chainmarket-target="ageSpan"
                                                data-age="0"></span> ago</div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- market chart end -->
                              </div>
                              {{- else -}} {{/* EXCHANGE MONITORING DISABLED */}}
                              <h4 class="py-5 text-center">Exchange monitoring disabled</h4>
                              {{- end -}}
                           </section>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section>
            <!-- Start Chain Charts -->
            <div class="hp-explore__cards-content-1 mt-3">
               <div class="explore-card-wrap" 
                  data-controller="homecharts"
                  data-homecharts-tps="{{.TargetPoolSize}}"
                  data-homecharts-svh="{{.ChainParams.StakeValidationHeight}}" 
                  data-homecharts-pos="{{.ChainParams.StakeRewardProportion}}"
                  data-homecharts-premine="{{.Premine}}" 
                  data-homecharts-bs="{{.ChainParams.BaseSubsidy}}"
                  data-homecharts-sri="{{.ChainParams.SubsidyReductionInterval}}" 
                  data-homecharts-mul-subsidy="{{.ChainParams.MulSubsidy}}"
                  data-homecharts-div-subsidy="{{.ChainParams.DivSubsidy}}"
                  {{range .ChainListTargetTimePerBlock}}
                     data-homecharts-{{.ChainType}}-blocktime="{{.TargetTimePerBlock}}" 
                  {{end}}>
                  <div class="explore-card-content">
                     <a href="#" id="chainChartHeader" data-turbolinks="false" class="link-to-subpage">
                        <div class="explore-card__header d-flex align-items-center position-relative px-4">
                           <div class="d-flex align-items-center w-200px">
                              <span class="homeicon-chart explore-card__header__logo me-3" alt="Charts route"
                                 loading="lazy"></span>
                              <h5 class="explore-card__header__text__name mb-0">Chain Charts</h5>
                           </div>
                           <div class="d-flex justify-content-center align-items-center w-100">
                              <span class="fs-22 fw-600"
                                 data-homecharts-target="chartTitleName"></span>
                              <div data-homecharts-target="chartDescription" data-tooltip=""
                                 class="d-flex ai-center cursor-pointer info-label position-relative ms-2">
                                 <span>
                                    <span class="dcricon-info fs15" style="color: #e6ad2b;">
                                    </span>
                                 </span>
                                 <span class="ms-2 fs13" style="color: #97772e;">About</span>
                              </div>
                           </div>
                        </div>
                     </a>
                     <div class="explore-card__values-content market-chart-content">
                        <section>
                           <div class="row border-1-grey chart-wrapper">
                              <!-- market chart start -->
                              <div class="row w-100 align-items-top px-0">
                                 <div class="row flex-grow-0 flex-lg-grow-1 col-24 col-lg mx-0 p-0">
                                    <div class="col me-2 flex-grow-1 d-flex flex-column bg-white position-relative">
                                       {{- /* CHART ONTROLS */ -}}
                                       <div
                                          class="d-flex flex-shrink-1 align-items-top justify-content-around justify-content-lg-center flex-wrap px-1 px-lg-3 mb-2">
                                          {{- /* CHAIN SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                             <label class="text-nowrap">Chain</label>
                                             <select data-homecharts-target="chainTypeSelected"
                                                data-action="change->homecharts#chainTypeChange"
                                                class="top-vodiapicker chain-chart-vodiapicker">
                                                <option name="btc" value="btc" data-thumbnail="/images/btc-icon.png">
                                                   Bitcoin</option>
                                                <option name="ltc" value="ltc" data-thumbnail="/images/ltc-icon.png">
                                                   Litecoin</option>
                                                <option name="dcr" value="dcr" class="test"
                                                   data-thumbnail="/images/dcr-icon.png">Decred</option>
                                             </select>
                                             <div class="top-chain-select-area">
                                                <div class="h-100 d-flex ai-center">
                                                   <button class="top-chain-selected-btn chain-chart-selected-btn"
                                                      value="dcr">
                                                      <li><img src="" alt=""><span class="ms-1"></span>
                                                         <span class="dropdown-arrow"
                                                            style="margin-left: 0.5rem; display: flex; align-items: center;">
                                                            <svg width="10" height="6" viewBox="0 0 10 6"
                                                               xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                                               <path d="M1 1l4 4 4-4" stroke="currentColor"
                                                                  stroke-width="1.5" fill="none" fill-rule="evenodd" />
                                                            </svg>
                                                         </span>
                                                      </li>
                                                   </button>
                                                </div>
                                                <div id="chainChartSelectList"
                                                   class="top-selection-area chain-chart-selection-area"
                                                   style="display: none;">
                                                   <ul id="chainChartSelectUl" class="top-chain-select-list">
                                                      <li><img src="/images/btc-icon.png"
                                                            value="btc"><span>Bitcoin</span></li>
                                                      <li><img src="/images/ltc-icon.png"
                                                            value="ltc"><span>Litecoin</span></li>
                                                      <li><img src="/images/dcr-icon.png"
                                                            value="dcr"><span>Decred</span></li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                          {{- /* CHART TYPE SELECTION */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                             <label>Chart</label>
                                             <select id="selectBox"
                                                class="chart-box top-chart-box d-inline-flex cursor-pointer"
                                                data-homecharts-target="chartSelect"
                                                data-action="homecharts#selectChart">
                                                <optgroup label="Staking">
                                                   <option value="ticket-price">Ticket Price</option>
                                                   <option value="ticket-pool-size">Ticket Pool Size</option>
                                                   <option value="ticket-pool-value">Ticket Pool Value</option>
                                                   <option value="stake-participation">Stake Participation</option>
                                                   <option value="privacy-participation">Privacy Participation</option>
                                                   <option value="missed-votes">Missed Votes</option>
                                                </optgroup>
                                                <optgroup label="Chain">
                                                   <option value="block-size">Block Size</option>
                                                   <option value="blockchain-size">Blockchain Size</option>
                                                   <option value="tx-count">Transaction Count</option>
                                                   <option value="duration-btw-blocks">Duration Between Blocks</option>
                                                </optgroup>
                                                <optgroup label="Mining">
                                                   <option value="pow-difficulty">PoW Difficulty</option>
                                                   <option value="chainwork">Total Work</option>
                                                   <option value="hashrate">Hashrate</option>
                                                </optgroup>
                                                <optgroup label="Distribution">
                                                   <option value="coin-supply">Coin Supply</option>
                                                   <option value="fees">Fees</option>
                                                </optgroup>
                                                <optgroup label="Coin Age">
                                                   <option value="avg-age-days">Average Age Days</option>
                                                   <option value="coin-days-destroyed">Coin Days Destroyed</option>
                                                   <option value="coin-age-bands">HODL Age Bands</option>
                                                   <option value="mean-coin-age">Mean Coin Age</option>
                                                   <option value="total-coin-days">Total Coin Days</option>
                                                </optgroup>
                                             </select>
                                          </div>
                                          {{- /* RANGE SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="rangeSelector">
                                             <label class="text-nowrap">Blake3 Milestone</label>
                                             <div class="btn-group">
                                                <button data-option="all" data-action="click->homecharts#setRange"
                                                   data-homecharts-target="rangeOption"
                                                   class="active tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn">All</button>
                                                <button data-option="before" data-action="click->homecharts#setRange"
                                                   data-homecharts-target="rangeOption"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main">Before</button>
                                                <button data-option="after" data-action="click->homecharts#setRange"
                                                   data-homecharts-target="rangeOption"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main last-toggle-btn">After</button>
                                             </div>
                                          </div>
                                          {{- /* ZOOM SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4">
                                             <label class="text-nowrap">Zoom</label>
                                             <select id="zoomSelector"
                                                class="chart-box d-inline-flex zoom-selector cursor-pointer"
                                                data-homecharts-target="zoomSelector"
                                                data-action="change->homecharts#setSelectZoom">
                                                <option selected value="all">All</option>
                                                <option value="year">Year</option>
                                                <option value="month">Month</option>
                                                <option value="week">Week</option>
                                                <option value="day">Day</option>
                                             </select>
                                          </div>
                                          {{- /* BIN SELECTIONS */ -}}
                                          <div class="d-hide btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="binSelector"
                                             data-action="click->homecharts#setSelectBin">
                                             <label class="text-nowrap">Bin</label>
                                             <div class="btn-group top-button-group">
                                                <button name="day"
                                                   class="active tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn top-home-chart-toggle-btn">Day</button>
                                                <button name="block"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main last-toggle-btn top-home-chart-toggle-btn">Blocks</button>
                                             </div>
                                          </div>
                                          {{- /* SCALE SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="scaleSelector"
                                             data-action="click->homecharts#setSelectScale">
                                             <label class="text-nowrap">Scale</label>
                                             <div class="btn-group top-button-group">
                                                <button name="linear"
                                                   class="active tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn top-home-chart-toggle-btn">Linear</button>
                                                <button name="log"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main last-toggle-btn top-home-chart-toggle-btn">Log</button>
                                             </div>
                                          </div>
                                          {{- /* SCALE SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="vSelector">
                                             <label class="text-nowrap">Visibility</label>
                                             <ul class="nav nav-pills top-button-group">
                                                <li class="nav-item" data-homecharts-target="vSelectorItem"
                                                   data-charts="ticket-price">
                                                   <label class="customcheck ms-2 d-inline-flex">Price
                                                      <input type="checkbox" checked="checked"
                                                         data-action="click->homecharts#setVisibility"
                                                         data-homecharts-target="ticketsPrice">
                                                      <span class="checkmark tickets-price"></span>
                                                   </label>
                                                </li>
                                                <li class="nav-item" data-homecharts-target="vSelectorItem"
                                                   data-charts="ticket-price">
                                                   <label class="customcheck mx-2 d-inline-flex">Tickets Bought
                                                      <input type="checkbox"
                                                         data-action="click->homecharts#setVisibility"
                                                         data-homecharts-target="ticketsPurchase">
                                                      <span class="checkmark tickets-bought"></span>
                                                   </label>
                                                </li>
                                                <li class="nav-item" data-homecharts-target="vSelectorItem"
                                                   data-charts="coin-supply">
                                                   <label class="customcheck mx-2 d-inline-flex">Mixed Coins
                                                      <input type="checkbox"
                                                         data-action="click->homecharts#setVisibility"
                                                         data-homecharts-target="anonymitySet">
                                                      <span class="checkmark total-mixed"></span>
                                                   </label>
                                                </li>
                                                <li class="nav-item" data-homecharts-target="vSelectorItem"
                                                   data-charts="coin-age">
                                                   <label class="customcheck mx-2 d-inline-flex">Market Price
                                                      <input type="checkbox" checked
                                                         data-action="click->homecharts#setVisibility"
                                                         data-homecharts-target="marketPrice">
                                                      <span class="checkmark total-mixed"></span>
                                                   </label>
                                                </li>
                                             </ul>
                                          </div>
                                          {{- /* MODE SELECTIONS */ -}}
                                          <div class="btn-set bg-white d-inline-flex flex-nowrap mx-2 mx-lg-4"
                                             data-homecharts-target="modeSelector"
                                             data-action="click->homecharts#setSelectMode">
                                             <label class="text-nowrap">Mode</label>
                                             <div class="btn-group top-button-group">
                                                <button name="smooth"
                                                   class="active tab-button home-chart-toggle-btn white c-txt-main first-toggle-btn">Smooth</button>
                                                <button name="stepped"
                                                   class="tab-button home-chart-toggle-btn white c-txt-main last-toggle-btn">Stepped</button>
                                             </div>
                                          </div>
                                       </div>
                                       {{- /* CHART */ -}}
                                       <div class="ps-0 ps-md-3 mb-2 market-chart-box home-chart-wrapper"
                                          data-homecharts-target="chartWrapper">
                                          <div class="d-flex w-100 position-relative top-chain-chart">
                                             <div class="chart-name-label d-flex align-items-center">
                                                <div class="homeicon-chartbar fs-20"></div>
                                                <span class="chart-name-content"
                                                   data-homecharts-target="chartName"></span>
                                             </div>
                                             <div class="chartview top-chart-view" data-homecharts-target="chartsView">
                                             </div>
                                          </div>
                                          <div
                                             class="d-flex flex-wrap justify-content-center align-items-center mb-1 mt-1 d-hide"
                                             id="chainChartFooterRow">
                                             <div class="row">
                                                <div class="col-4 column-center chart-control chart-control-wrapper">
                                                   <ul class="nav nav-pills">
                                                      <li class="nav-item nav-link active"
                                                         data-homecharts-target="axisOption"
                                                         data-action="click->homecharts#setAxis" data-option="time">
                                                         Time
                                                      </li>
                                                      <li class="nav-item nav-link" data-homecharts-target="axisOption"
                                                         data-action="click->homecharts#setAxis" data-option="height">
                                                         Blocks
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                          <span class="d-none" data-homecharts-target="rawDataURL"></span>
                                          <div class="spinner-wrapper">
                                             <div
                                                class="spinner-centerer d-flex align-items-center justify-content-center">
                                                <div class="spinner">
                                                   <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="legend-wrapper">
                                             <div class="legend d-flex align-items-center"
                                                data-homecharts-target="labels">
                                                <div class="pe-3" data-homecharts-target="legendEntry">
                                                   <div class="dygraph-legend-line"
                                                      data-homecharts-target="legendMarker"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       {{- /* TODO: Test this data controller (time & market) */ -}}
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <section>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End Chain Charts -->
         </section>
         <div class="bg-white pb-3 mt-3">
            <div class="br-8 b--def bgc-plain-bright pb-10 pt-2 table-card">
               <span class="ms-3 fs-22 fw-600 pt-4">Blockchains parameters</span>
               <div class="btable-table-wrap mt-2 maxh-none">
                  <table class="btable-table w-100">
                     <thead>
                        <tr class="text-secondary bg-none">
                           <th class="text-start">Parameter</th>
                           {{range .ParamsList}}
                           <th>{{chainName .ChainType}}</th>
                           {{end}}
                           <th>Description</th>
                        </tr>
                     </thead>
                     <tbody class="bgc-white">
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">GenerateSupported</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.GenerateSupported}}</td>
                           {{end}}
                           <td>Whether or not CPU mining is allowed</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">TargetTimePerBlock</td>
                           {{range .ParamsList}}
                           <td class="mono">{{durationToShortDurationString .TargetTimePerBlock}}</td>
                           {{end}}
                           <td>The desired amount of time to generate each block</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">RetargetAdjustmentFactor</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.RetargetAdjustmentFactor}}</td>
                           {{end}}
                           <td>Adjustment factor used to limit the minimum and maximum amount of adjustment that can
                              occur between difficulty retargets</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">CoinbaseMaturity</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.CoinbaseMaturity}}</td>
                           {{end}}
                           <td>Number of blocks required before newly mined</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">NextBlockReward</td>
                           {{range .ParamsList}}
                           <td class="mono">
                              {{template "decimalParts" (amountAsDecimalParts .NextBlockReward true)}} {{toUpperCase
                              .ChainType}}
                           </td>
                           {{end}}
                           <td>Next Block Reward (Estimate)</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">RemainingBlocks</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.RemainingBlocks}}</td>
                           {{end}}
                           <td>Remaining Blocks for next reward reduction</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">NextTime</td>
                           {{range .ParamsList}}
                           <td class="mono nowrap pe-3">{{TimeConversion .NextTime}}</td>
                           {{end}}
                           <td>Estimated time for next reward reduction</td>
                        </tr>
                        <tr>
                           <td class="mono text-start pe-2 nowrap p03rem0">SubsidyReductionInterval</td>
                           {{range .ParamsList}}
                           <td class="mono">{{.SubsidyReductionInterval}} blocks</td>
                           {{end}}
                           <td>Reduction interval in blocks</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--end block 2 -->
</div>
{{ template "footer" . }}
</body>

</html>
{{- end}}