{{define "marketlist" -}}
<!DOCTYPE html>
<html lang="en">
   {{ template "html-head" headData .CommonPageData "Market data of different types of blockchain"}}
   {{ template "home_navbar" . }}
   <div class="main-container homepage-class">
      <div class="hp-header-wrap area"></div>
      <!-- start explorer wrap -->
      <div class="hp-explore-wrap" id="hp-explore-wrap">
         <div class="container pt-1">
         <div class="bg-white pb-3 mt-3">
            <div class="br-8 b--def bgc-plain-bright pb-10 pt-2 table-card">
               <span class="ms-3 fs-22 fw-600 pt-4">Coin Market Cap</span>
               <div class="btable-table-wrap mt-2 maxh-none">
                  <table class="btable-table w-100">
                     <thead>
                        <tr class="text-secondary bg-none">
                           <th class="text-start">Name</th>
                           <th class="text-start">Price</th>
                           <th class="text-start">24h Change</th>
                           <th class="text-start">7D Change</th>
                           <th class="text-start">Market Cap</th>
                           <th class="text-start">24h Volumn</th>
                        </tr>
                     </thead>
                     <tbody  class="bgc-white">
                        {{range .MarketCapList}}
                        <tr>
                <td class="text-start">
                  <img src="{{if eq .Symbol "litecoin"}}/images/ltc-icon.png{{else}}{{.IconUrl}}{{end}}" width="25" height="25" />
                  <span class="ms-2 fs-17">{{.Name}}</span>
                  <span class="fs-17">({{toUpperCase .SymbolDisplay}})</span>
                </td>
                <td class="text-start">${{commaWithDecimal .Price 2}}</td>
                <td class="text-start {{if gt .Percentage1D 0.0}}c-green-2{{else}}c-red{{end}}">{{commaWithDecimal .Percentage1D 4}}%</td>
                <td class="text-start {{if gt .Percentage7D 0.0}}c-green-2{{else}}c-red{{end}}">{{commaWithDecimal .Percentage7D 4}}%</td>
                <td class="text-start">${{difficultyDisp .MarketCap}}</td>
                <td class="text-start">${{difficultyDisp .Volumn}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
    </div>
    </div>
   </div>
         </div>
      </div>
      <!--end block 2 -->
   </div>
   {{  template "footer_embed" . }}
   </body>
</html>
{{- end}}