<template>
  {{define "stakingreward"}}
  <!DOCTYPE html>
  <html lang="en">
  {{ $topBlock := 0 }}
  {{ template "html-head" headData .CommonPageData "Staking Reward Calculator" }}
  {{ template "navbar". }}
  <div class="content">
    <div class="container px-0 main" 
      data-controller="stakingreward"
      data-stakingreward-ticket-reward="{{.TicketReward}}" 
      data-stakingreward-reward-period="{{.RewardPeriod}}"
      data-stakingreward-dcrprice="{{.DCRPrice}}">
      <p class="fs-20"><a class="fs-20" href="/">Homepage</a>&nbsp;> <a class="fs-20" href="/decred">Decred</a>&nbsp;> Staking Reward Calculator</p>
      <div class="px-1">
        <div class="d-flex justify-content-between mt-3 align-items-end">
          <span class="h2 d-flex p-2">
            Staking Reward Calculator
          </span>
        </div>
        <div class="bg-white p-2 ps-0">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 d-flex mt-2">
              <span class="form-label align-self-center mr-1 text-nowrap">Amount (<span class="text-secondary">DCR</span>)</span>
              <input data-action="change->stakingreward#amountChanged" 
                data-action="keyup->stakingreward#amountKeypress"
                data-stakingreward-target="amount" type="number" 
                class="form-control amount mr-1 ms-2"
                placeholder="Enter the amount of DCR to stake">
            </div>

            <div class="col-lg-6 col-md-8 col-sm-10 d-flex mt-2 ms-2">
              <span class="form-label align-self-center mr-1 text-nowrap">Start</span>
              <input data-action="change->stakingreward#startDateChanged" 
                data-action="keyup->staking#startDateKeypress"
                data-stakingreward-target="startDate" min="2016-01-02" type="date" 
                class="form-control date mr-1 ms-2"
                placeholder="Start Date">
            </div>

            <div class="col-lg-6 col-md-8 col-sm-10 d-flex mt-2 ms-2">
              <span class="form-label align-self-center mr-1 text-nowrap">End</span>
              <input data-action="change->stakingreward#endDateChanged" 
                data-action="keyup->staking#endDateKeypress"
                data-stakingreward-target="endDate" min="2016-01-02" type="date" 
                class="form-control date ms-2"
                placeholder="End Date">
            </div>
          </div>
          <div class="row">
           <div class="col-lg-6 col-md-8 col-sm-10 d-flex">
              <span data-stakingreward-target="amountError" class="fs14" style="color: #f12222;"></span>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 d-flex ms-2">
              <span data-stakingreward-target="startDateErr" class="fs14" style="color: #f12222;"></span>
            </div>
          </div>
          <div class="row">
            <p class="m-0 desc mt-2 common-card py-2 ps-3 w-500px" style="line-height: 30px;">
              <span>
                <span class="form-label">Days:</span>
                <span class="fw-bold" data-stakingreward-target="daysText">0</span>
              </span>

              <span class="d-inline ms-3">
                <span class="form-label">Yield:</span>
                <span class="fw-bold" data-stakingreward-target="percentageRoi">0</span>
                <span class="text-secondary">%</span>
              </span>

              <span class="d-inline ms-3">
                <span class="form-label">Reward:</span>
                <span class="fw-bold" data-stakingreward-target="amountRoi">0</span>
                <span class="text-secondary">DCR</span>
              </span>
            </p>
          </div>
        </div>
      </div>
    <div class="br-8 b--def bgc-plain-bright pb-10 common-card">
      <div class="btable-table-wrap maxh-none">
            <table class="btable-table w-100 d-none" data-stakingreward-target="table">
          <thead>
            <tr class="bg-none">
              <th class="text-start">Date</th>
              <th class="text-center d-sm-table-cell">Height</th>
              <th class="text-center d-sm-table-cell">Tickets Price Avg <small>(<span class="text-secondary">DCR</span>)</small></th>
              <th class="text-center d-sm-table-cell">Returned Fund <small>(<span class="text-secondary">DCR</span>)</small></th>
              <th class="text-center d-sm-table-cell">Reward <small>(<span class="text-secondary">DCR</span>)</small></th>
              <th class="text-center d-sm-table-cell">Total Balance <small>(<span class="text-secondary">DCR</span>)</small></th>
              <th class="text-center d-sm-table-cell">% Gained</th>
              <th class="text-center d-sm-table-cell">Tickets Purchased</th>
            </tr>
          </thead>
          <tbody class="bgc-white" data-stakingreward-target="tableBody"></tbody>
        </table>
        </div>
        </div>
        <template data-stakingreward-target="rowTemplate">
          <tr>
            <td class="text-start"></td>
            <td class="text-center d-sm-table-cell"></td>
            <td class="text-center d-sm-table-cell"></td>
            <td class="text-center d-sm-table-cell"></td>
            <td class="text-center d-sm-table-cell"></td>
            <td class="text-center d-sm-table-cell"></td>
            <td class="text-center d-sm-table-cell"></td>
            <td class="text-center d-sm-table-cell"></td>
          </tr>
        </template>
    </div>
  </div>
  {{ template "footer". }}
  </body>

  </html>
  {{ end }}
</template>
