{{define "supply"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData .CommonPageData (printf "Distribution Information Page")}}
{{$ChainType := .ChainType}}
{{if ne $ChainType "dcr"}}
{{template "mutilchain_navbar" . }}
{{else}}
{{template "navbar" . }}
{{end}}
{{$HomeInfo := .Info}}
<div class="container"
      data-controller="supply" 
      data-supply-target-time="{{.TargetTime}}"
      data-supply-ticket-time="{{.TicketTargetTime}}">
      {{if ne $ChainType "dcr"}}
      <nav class="breadcrumbs mt-0">
      {{else}}
      <nav class="breadcrumbs">
      {{end}}
      <a href="/chain" class="breadcrumbs__item no-underline ps-2">
           <span class="homeicon-tags me-1"></span>
           <span class="link-underline">Blockchains</span>
        </a>
        {{if eq $ChainType "dcr"}}
        <a href="/" class="breadcrumbs__item item-link">Decred</a>
        {{else}}
        <a href="/chain/{{$ChainType}}" class="breadcrumbs__item item-link">{{chainName $ChainType}}</a>
        {{end}}
        <span class="breadcrumbs__item is-active">Supply</span>
     </nav>
  <div class="row">
    <div class="col-24 col-sm-16 col-lg-12 col-xl-9 mt-3">
      <p class="fs-20">Next Block Reward Reduction</p>
      <div class="timer-countdown">
        <div data-supply-target="tiles" class="countdown-tiles"></div>
        <div class="labels">
          <li>Days</li>
          <li>Hours</li>
          <li>Mins</li>
          <li>Secs</li>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-24 d-flex justify-content-between">
          <span>Current Block</span>
          <span class="fw-600 fs-17">{{.BlockHeight}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Current Block Reward</span>
          <div class="fw-600 fs-17">{{template "decimalParts" (amountAsDecimalParts .BlockReward true)}} {{toUpperCase $ChainType}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Next Block Reward (Est)</span>
          <div class="fw-600 fs-17">{{template "decimalParts" (amountAsDecimalParts .NextBlockReward true)}} {{toUpperCase $ChainType}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Remaining Blocks</span>
          <div class="fw-600 fs-17">{{subtract $HomeInfo.Params.RewardWindowSize (toint64 $HomeInfo.IdxInRewardWindow)}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>{{if eq $ChainType "dcr"}}Target{{else}}Halving{{end}} Date</span>
          <div class="fw-600 fs-17">{{TimeConversion .TargetTime}}</div>
        </div>
      </div>
      <p class="fs-20 mt-3">Distribution informations</p>
      <div class="row mt-2">
        <div class="col-24 d-flex justify-content-between">
          <span>Total Coin Supply</span>
          <div class="fw-600 fs-17">{{template "decimalParts" (float64AsDecimalParts (toFloat64Amount
            $HomeInfo.CoinSupply) 0 true)}} {{toUpperCase $ChainType}}</div>
        </div>
      </div>
      {{if eq $ChainType "dcr"}}
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Treasury</span>
          <div class="fw-600 fs-17">{{template "decimalParts" (float64AsDecimalParts (toFloat64Amount (add
            $HomeInfo.DevFund $HomeInfo.TreasuryBalance.Balance)) 0 true)}} {{toUpperCase $ChainType}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Treasury Block Reward</span>
          <div class="fw-600 fs-17">{{template "decimalParts" (float64AsDecimalParts (toFloat64Amount
            $HomeInfo.NBlockSubsidy.Dev) 8 true 2)}} {{toUpperCase $ChainType}}</div>
        </div>
      </div>
      {{end}}
    </div>
    {{if eq $ChainType "dcr"}}
    <div class="col-24 col-sm-16 col-lg-12 col-xl-9 mt-3">
      <p class="fs-20">Next Ticket Price Change</p>
      <div class="timer-countdown">
        <div data-supply-target="ticketTiles" class="countdown-tiles"></div>
        <div class="labels">
          <li>Days</li>
          <li>Hours</li>
          <li>Mins</li>
          <li>Secs</li>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-24 d-flex justify-content-between">
          <span>Current Ticket Price</span>
          <div class="fw-600 fs-17">{{template "decimalParts" (float64AsDecimalParts $HomeInfo.StakeDiff 8 false 2)}} DCR</div>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Next Ticket Price</span>
          <div class="fw-600 fs-17">{{template "decimalParts" (float64AsDecimalParts $HomeInfo.NextExpectedStakeDiff 2 false)}} DCR</div>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Vote Reward</span>
          <div class="fw-600 fs-17">{{template "decimalParts" (float64AsDecimalParts (toFloat64Amount (divide
            $HomeInfo.NBlockSubsidy.PoS 5)) 8 true 2)}} DCR/vote</div>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Remaining Blocks</span>
          <div class="fw-600 fs-17">{{subtract $HomeInfo.Params.WindowSize (toint64 $HomeInfo.IdxBlockInWindow)}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Next Ticket Price Change Date</span>
          <div class="fw-600 fs-17">{{TimeConversion .TicketTargetTime}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-24 d-flex justify-content-between">
          <span>Total Staked</span>
          <div class="fw-600 fs-17">{{template "decimalParts" (float64AsDecimalParts $HomeInfo.PoolInfo.Value 0 true)}} DCR</div>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</div>
{{ template "footer" . }}
</body>

</html>
{{end}}