{{define "ticketpool"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" headData . "Decred Ticket Pool"}}
    {{template "navbar" . }}

    <div class="container mt-2" data-controller="ticketpool">
      <nav class="breadcrumbs mt-0">
        <a href="/" class="breadcrumbs__item no-underline ps-2">
           <span class="homeicon-tags me-1"></span>
           <span class="link-underline">Homepage</span>
        </a>
        <a href="/decred" class="breadcrumbs__item item-link">Decred</a>
        <span class="breadcrumbs__item is-active">Ticket Pool</span>
     </nav>
      <div class="mt-2">
        <h2 style="text-align: center; margin-top: 0px">Ticket Pool Visualization</h2>
        <p style="text-align: center; margin-bottom: 5px">
          These charts represent the current ticket pool. For historic views go <a href="/charts">here</a>.
        </p>
      </div>
      <div class="position-relative mt-1" data-ticketpool-target="wrapper">
        <div class="modal position-absolute"></div>
        <div class="d-flex justify-content-center ai-center">
          <div>
          <div class="d-iflex ai-center me-2 mt-2">
          <label>Zoom:&nbsp;</label>
          <div class="btn-group" data-toggle="buttons">
            <input data-ticketpool-target="zoom" data-action="click->ticketpool#onZoom" type="button" class="tab-button white me-1 c-txt-main all active" value="All" name="all">
            <input data-ticketpool-target="zoom" data-action="click->ticketpool#onZoom" type="button" class="tab-button white me-1 c-txt-main 1d" value="Day" name="day">
            <input data-ticketpool-target="zoom" data-action="click->ticketpool#onZoom" type="button" class="tab-button white me-1 c-txt-main 1wk" value="Week" name="wk">
            <input data-ticketpool-target="zoom" data-action="click->ticketpool#onZoom" type="button" class="tab-button white me-1 c-txt-main 1m" value="Month" name="mo">
          </div>
          </div>
          <div class="d-iflex ai-center mt-2">
          <label>Bars:&nbsp;</label>
          <div class="btn-group" data-toggle="buttons">
            <input data-ticketpool-target="bars" data-action="click->ticketpool#onBarsChange" type="button" class="tab-button me-1 white c-txt-main all active" value="Blocks" name="all">
            <input data-ticketpool-target="bars" data-action="click->ticketpool#onBarsChange" type="button" class="tab-button me-1 white c-txt-main 1d" value="Day" name="day">
            <input data-ticketpool-target="bars" data-action="click->ticketpool#onBarsChange" type="button" class="tab-button me-1 white c-txt-main 1wk" value="Week" name="wk">
            <input data-ticketpool-target="bars" data-action="click->ticketpool#onBarsChange" type="button" class="tab-button me-1 white c-txt-main 1m" value="Month" name="mo">
          </div>
        </div>
        </div>
      </div>
        <div class="p-3 common-card mt-3">
        <div id="tickets-by-purchase-date" class="tp-charts"></div>
        </div>
        <div class="p-3 common-card mt-2">
        <div id="tickets-by-purchase-price" class="tp-charts"></div>
        </div>
        <div class="justify-content-between common-card p-2 mt-2">
          <div class="dygraph-label dygraph-title mb-1">Distribution of Tickets by Reward Outputs</div>
          <div class="col d-flex text-center mw50 w-100 m-auto ">
            <table class="tp-outputs-align" data-ticketpool-target="outputs">
            </table>
          </div>
        </div>
      </div>
    </div>
    {{ template "footer" . }}
</body>
</html>
{{end}}
