.finance-report-page {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

@media (max-width: 1450px) {
  .finance-report-page {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media (max-width: 1250px) {
  .finance-report-page {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

.month-col {
  width: 80px;
}

.finance-table-header {
  background-color: #dbdbdb;
}

.proposal-name-col {
  width: 20%;
}

.domain-group-report {
  width: 50%;
}

@media (max-width: 1450px) {
  .proposal-name-col {
    width: 25%;
  }
}

@media (max-width: 1200px) {
  .proposal-name-col {
    width: 30%;
  }

  .domain-group-report {
    width: 70%;
  }
}

@media (max-width: 650px) {
  .domain-group-report {
    width: 100%;
  }
}

.proposal-report-table {
  width: 1920px;
}

.headcol {
  position: absolute;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 1px;

  /* only relevant for first row */
  margin-top: -1px;

  /* compensate for top border */
}

.headcol::before {
  content: "Row ";
}

.report-first-header {
  position: sticky;
  left: 0;
  z-index: 900;
  background-color: #c3c3c3 !important;
}

.report-last-header {
  position: sticky;
  right: 0;
  background-color: #c3c3c3 !important;
}

.report-first-data {
  position: sticky;
  left: 0;
  background-color: #d7d7d7 !important;
}

.report-last-data {
  position: sticky;
  right: 0;
  background-color: #d7d7d7 !important;
}

.report-tool-bar {
  position: sticky;
  left: 0;
}

.button-group-title {
  position: sticky;
  left: 100px;
}

.table-header-sticky {
  position: sticky;
  top: 5px;
  background-color: #dbdbdb !important;
}

.head-first-cell {
  padding: 50px;
  background-image:
    -webkit-gradient(
      linear,
      right top,
      left bottom,
      color-stop(49%, white),
      color-stop(50%, black),
      color-stop(51%, white)
    );
  background-image: -webkit-linear-gradient(top right, #e5e5e5  49%, black 50%, #c5c5c5  51%);
  background-image: -o-linear-gradient(top right, #e5e5e5 49%, black 50%, #c5c5c5 51%);
  background-image: linear-gradient(to bottom left, #e5e5e5 49%, black 50%, #c5c5c5 51%);
}

.head-first-cell .c1 {
  -webkit-transform: translate(5px, 12px);
  -ms-transform: rotate(90deg) translate(5px, 12px);
  transform: rotate(90deg) translate(5px, 12px);
}

.head-first-cell .c2 {
  -webkit-transform: translate(15px, -80px);
  -ms-transform: translate(15px, -80px);
  transform: translate(15px, -80px);
}

.col-sort {
  transform: rotate(90deg);
  cursor: pointer;
}

.homeicon-swap {
  font-size: 18px;
  cursor: pointer;
}
