.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
}

.new-home-header {
  margin-top: 70px;
}

.info-section-page {
  border: 1px solid #cee3e3;
  box-shadow: rgb(170 169 169 / 20%) 0 2px 8px 0 !important;
  border-radius: 10px;
}

.new-home-card-header {
  background-color: #eaf0f5 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.new-home-card-container {
  box-shadow: rgb(170 169 169 / 20%) 0 2px 8px 0 !important;
  border: 1px solid #cee3e3;
  border-radius: 10px;
}
